openapi: 3.2.0
info:
  title: Image Editing API Reference v2 endpoints API
  version: ''
  description: 'Below you will find the technical specifications, request schemas, and response models for our endpoints.


    Choose an endpoint from the sidebar to view code samples and run test requests.'
servers:
- url: https://engine.prod.bria-api.com/v2/image/edit
- url: https://engine.prod.bria-api.com/v1
tags:
- name: v2 endpoints
  description: Endpoints that are part of BRIA API version 2.
paths:
  /image/edit:
    post:
      summary: Image Edit by Text
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Powered by the **FIBO models family**, Bria’s Image Editing by Text API equips builders with the ability to modify existing images using natural language instructions or structured JSON instructions.'
      operationId: edit-image
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - images
              properties:
                images:
                  type: array
                  items:
                    type: string
                  description: "The source image to be edited. Publicly available URL or Base64-encoded. \nAccepted formats: JPEG, JPG, PNG, WEBP. \n**Must contain exactly one item.**\n"
                instruction:
                  type: string
                  description: Text-based edit instruction (e.g., "make the sky blue", "add a cat"). This parameter serves as the text prompt.
                mask:
                  type: string
                  description: "Publicly available URL or Base64-encoded mask image (black and white). \nBlack areas will be preserved, white areas will be edited. If omitted, the edit applies to the entire image. \nThe input image and the input mask must be of the same size.\nThis parameter is optional.\n"
                structured_instruction:
                  type: string
                  description: A string containing the structured edit instruction in JSON format. Use this instead of `instruction` for precise, programmatic control.
                negative_prompt:
                  type: string
                  description: A text prompt specifying concepts, styles, or objects to exclude from the edited image. This parameter is optional.
                guidance_scale:
                  type: integer
                  default: 5
                  minimum: 3
                  maximum: 5
                  description: Determines how closely the generated image should adhere to the content in the instruction or structured_instruction. This parameter is optional.
                model_version:
                  type: string
                  default: FIBO-edit
                  enum:
                  - FIBO-edit
                  description: 'The version of the model to use. This parameter is optional.

                    If omitted (Default): Your request will automatically use Bria''s current default model version (currently FIBO-edit).

                    If specified: Your request will be pinned to this exact version.

                    '
                steps_num:
                  type: integer
                  default: 30
                  minimum: 20
                  maximum: 50
                  description: Number of diffusion steps. Uses model default if omitted. This parameter is optional.
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: "Specifies the response mode. This parameter is optional.\n  - When `false` (default), the request is processed asynchronously: the API immediately returns a status URL to track progress.\n  - When `true`, the request is processed synchronously: the API hold the connection open until the proccess is complete and then returns the final image URL in the response.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                  - png
                  - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the instruction. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on instruction moderation failure. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on images or mask moderation failure. This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual output moderation failure. This parameter is optional.
            examples:
              text_instruction:
                summary: Global Edit by Text Instruction
                value:
                  instruction: 'change color pallet of the image to: #014040, #02735E, #03A678, #F27405, #731702'
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/pexels-cottonbro-3401900.jpg
              json_instruction:
                summary: Edit by Structured Instruction
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/42082.jpg
                  structured_instruction: '{"short_description":"A realistic photograph of a brown rabbit sitting on a natural ground surface, looking towards the left. The rabbit has soft fur, long ears, and a small fluffy tail. The scene is captured with a contemporary color scheme and balanced exposure, highlighting the natural textures and details of the animal.","objects":[{"description":"A realistic brown rabbit with soft, detailed fur, long ears, and a small, fluffy white tail. Its eyes are dark and observant, and its whiskers are delicate.","location":"center","relationship":"The main subject of the image, positioned centrally on the ground.","relative_size":"large within frame","shape_and_color":"Oval-shaped body, brown and white fur.","texture":"Soft, dense fur.","appearance_details":"Prominent whiskers, alert eyes, and a twitching nose.","pose":"Sitting with its front paws tucked under its chest and hind legs slightly extended, body slightly turned to the left.","expression":"Alert and curious.","action":"Sitting still, observing its surroundings.","orientation":"Facing left, slightly angled towards the viewer."}],"background_setting":"A softly blurred natural ground surface, possibly grass or dirt, providing a subtle and unobtrusive backdrop that keeps the focus on the rabbit.","lighting":{"conditions":"Bright, natural daylight with balanced exposure.","direction":"Evenly lit from above and slightly to the front.","shadows":"Soft, subtle shadows beneath the rabbit, indicating natural light."},"aesthetics":{"composition":"Centered composition with the rabbit as the main focal point, creating a portrait-like feel.","color_scheme":"Contemporary natural color scheme with earthy tones and subtle greens/browns.","mood_atmosphere":"Calm, natural, and serene.","preference_score":"very high","aesthetic_score":"very high"},"photographic_characteristics":{"depth_of_field":"Shallow depth of field, with the rabbit in sharp focus and the background softly blurred.","focus":"Sharp focus on the rabbit''s face and fur.","camera_angle":"Eye-level, capturing the rabbit from its perspective.","lens_focal_length":"Portrait lens (e.g., 50mm-85mm)"},"style_medium":"photograph","context":"This is a realistic wildlife photograph, suitable for nature magazines, educational materials, or as a decorative print.","artistic_style":"realistic","edit_instruction":"Render a detailed realistic photograph of a brown rabbit sitting on a natural ground surface, looking towards the left, with a contemporary color scheme and balanced exposure."}'
              masked_text_instruction:
                summary: Edit Masked Area
                value:
                  instruction: Write FIBO ROCKS on all balloons, use dark creative font, different font for each balloon
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/pexels-natalie-bond-320378-3371094.jpg
                  mask: https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/pexels-natalie-bond-320378-3371094_mask.png
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /structured_instruction/generate:
    post:
      summary: Generate Structured Instruction
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: '**Description**


        Translates a user''s text-based edit instruction and source image/mask into a detailed, machine-readable structured edit instruction in JSON format.


        This endpoint uses the state-of-the-art Gemini 2.5 Flash VLM bridge to understand the edit context. **It only returns the JSON string and does not generate an image.**


        **Context-Aware Masking**


        When a `mask` is provided, the VLM analyzes the specific region of interest in relation to the rest of the image. It generates a `structured_instruction` tailored specifically for that area (e.g., ensuring lighting and perspective match the unmasked background), ensuring seamless integration when the edit is applied.


        **Why use this endpoint?**

        - **Decoupling:** Decouples the "intent translation" step from the "image editing" step, giving you maximum flexibility.

        - **Control & Auditability:** Allows for a "human-in-the-loop" to inspect, programmatically edit, or version the JSON before generating an image (e.g., for a custom UI).

        - **Consistency & Automation:** Generate one `structured_instruction` and pass it to `/v2/image/edit` multiple times to create consistent, auditable variations.

        - **Hybrid Deployment:** Use Bria''s state-of-the-art VLM bridge via API while self-hosting the open-source FIBO image model on your own private cloud.


        The resulting `structured_instruction` can be used as input for the `/v2/image/edit` endpoint.


        ---


        **Input Combination Rules**

        The request body must use exactly one of the following combinations:

        * **Global Instruction:** `images` + `instruction`

        * **Masked Instruction:** `images` + `mask` + `instruction`


        ---


        **API Access**


        You can register and access the API Token through Bria''s platform by clicking here.'
      operationId: generate-structured-instruction
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - images
              - instruction
              properties:
                instruction:
                  type: string
                  description: Required. Text-based edit instruction (e.g., "make the sky blue", "add a cat"). This parameter serves as the text prompt.
                images:
                  type: array
                  items:
                    type: string
                  description: Required. The source image to be edited. Publicly available URL or Base64-encoded. Must contain exactly one item.
                mask:
                  type: string
                  description: Optional. Publicly available URL or Base64-encoded mask image (black and white). Black areas will be preserved, white areas will be edited. If omitted, the edit applies to the entire image.
                seed:
                  type: integer
                  description: Optional. Seed for deterministic generation. If omitted, a random seed is generated and used.
                sync:
                  type: boolean
                  default: false
                  description: "Specifies the response mode. Optional.\n  - When `false` (default), the request is processed asynchronously: the API immediately returns a status URL to track progress.\n  - When `true`, the request is processed synchronously: the API hold the connection open until the proccess is complete and then returns the final result in the response.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the instruction. Optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on instruction moderation failure. Optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on images or mask moderation failure. Optional.
            examples:
              generate_instruction:
                summary: Generate Instruction from Image & Text
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/42082.jpg
                  instruction: create a detailed realistic photo, with contemporary color scheme, and balanced exposure photo roughly based on this sketch
              generate_masked_instruction:
                summary: Generate Instruction from Masked Image & Text
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/pexels-natalie-bond-320378-3371094.jpg
                  mask: https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-edit/pexels-natalie-bond-320378-3371094_mask.png
                  instruction: Write FIBO ROCKS on all balloons, use dark creative font, different font for each balloon
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStructuredInstructionResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /add_object_by_text:
    post:
      summary: Add Object by Text
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: add-object-by-text
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Insert new objects into an image using natural language to describe the object and its position.


        **Example:** Instruction: "Place a red vase with flowers on the table"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - instruction
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                instruction:
                  type: string
                  description: Natural language command.
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /replace_object_by_text:
    post:
      summary: Replace Object by Text
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: replace-object-by-text
      description: '**Try out this capability in Bria''s sandbox**

        **Description**


        Swap an existing object in an image with a new one using a natural language command.


        **Example:** Instruction: "Replace the red apple with a green pear"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - instruction
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                instruction:
                  type: string
                  description: Natural language command.
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /erase_by_text:
    post:
      summary: Erase Object by Text
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: erase-object-by-text
      description: '**Try out this capability in Bria''s sandbox**

        **Description**


        Remove specific objects or unwanted elements from an image using natural language descriptions.


        **Example:** object_name: "table"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - object_name
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                object_name:
                  type: string
                  description: The name of the object to remove (e.g., "the lamp").
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /blend:
    post:
      summary: Image Blending
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: blend-image
      description: '**Description**


        Merge objects, apply textures, or rearrange items within an image using natural language.


        **Example:** Instruction: "Place the art on the shirt, keep the art exactly the same"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - instruction
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                instruction:
                  type: string
                  description: Free-text command describing the blend.
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reseason:
    post:
      summary: Reseason Image
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: reseason
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Change the season or weather atmosphere of an image.


        **Example:** Season: "winter"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - season
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                season:
                  type: string
                  description: Desired season (Enum or Custom Text).
                  enum:
                  - spring
                  - summer
                  - autumn
                  - winter
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /rewrite_text:
    post:
      summary: Rewrite
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: rewrite
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Change existing text within an image to new specific text.


        **Example:** new_text: "FIBO Edit!"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - new_text
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                new_text:
                  type: string
                  description: The new string to appear in the image.
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sketch_to_colored_image:
    post:
      summary: Sketch to Image
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: sketch-to-image
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Convert a line drawing or sketch into a photorealistic colored image.


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /restore:
    post:
      summary: Restore Old Images
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: restore
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Renew old photos by removing noise, scratches, and blur.


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /colorize:
    post:
      summary: Colorize
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: colorize
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Add vivid colors to B&W photos or convert color to B&W.

        **Example:** style: "color_contemporary"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - color
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                color:
                  type: string
                  enum:
                  - color_contemporary
                  - color_vivid
                  - black_and_white
                  - sepia_vintage
                  description: The restoration/color style ID.
                webhook_url:
                  type: string
                  format: uri
                  description: "Optional URL for receiving the result via webhook when the async job completes. \nSee [Webhooks](https://docs.bria.ai/webhooks).\n"
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /restyle:
    post:
      summary: Restyle Image
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: restyle
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Transform the artistic style of an image. Accepts either a preset Style ID or a custom description.


        **Supported Enum IDs:**

        - render_3d

        - cubism

        - oil_painting

        - anime

        - cartoon

        - coloring_book

        - retro_ad

        - pop_art_halftone

        - vector_art

        - story_board

        - art_nouveau

        - cross_etching

        - wood_cut


        **Example:** Style: "oil_painting"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - style
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                style:
                  type: string
                  description: Style Enum OR custom free text description.
                  enum:
                  - render_3d
                  - cubism
                  - oil_painting
                  - anime
                  - cartoon
                  - coloring_book
                  - retro_ad
                  - pop_art_halftone
                  - vector_art
                  - story_board
                  - art_nouveau
                  - cross_etching
                  - wood_cut
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /relight:
    post:
      summary: Relight Image
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      operationId: relight
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Modify the lighting setup (direction and atmosphere) of an image.


        **Example:**


        * Light Type: "spotlight on subject, keep background settings"


        Input Image

        Output Image'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - light_type
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string** - **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                light_direction:
                  type: string
                  description: Direction (e.g., "front", "side", "top-down").
                  enum:
                  - front
                  - side
                  - bottom
                  - top-down
                light_type:
                  type: string
                  description: Type (e.g., "sunset", "studio", "neon").
                  enum:
                  - midday
                  - blue hour light
                  - low-angle sunlight
                  - sunrise light
                  - spotlight on subject, keep background settings
                  - overcast light
                  - soft overcast daylight lighting
                  - cloud-filtered lighting
                  - fog-diffused lighting
                  - moonlight lighting
                  - starlight lighting nighttime
                  - soft bokeh lighting
                  - harsh studio lighting keep background setting
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEditResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /erase:
    post:
      summary: Eraser
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        The *Eraser Route* enables the removal of elements or specific areas from a given image.


        You can define the area to be removed by providing a mask that outlines the region to be erased. There are two main ways recommended to generate these masks:


        1. Masks can be created by allowing users to draw directly on the image with a brush, for example. To access the SDK that demonstrates how to implement a brush feature in your interface, please refer to the following link.


        2. By using the `/objects/mask_generator` route, which will generate all the possible masks for an image.


        **Output Characteristics**


        - The modified image is returned at the original resolution, preserving full visual quality without any automatic resizing or downscaling.

        - All areas outside the provided mask remain completely unchanged, ensuring pixel-perfect preservation of unedited regions.'
      operationId: erase
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - mask
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string**  \n- **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                mask:
                  type: string
                  description: 'The binary mask image that defines the region where object generation will occur.


                    **Mask Requirements**

                    - The region to generate content must have a pixel value of **255 (white)**.

                    - All other areas must have a pixel value of **0 (black)**.

                    - The mask must have the **same aspect ratio** as the input image.


                    **Supported Input Types**

                    - **Base64-encoded string** – provide the mask data directly in the request.

                    - **URL** – provide a publicly accessible URL to the mask image.


                    Accepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.


                    Ensure that any provided URL is publicly accessible at the time of the request.

                    '
                mask_type:
                  type: string
                  default: manual
                  enum:
                  - manual
                  - automatic
                  description: "Specifies how the input mask was created.\n\n- **`manual` (default)** – Use when the mask was generated by a user, for example, using a brush tool.  \n- **`automatic`** – Use when the mask was generated by an algorithm, such as **SAM** or other automated segmentation methods.\n"
                preserve_alpha:
                  type: boolean
                  default: true
                  description: 'Controls whether the alpha channel values from the input image are retained in the output, if the input includes an alpha channel.

                    - When true: The output image maintains the original transparency of fully and partially transparent pixels.

                    - When false: The output image is fully opaque.

                    - Has no effect if the input image does not include an alpha channel.

                    '
                sync:
                  type: boolean
                  default: false
                  description: "Specifies the response mode.\n  - When `false` (default), the request is processed asynchronously: the API immediately returns a status URL to track progress.\n  - When `true`, the request is processed synchronously: the API hold the connection open until the proccess is complete and then returns the final image URL in the response.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                visual_input_content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to input visual.


                    Expected behavior:

                    - Processing stops if the image fails moderation.

                    - Returns a 422 error with details about which parameter failed.

                    '
                visual_output_content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to result visual.


                    Expected behavior:

                    - If the modified image fails moderation, returns a 422 error.

                    '
            examples:
              send using url:
                value:
                  image: https://labs-assets.bria.ai/sandbox-example-inputs/eraser_image_example.jpg
                  mask: https://labs-assets.bria.ai/sandbox-example-inputs/eraser_mask_example.jpg
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. Image could not be found at the provided URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '460':
          description: Failed to download image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: "**Internal Server Error** – A critical failure occurred in Bria's infrastructure, preventing the Status Service from responding.  \n- This response indicates a service outage or unexpected runtime failure.  \n- Check [Bria's Status Page](https://status.bria.ai) for real-time updates.\n- Contact [Support](mailto:support@bria.ai).\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /gen_fill:
    post:
      summary: Generative Fill
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        The *GenFill Route* enables the generation of objects by prompt in a specific region of an image.


        You can define the area for object generation by using a mask that outlines the region where the object will be created. Our model is optimized to work seamlessly with blob-shaped masks.


        Masks can be created by allowing users to draw directly on the image with a brush, for example. To access the SDK that demonstrates how to implement a brush feature in your interface, please refer to the following link.


        **Output Characteristics**


        - The modified image is returned at the original resolution, preserving full visual quality without any automatic resizing or downscaling.

        - All areas outside the provided mask remain completely unchanged, ensuring pixel-perfect preservation of unedited regions.

        - If the input includes an alpha channel and `preserve_alpha=true`, the original transparency values (both full and partial) are maintained in the output.


        **Content Moderation**


        This endpoint includes granular content moderation controls to ensure safe usage across all stages of processing:


        - **Prompt Moderation** – Validates the provided prompt and rejects requests containing unsafe or prohibited terms before processing starts.

        - **Input Image Moderation** – Scans the uploaded image and stops processing if inappropriate or restricted content is detected.

        - **Output Image Moderation** – Evaluates the generated image and blocks the response if it violates safety guidelines.'
      operationId: gen-fill
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              - mask
              - prompt
              properties:
                image:
                  type: string
                  description: "The source image to be handled by the API.  \nSupported input types:  \n- **Base64-encoded string**\n- **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                mask:
                  type: string
                  description: 'The binary mask image that defines the region where object generation will occur.


                    **Mask Requirements**

                    - The region to generate content must have a pixel value of **255 (white)**.

                    - All other areas must have a pixel value of **0 (black)**.

                    - The mask must have the **same aspect ratio** as the input image.


                    **Supported Input Types**

                    - **Base64-encoded string** – provide the mask data directly in the request.

                    - **URL** – provide a publicly accessible URL to the mask image.


                    Accepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.


                    Ensure that any provided URL is publicly accessible at the time of the request.

                    '
                prompt:
                  type: string
                  description: 'The prompt you would like to use to generate the object within the masked region.


                    Prompt Length Limits: ~90-110 words

                    '
                refine_prompt:
                  type: boolean
                  default: true
                  description: 'Controls the automatic prompt refinement feature.

                    - **`true` (default):** The provided prompt is automatically adjusted for optimal results. The adjusted prompt is then returned in the response payload as `refined_prompt`.

                    - **`false`:** The original prompt is used as-is, without modification.

                    '
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: "When enabled (default: `true`), the input prompt is moderated before processing.\n\n**Expected Behavior**\n- The prompt is scanned for NSFW content and terms that violate Bria’s ethical guidelines.  \n- If the prompt fails moderation, the request is blocked and the API responds with a 422 error.\n"
                negative_prompt:
                  type: string
                  description: The prompt you would like to use to specify details or attributes to avoid in the object generated within the masked region.
                preserve_alpha:
                  type: boolean
                  default: true
                  description: 'Controls whether the alpha channel values from the input image are retained in the output, if the input includes an alpha channel.

                    - When true: The output image maintains the original transparency of fully and partially transparent pixels.

                    - When false: The output image is fully opaque.

                    - Has no effect if the input image does not include an alpha channel.

                    '
                sync:
                  type: boolean
                  default: false
                  description: "Specifies the response mode.\n  - When `false` (default), the request is processed asynchronously: the API immediately returns a status URL to track progress.\n  - When `true`, the request is processed synchronously: the API hold the connection open until the proccess is complete and then returns the final image URL in the response.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                seed:
                  type: integer
                  description: You can choose whether you want your generated results to be random or predictable. You can recreate the same result in the future by using the seed value of a result from a response. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to input visual.


                    Expected behavior:

                    - Processing stops if the image fails moderation.

                    - Returns a 422 error with details about which parameter failed.

                    '
                visual_output_content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to result visual.


                    Expected behavior:

                    - If the modified image fails moderation, returns a 422 error.

                    '
            examples:
              send using url:
                value:
                  image: https://labs-assets.bria.ai/sandbox-example-inputs/genfill_image_example.jpg
                  mask: https://labs-assets.bria.ai/sandbox-example-inputs/genfill_mask_exmple.jpg
                  prompt: A red delicious cherry
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request. This can be due to a malformed request, invalid JSON, or a missing required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: "Not Found. The requested resource could not be found. This can be due to:\n- The image or mask URL could not be found.\n   content:\napplication/json:\n  schema:\n    $ref: '#/components/schemas/ErrorResponse'\n"
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: 'Unprocessable Entity. This error is returned for validation failures, such as:

            - A parameter failing content moderation (e.g., `prompt_content_moderation: true` and an unsafe prompt).

            - Image or mask requirements not being met (e.g., different aspect ratios).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '460':
          description: Failed to download image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: "**Internal Server Error** – A critical failure occurred in Bria's infrastructure, preventing the Status Service from responding.  \n- This response indicates a service outage or unexpected runtime failure.  \n- Check [Bria's Status Page](https://status.bria.ai) for real-time updates.\n- Contact [Support](mailto:support@bria.ai).\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /remove_background:
    post:
      summary: Remove Background
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        The *Remove BG* Route can be used to remove the background of an image. This route leverages Bria''s newest model, RMBG 2.0. For more details and to explore the model, check out the Hugging Face demo.


        **Content Moderation**


        This endpoint includes granular content moderation controls to ensure safe usage across all stages of processing:


        - **Input Image Moderation** – Scans the uploaded image and stops processing if inappropriate or restricted content is detected.

        - **Output Image Moderation** – Evaluates the generated image and blocks the response if it violates safety guidelines.


        **Constraints**


        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.


        **Transparency and Customizable Binarization**


        This endpoint returns an image where the background is removed, and the foreground remains with varying levels of transparency, allowing for smoother edges and more natural blending when placed over different backgrounds. Additionally, this unique output provides developers with the flexibility to binarize the result—transforming it into a binary mask—by setting a custom transparency threshold according to their specific use case. A binary mask is an image where pixels are either fully visible (foreground) or fully transparent (background), commonly used in visual generative AI and image processing pipelines. This capability enables seamless integration into workflows that require clear separation between subject and background, while still offering control over how strict this separation should be.


        Below is a simple Python script to demonstrate how you can binarize the output image from the API. This allows you to set your own threshold to determine which areas are considered "foreground" and which are "background."


        ```python

        from PIL import Image

        import numpy as np


        # Load the image (the output from the API)

        image = Image.open(''output_image.png'').convert(''RGBA'')


        # Convert to numpy array

        data = np.array(image)


        # Define your threshold (0-255, where 255 is fully opaque)

        threshold = 128


        # Apply the threshold: if alpha > threshold, set to fully opaque (255), otherwise transparent (0)

        data[:, :, 3] = np.where(data[:, :, 3] > threshold, 255, 0)


        # Create a new Image from the modified array

        binarized_image = Image.fromarray(data)


        # Save or display

        binarized_image.save(''binarized_output.png'')

        binarized_image.show()

        ```'
      operationId: background-remove
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              properties:
                image:
                  type: string
                  description: "The image that you would like to remove the background from.\nSupported input types:  \n- **Base64-encoded string**  \n- **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                preserve_alpha:
                  type: boolean
                  default: true
                  description: 'Controls whether partially transparent areas from the input image are retained in the output after background removal, if the input includes an alpha channel.

                    - When true: Partially transparent pixels preserve their original alpha values in the output.

                    - When false: All non-background areas in the output are rendered fully opaque.

                    - Has no effect if the input image does not include an alpha channel.

                    '
                sync:
                  type: boolean
                  default: false
                  description: "Specifies the response mode.\n  - When `false` (default), the request is processed asynchronously: the API immediately returns a status URL to track progress.\n  - When `true`, the request is processed synchronously: the API hold the connection open until the proccess is complete and then returns the final image URL in the response.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                visual_input_content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to input visual.


                    Expected behavior:

                    - Processing stops if the image fails moderation.

                    - Returns a 422 error with details about which parameter failed.

                    '
                visual_output_content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to result visual.


                    Expected behavior:

                    - If the modified image fails moderation, returns a 422 error.

                    '
            examples:
              send using url:
                value:
                  image: https://labs-assets.bria.ai/sandbox-example-inputs/remove_background_example.jpg
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessResponse'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. Image could not be found at the provided URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '460':
          description: Failed to download image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: "**Internal Server Error** – A critical failure occurred in Bria's infrastructure, preventing the Status Service from responding.  \n- This response indicates a service outage or unexpected runtime failure.  \n- Check [Bria's Status Page](https://status.bria.ai) for real-time updates. \n- Contact [Support](mailto:support@bria.ai). \n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /replace_background:
    post:
      summary: Replace Background
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        The *Replace BG Route* is used to replace the background of any image.


        We offer 3 different background generation modes when generating by text: base, high contol and fast.


        - **Base** - clean, high quality backgrounds.

        - **High_control** - Stronger prompt adherence and scene context, finer control over layout and details - **we recommend using this mode.**

        - **Fast** - same core capabilities as base, optimal speed and quality balace.


        This endpoint also allows replacing the background with a solid color of your choice. You can specify a hex color code (e.g., #FF5733) in the prompt to control the background color.


        Here are some examples:


        **original image**:


        **prompt**: in a parking lot


        **result**:


        **Content Moderation**


        This endpoint includes granular content moderation controls to ensure safe usage across all stages of processing:


        - **Prompt Moderation** – Validates the provided prompt and rejects requests containing unsafe or prohibited terms before processing starts.

        - **Input Image Moderation** – Scans the uploaded image and stops processing if inappropriate or restricted content is detected.

        - **Output Image Moderation** – Evaluates the generated image and blocks the response if it violates safety guidelines.'
      operationId: background-replace
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - image
              properties:
                image:
                  type: string
                  description: "The image that you would like to remove the background from.\nSupported input types:  \n- **Base64-encoded string**  \n- **URL** pointing to an image file that is publicly accessible and available at the time of processing.  \n\nAccepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                mode:
                  type: string
                  enum:
                  - base
                  - high_control
                  - fast
                  default: high_control
                  description: 'Selects the background-generation mode.

                    Relevant only when describing the background by text.


                    - **Base** - clean, high quality backgrounds.

                    - **High_control** - stronger prompt adherence and scene context, finer control over layout and details.

                    - **Fast** - same core capabilities as base, optimal speed and quality balace.

                    '
                ref_images:
                  type: string
                  description: "One or more reference images to guide the background generation.  \n\n**Supported Input Types**  \n- **Base64-encoded string** – provide the image data directly in the request.  \n- **URL** – provide a publicly accessible URL to the image.  \n- **List** – multiple images can be supplied as a list of Base64 strings or URLs.  \n\n**Usage Constraints**  \n- You must provide **either** `ref_images` **or** `prompt`, but not both.  \n- Accepted formats: **JPEG**, **JPG**, **PNG**, **WEBP**.  \n\nAll provided images must be accessible and in a supported format at the time of processing.\n"
                enhance_ref_images:
                  type: boolean
                  default: true
                  description: When set to true, additional logic processes the included reference image to make adjustments for optimal results.
                prompt:
                  type: string
                  description: "Text description of the new scene or background for the provided image. Either ref_images or prompt has to be provided but not both. Bria currently supports prompts in English only, excluding special characters.\n\n**Prompt length guidelines per mode:**\n  - base / fast: ~50–60 words\n  - high_control: ~90–110 words\n"
                refine_prompt:
                  type: boolean
                  default: true
                  description: When true, an additional logic takes the prompt that was included and adjusts it to achieve optimal results.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: "When enabled (default: `true`), the input prompt is moderated before processing.\n\n**Expected Behavior**\n- The prompt is scanned for NSFW content and terms that violate Bria’s ethical guidelines.  \n- If the prompt fails moderation, the request is blocked and the API responds with a 422 error.\n\n**Prompt length guidelines per mode:**\n- base / fast: ~50–60 words\n- high_control: ~90–110 words\n"
                negative_prompt:
                  type: string
                  description: Elements or features that should be excluded from the generated scene. This parameter is optional and is available only when fast=false. Bria currently supports descriptions in English only.
                original_quality:
                  type: boolean
                  default: false
                  description: When true, the output image retains the original input image's size; otherwise, the image is scaled to 1 megapixel (1MP) while preserving its aspect ratio.
                force_background_detection:
                  type: boolean
                  default: false
                  description: When `true`, forces background detection and removal, even if the original image already contains an alpha channel. Useful for refining existing foreground/background separation or ignoring unnecessary alpha channels.
                sync:
                  type: boolean
                  default: false
                  description: "Specifies the response mode.\n  - When `false` (default), the request is processed asynchronously: the API immediately returns a status URL to track progress.\n  - When `true`, the request is processed synchronously: the API hold the connection open until the proccess is complete and then returns the final image URL in the response.\n"
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                visual_output_content_moderation:
                  type: boolean
                  default: false
                  description: "When enabled, applies content moderation to result visual.\n\nExpected behavior:\n- If the modified image fails moderation, returns a 422 error. \n"
                seed:
                  type: integer
                  description: You can choose whether you want your generated results to be random or predictable. You can recreate the same result in the future by using the seed value of a result from the response. You can exclude this parameter if you are not interested in recreating your results. This parameter is optional.
            examples:
              send with url:
                value:
                  image: https://labs-assets.bria.ai/sandbox-example-inputs/replace_bg_example_image.jpg
                  prompt: Resting on a light pink circular platform placed on a bright red floor in a photo studio. The background is a vivid red wall with subtle vertical lines. Surrounding the platform are numerous 3D red poppy flowers in varying sizes. Sliced and whole grapefruits are arranged around the base of the platform, adding fresh color contrast. Lit evenly by soft studio lighting. Shot from a front angle.
                  mode: high_control
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessWithSeedAndRefinedPrompt'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found. Image could not be found at the provided URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '460':
          description: Failed to download image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: "**Internal Server Error** – A critical failure occurred in Bria's infrastructure, preventing the Status Service from responding.  \n- This response indicates a service outage or unexpected runtime failure.  \n- Check [Bria's Status Page](https://status.bria.ai) for real-time updates.  \n- Contact [Support](mailto:support@bria.ai).\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /erase_foreground:
    post:
      summary: Erase Foreground
      tags:
      - v2 endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2/image/edit
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        The **Erase Foreground** endpoint removes the primary subject (foreground) from the input image and intelligently generates the background to fill the erased area.


        **Output Characteristics**

        - Returns the edited image at its original resolution, ensuring full visual fidelity without any automatic resizing or downscaling.

        - Only the foreground is removed; all other areas remain unaltered, preserving pixel-perfect accuracy in untouched regions.

[...]
