openapi: 3.2.0
info:
  title: Tailored Generation API Reference Video Generation API
  version: ''
  description: 'Tailored Generation provides capabilities to generate visuals (photos, illustrations, vectors)

    that preserve and faithfully reproduce specific IP elements or guidelines, ensuring consistency

    across all generated outputs.'
servers:
- url: https://engine.prod.bria-api.com/v2/
tags:
- name: Video Generation
  description: Image-to-Video capabilities
paths:
  /video/generate/tailored/image-to-video:
    post:
      summary: Generate Video from Tailored Image (Beta)
      description: '(Beta)

        Initiates an asynchronous job to generate a 5-second MP4 video file animating a source image created by a tailored model.


        **Asynchronous Requests and the Status Service** Bria API endpoints process requests asynchronously by default. When you make an asynchronous request, the API immediately returns a `request_id` and a `status_url` instead of the final result. Use the Status Service to track the request''s progress until it reaches a completed state.


        See the full guide at Status Service Documentation for complete details and usage examples.


        On successful initiation, this endpoint returns a 202 Accepted response. Poll the `status_url` or use the Status Service with the `request_id` to check for job completion.

        Once ''Completed'', the status response will contain the URL to the generated MP4 video.'
      tags:
      - Video Generation
      servers:
      - url: https://engine.prod.bria-api.com/v2
      operationId: generate-video-from-tailored-image
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: Your API token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tailored_model_id:
                  type: string
                  description: The ID of the tailored model that generated the input image.
                image:
                  type: string
                  description: Publicly accessible URL or base64 string of the source image.
                seed:
                  type: integer
                  description: Optional seed for reproducible results.
              required:
              - tailored_model_id
              - image
            example:
              tailored_model_id: your_tailored_model_id
              image: https://example.com/image.png
              seed: 42
      responses:
        '202':
          description: Accepted. The video generation job was successfully initiated. You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    description: The unique identifier for this asynchronous request.
                  status_url:
                    type: string
                    format: uri
                    description: The URL to poll for the status of the generation job.
        '400':
          description: Bad Request. Invalid request body.
        '401':
          description: Unauthorized. The api_token is missing or invalid.
        '403':
          description: Forbidden.
        '404':
          description: Not Found. The specified tailored_model_id does not exist.
        '415':
          description: Unsupported Media Type.
        '422':
          description: Unprocessable Entity. Invalid image data.
        '429':
          description: Too Many Requests. Rate limit exceeded.
        '500':
          description: Internal Server Error.
externalDocs:
  description: Register and get API Access
  url: https://platform.bria.ai/organization-management/api-keys
x-tagGroups:
- name: Training Endpoints
  tags:
  - Project
  - Dataset
  - Model
- name: Generation Endpoints
  tags:
  - Image Generation
  - Video Generation
