openapi: 3.2.0
info:
  title: Bria Endpoints API
  version: ''
  description: 'Operations tagged Endpoints across 5 of this provider''s published API definitions: bria-ad-generation-openapi-original.yml, bria-ai-search-deperecated-openapi-original.yml, bria-image-generation-openapi-original.yml, bria-image-onboarding-openapi-original.yml, bria-status-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://engine.prod.bria-api.com/v1
- url: https://engine.prod.bria-api.com/v2
tags:
- name: Endpoints
paths:
  /ads/generate:
    post:
      summary: Generate Ads
      tags:
      - Endpoints
      description: 'Bria''s Ads Generation API enables builders to create multiple ads (scenes) in various sizes and resolutions, all unified by the same branding, style, and messaging. You can start exploring immediately with our public templates and brands.

        For creating your own private templates and brands, please Contact Us.

        **Getting Started with Public Assets**

        You can start exploring the API immediately using our public templates and brands, with no setup required.

        * **Public Template IDs**:

        * **`1062`**: A template that requires a brand ID.

        * **`1061`**: A brand-independent template (does not require a brand ID).

        * **Public Brand IDs**: **`167`**, **`166`**, **`122`**, **`121`**, **`120`**. These can be used for testing with compatible templates like **`1062`**. * **Important**: Public templates and brands can only be used with each other and cannot be mixed with private assets.


        **Template**

        Templates enable to repurpose and reuse well-design ads that share the same style, content and branded elements.It consists of multiple ads (“scenes”) and includes configurations for customizing the content at scale.


        **Smart Image Feature**

        A standout feature of BRIA''s Ads Generation API is its ability to seamlessly embed objects, products, and presenter images into another image (a "smart image"). This AI-powered capability allows for generating diverse backgrounds for the embedded image or extending the background to fit the ad''s design perfectly.


        **How It Works**

        The Ads Generation API works by sending a template ID along with inputs such as text, images, the main object with its background definition, and a brand ID (including logos, colors, and fonts). In response, the API generates a set of ad images.


        In thie endpoint, responses are asynchronous, immediately providing URLs for ads that are generated in the background. Use polling for the URLs to retrieve ads once ready.


        Templates can be easily created using BRIA’s Ads Editor. Once a template is ready, it can be used to produce multiple ad versions with varying messaging, branding, and images.


        This API endpoint supports content moderation via an optional parameter that can prevent generation if input images contain inappropriate content, and filters out unsafe generated images - the first blocked input image will fail the entire request.'
      operationId: generate-ads
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to both input visuals and generated outputs.


                    For input images:

                    - Processing stops at the first image that fails moderation

                    - Returns a 422 error with details about which parameter failed


                    For generated ads:

                    - Failed ads are replaced with zero-byte files at their placeholder URLs

                    - Successful ads are stored at their original placeholder URLs

                    '
                template_id:
                  type: string
                  description: The ID of the template to be used for generating the ads scenes.
                brand_id:
                  type: string
                  description: The ID of the brand to be used across all generated ads. A required field, unless the template is non brand related template and in that case even if brand if is provided, it isn't used.
                smart_image:
                  type: object
                  description: 'Smart image object for generating an image based on the embedded image, including the main object and its background definition (`expand` or `generate_by_text`).

                    '
                  properties:
                    input_image_url:
                      type: string
                      description: URL of the input image that will be embedded within the smart image.
                    scene:
                      type: object
                      properties:
                        operation:
                          type: string
                          enum:
                          - expand_image
                          - lifestyle_shot_by_text
                        input:
                          type: string
                          description: Background prompt or hex color for the image’s background. If the operation chosen is "expand" this parameter is ignored.
                  required:
                  - main_object_url
                elements:
                  type: array
                  description: List of text/images objects
                  items:
                    type: object
                    properties:
                      layer_type:
                        type: string
                        description: The element type, either "text" or "image".
                        enum:
                        - text
                        - image
                      content_type:
                        type: string
                        description: 'The heading level configuration for the text. This allows the same text to be inserted into multiple elements across scenes.

                          Value should be in the format - Heading *, Body *, Image * when * can be replaced with any value between #1-#5 (for example Heading #1, Image #1 and etc.)

                          '
                      content:
                        type: string
                        description: 'Content of the text or image, if `content_type` is set to `text` it should be a string, and if `content_type` is `image` it should be an image URL.

                          To ignore this element, set this parameter to an empty string.

                          '
                      id:
                        type: string
                        description: Unique identifier for the element.
            example:
              template_id: '123'
              smart_image:
                input_image_url: https://example.com/image.jpg
                scene:
                  operation: lifestyle_shot_by_text
                  input: A scenic background
              brand_id: '456'
              elements:
              - layer_type: text
                content_type: 'Heading #1'
                content: Sale Now!
      responses:
        '200':
          description: Successfull operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    description: A list of objects, where each object contains an image URL corresponding to a scene in the template, the scene's name, and its resolution.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique ID for the generated scene.
                        name:
                          type: string
                          description: The name of the scene from the template used to generate the image.
                          example: scene_name
                        url:
                          type: string
                          description: The URL to download the generated scene result as a .png image.
                          example: IMAGE_URL
                        resolution:
                          type: object
                          description: An object containing the width and height of the generated image. Can be an empty object if resolution is not available.
                          properties:
                            width:
                              type: integer
                            height:
                              type: integer
                          example:
                            width: 1920
                            height: 1080
                        editor_iframe:
                          type: string
                          description: "A URL to open the generated ad within the Ads Editor.  This URL is designed to be embedded in an iframe (white-labeled, no Bria branding) and opens the editor focused on this specific ad scene. It maintains the context of the template and brand used. \n"
                          example: URL
        '400':
          description: Bad request.
        '401':
          description: Unauthorized. Invalid API key or authentication token.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: string
              examples:
                quota_exceeded:
                  value: 'Quota exceeded: Free users can make up to 1000 requests in total. Please upgrade your plan to continue using the service.'
                access_denied:
                  value: 'Access denied: Your subscription does not include access to this feature/product.'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: string
              examples:
                input_violation:
                  value: The request could not be completed because the visual in the '{parameter_name}' parameter did not pass content moderation.
                invalid_url:
                  value: Unprocessable Entity. The URL does not point to a valid image or is inaccessible.
        '500':
          description: Internal server error.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /ads/brands:
    get:
      summary: Get Brands
      tags:
      - Endpoints
      description: Retrieves the list of your private brands. For initial testing, you can use our public brand IDs directly in the `/ads/generate` endpoint. To create your own private brands that will appear in this list, please Contact Us.
      operationId: get-brands
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      responses:
        '200':
          description: Successfully retrieved list of brands.
          content:
            application/json:
              schema:
                description: The list of brands, where each brand is an object containing the following properties - ID, name, description, and creation date.
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    created_at:
                      type: string
        '401':
          description: Unauthorized. Invalid API key or authentication token.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /ads/templates:
    get:
      summary: Get Templates
      tags:
      - Endpoints
      description: Retrieves the list of your private templates. To start experimenting right away, use our public template IDs (**1062**, **1061**) directly in the `/ads/generate` endpoint. To create your own private templates that will appear here, please Contact Us.
      operationId: get-templates
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      responses:
        '200':
          description: Successfully retrieved list of templates.
          content:
            application/json:
              schema:
                type: array
                description: The list of templates, where each template is an object containing the following properties - ID, name, description, creation date, number of scenes, and a preview.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    created_at:
                      type: string
                    number_of_ads:
                      type: integer
                    preview:
                      type: string
        '401':
          description: Unauthorized. Invalid API key or authentication token.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /ads/templates/{template_id}:
    get:
      summary: Get Template info by ID
      tags:
      - Endpoints
      description: 'Retrieve details for a specific private template by its ID.

        Please note: This endpoint is for inspecting your private templates only and cannot be used to retrieve details for public template IDs.'
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      - in: path
        name: template_id
        schema:
          type: string
        required: true
        description: The ID of the template.
      responses:
        '200':
          description: Successfully retrieved template details.
          content:
            application/json:
              schema:
                type: object
                description: 'An object containing scene definitions and their resolutions.  Keys representing scenes (e.g., "scene_1") map to arrays of their elements. The specific key "scene_resolutions" maps to an object containing resolution details for each scene.

                  '
                properties:
                  scene_resolutions:
                    type: object
                    description: A dictionary mapping scene keys (e.g., "scene_1") to their resolution dimensions.
                    additionalProperties:
                      type: object
                      properties:
                        width:
                          type: integer
                        height:
                          type: integer
                additionalProperties:
                  type: array
                  description: Dynamic keys (e.g., "scene_1", "scene_2") containing the list of elements for that scene.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the element.
                      layer_type:
                        type: string
                        description: The type of element.
                        enum:
                        - text
                        - image
                        - smartImage
                        - logo
                        - shape
                      content_type:
                        type:
                        - string
                        - 'null'
                        description: 'The configurable content type. Examples: "Heading #1", "Body #1", "Image #1", "smartImage", "Logo #1", "Basic Shape #1". Can be null.

                          '
                      content:
                        type: string
                        description: The default content of the element (text or an image URL).
                      scene_number:
                        type: integer
                        description: The scene number this element belongs to.
                example:
                  scene_1:
                  - id: 6n_yngnjyHm9rbVRyE69z
                    layer_type: smartImage
                    content_type: smartImage
                    content: https://org-assets.bria.ai/...
                    scene_number: 1
                  - id: mSYZhrISh4EeYRFsvxJQG
                    layer_type: text
                    content_type: 'Heading #1'
                    content: Sale
                    scene_number: 1
                  scene_2:
                  - id: logo_ref_123
                    layer_type: logo
                    content_type: 'Logo #1'
                    content: https://org-assets.bria.ai/logo.png
                    scene_number: 2
                  - id: shape_ref_456
                    layer_type: shape
                    content_type: 'Basic Shape #1'
                    content: https://org-assets.bria.ai/shape.png
                    scene_number: 2
                  scene_resolutions:
                    scene_1:
                      width: 1920
                      height: 1080
                    scene_2:
                      width: 1080
                      height: 1080
        '401':
          description: Unauthorized. Invalid API key or authentication token.
        '404':
          description: Template not found for the provided template ID.
      operationId: getAdsTemplatesByTemplateId
      x-operation-id-source: derived
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /caption:
    post:
      summary: Get Caption
      tags:
      - Endpoints
      description: '**Description**


        The *Caption Route* is used to get a caption that describes the given image.'
      operationId: get-caption
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                image_url:
                  type: string
                  description: The URL of the input image. If both image_url and image_file are provided, image_url will be used. Accepted formats are jpeg, jpg, png, webp. Maximum file size 12MB.
                file:
                  type: string
                  description: The file of the input image, in base64 format. Used if image_url is not provided. Accepted formats are jpeg, jpg, png, webp. Maximum file size 12MB.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        caption:
                          type: string
                          example: woman walking on a bridge in the jungle
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. Invalid API key or authentication token.
        '404':
          description: Not found. Image could not be found at the provided URL.
        '413':
          description: Payload too large. Image file size exceeds the 12MB limit.
        '415':
          description: Unsupported media type. Invalid file type. Supported file types are jpeg, jpg, png, webp.
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error. An error occurred on the server.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /search:
    get:
      summary: Search by text
      tags:
      - Endpoints
      description: '**Description**


        By using the *Search Route*, you can utilize Bria''s generative search capabilities, which don''t require labels or keywords. The user can send any text query and receive relevant images that match the query.


        The *Search Route* returns the images, sorted by the match score, from highest match to lowest match. The images are returned in batches, and you can specify how many images to receive in one batch, and which batch to receive in each call.


        Search will only work on images that have been onboarded using the `register` endpoint.

        **Note:** To use this endpoint, please Contact Us.'
      operationId: search
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - name: query
        in: query
        schema:
          type: string
          example: woman traveling in the world
        description: the text query for which the user is looking for matching images.
      - name: num_results_per_page
        in: query
        schema:
          type: integer
          example: 1
        description: how many images you would like to receive from the gallery search. The default value is 50. The maximum value is 500. No need to use this parameter when gallery_search=false.
      - name: page
        in: query
        schema:
          type: integer
          example: 1
        description: which batch of images you would like to receive in the current call. Synthetic results will only be included in page no. 1. The default value is 1. For each query, we support 800 results, so if you set num_results_per_page=50, you will have 16 pages of results.
      - name: gallery_id
        in: query
        schema:
          type: string
          example: '425'
        description: Bria will provide you with this parameter which represents your account's image gallery. You must include this parameter.
      - name: style
        in: query
        schema:
          type: string
          example: photo realistic
          enum:
          - stock photography
          - photo realistic
          - fashion
          - retro
          - sports
          - still life
          - hyper realistic
          - travel
          - artistic
          - 3d render
          - realistic
          - fantasy
          - comic book
          - minimalistic
        description: Which style you would like to see in your results, this parameter is optional.
      - name: atmosphere
        in: query
        schema:
          type: string
          enum:
          - dramatic
          - vivid
          - warm
          - cool
          example: dramatic
        description: Which atmosphere you would like to get in your results, this parameter is optional.
      - name: camera
        in: query
        schema:
          type: string
          enum:
          - portrait
          - close up
          - aerial
          - landscape
          example: portrait
        description: Which camera angle you would like to see in your results, this parameter is optional.
      - name: medium
        in: query
        schema:
          type: string
          enum:
          - photography
          - art
          example: photography
        description: Which medium should be included in your results, this parameter is optional.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results_per_page) and each object represents a single image. The images in the array are sorted by the similarity score, from the highest to the lowest. If the specified batch (=page) is empty, the results array will be empty.
                    items:
                      type: object
                      properties:
                        visual_id:
                          type: string
                          description: visual id of the image, documented in Bria.
                          example: a169a6862f24de75
                        org_image_key:
                          type: string
                          description: It will be returned if the image was registered using an org_image_key.
                          example: None
                        source_url:
                          type: string
                          description: It will be returned if the image was registered using a URL.
                          example: None
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /search_similar_images:
    get:
      summary: Search by Image
      tags:
      - Endpoints
      description: '**Description**


        By using the *Search Route*, you can utilize Bria''s generative search capabilities, which don''t require labels or keywords. The user can send any text query and receive relevant images that match the query.


        The *Search Route* returns the images, sorted by the match score, from highest match to lowest match. The images are returned in batches, and you can specify how many images to receive in one batch, and which batch to receive in each call.


        Search will only work on images that have been onboarded using the `register` endpoint.


        **Note:** To use this endpoint, please Contact Us.'
      operationId: search-similar-images
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - name: vhash
        in: query
        schema:
          type: string
          example: e01592ef1188df76
        description: the visual id of the image for which the user is looking for similar images.
      - name: num_results_per_page
        in: query
        schema:
          type: integer
          example: 1
        description: how many images you would like to receive in the current call. The default value is 50. The maximum value is 500.
      - name: page
        in: query
        schema:
          type: integer
          example: 1
        description: which batch of images you would like to receive in the current call. The default value is 1. For each query, we support 800 results, so if you set num_results_per_page=50, you will have 16 pages of results.
      - name: gallery_id
        in: query
        schema:
          type: string
          example: '425'
        description: Bria will provide you with this parameter which represents your account's image gallery. You must include this parameter.
      - name: url
        in: query
        schema:
          type: string
          example: If you are using the vhash paramater, there is no need to use this parameter
        description: URL of an image, for which you would like to find similar images. When you want to search based on modified images, or images that have not been uploaded or registered to Bria, you can use this parameter. When this parameter is provided, the visual_id parameter can be None. The supported file types are jpg, jpeg and png, up to 12 mb.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results_per_page) and each object represents a single image. The images in the array are sorted by the similarity score, from the highest to the lowest. If the specified batch (=page) is empty, the results array will be empty.
                    items:
                      type: object
                      properties:
                        visual_id:
                          type: string
                          description: visual id of the image, documented in Bria.
                          example: a169a6862f24de75
                        org_image_key:
                          type: string
                          description: It will be returned if the image was registered using an org_image_key.
                          example: None
                        source_url:
                          type: string
                          description: It will be returned if the image was registered using a URL.
                          example: None
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /image/generate:
    post:
      summary: Generate Image
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Generates a new image based on your inputs.'
      operationId: image-generate
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text-based instruction. Can be used alone to create a new prompt, or as a refinement command with an `images` or `structured_prompt`.

                    '
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: "Publicly available URL or Base64-encoded image. Currently supports a single image. \nSupported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                structured_prompt:
                  type: string
                  description: 'A string containing the structured prompt in JSON format. Use a `structured_prompt` from a previous generation''s response or the `/v2/structured_prompt/generate` endpoint for precise refinement.

                    '
                resolution:
                  type: string
                  default: 1MP
                  description: Output image resolution. "4MP" improves image details, especially for photorealism, but will increase latency by 30 seconds.
                  enum:
                  - 1MP
                  - 4MP
                negative_prompt:
                  type: string
                  description: A text prompt specifying concepts, styles, or objects to exclude from the generated image. This parameter is optional.
                model_version:
                  type: string
                  description: 'Generation model version. This parameter is optional.

                    * **If omitted (Default)**: Your request will automatically use Bria''s current default model. This ensures you always benefit from our latest improvements.

                    * **If specified (e.g., "FIBO")**: Your request will be pinned to this exact version.

                    '
                  enum:
                  - FIBO
                aspect_ratio:
                  type: string
                  description: Image aspect ratio. This parameter is optional.
                  default: '1:1'
                  enum:
                  - '1:1'
                  - '2:3'
                  - '3:2'
                  - '3:4'
                  - '4:3'
                  - '4:5'
                  - '5:4'
                  - '9:16'
                  - '16:9'
                steps_num:
                  type: integer
                  description: Number of diffusion steps. Uses model default if omitted. This parameter is optional.
                  default: 50
                  minimum: 35
                  maximum: 50
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200 with the final result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                  - png
                  - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on input prompt moderation failure in the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual input moderation failure. This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual output moderation failure. This parameter is optional.
            examples:
              Generate a new image using a textual prompt:
                value:
                  prompt: A photorealistic, high-resolution rendering of balloon lettering spelling out "HAPPY NEW YEAR 2026" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.
              Generate an image inspired by a reference image:
                value:
                  prompt: a ring inspired by the image
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Generate an image using only a reference image:
                summary: Generate an image inspired by only a reference image
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Refine a previously generated image using its structured_prompt and seed:
                value:
                  prompt: add sunlight
                  structured_prompt: '{"short_description":"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl''s large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl''s prominence and creating a whimsical, storybook-like atmosphere.","objects":[{"description":"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.","location":"center","relationship":"The primary subject, perched on a tree branch, looking directly at the viewer.","relative_size":"large within frame","shape_and_color":"Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.","texture":"Extremely soft, downy, and voluminous feathers.","appearance_details":"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.","expression":"Curious, charming, and adorable with wide, expressive eyes.","orientation":"Facing directly forward, head slightly tilted to its right."},{"description":"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.","location":"bottom-center","relationship":"Supports the owl, providing its perch.","relative_size":"medium","shape_and_color":"Irregular, horizontal shape; dark brown to black.","texture":"Rough, gnarled bark.","appearance_details":"Some moss or lichen might be subtly visible on its surface.","orientation":"Horizontal, extending from left to right across the lower part of the frame."}],"background_setting":"A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.","lighting":{"conditions":"Cool moonlight, nighttime.","direction":"Softly diffused from above and slightly to the front, highlighting the owl''s features.","shadows":"Soft, subtle shadows on the owl''s underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow."},"aesthetics":{"composition":"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.","color_scheme":"Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.","mood_atmosphere":"Whimsical, enchanting, serene, and slightly mysterious.","preference_score":"very high","aesthetic_score":"very high"},"photographic_characteristics":{"depth_of_field":"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).","focus":"Sharp focus on the owl''s eyes and face, with a gradual fall-off of focus towards its body and the branch.","camera_angle":"Eye-level, as if directly encountering the owl.","lens_focal_length":"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."},"style_medium":"photograph","context":"This is a concept for a high-quality, photorealistic image intended for nature photography, children''s book illustrations, or a whimsical art print.","artistic_style":"realistic, detailed, ethereal"}'
                  seed: 123456789
              Recreate a previously generated image:
                value:
                  structured_prompt: '{"short_description":"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl''s large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl''s prominence and creating a whimsical, storybook-like atmosphere.","objects":[{"description":"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.","location":"center","relationship":"The primary subject, perched on a tree branch, looking directly at the viewer.","relative_size":"large within frame","shape_and_color":"Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.","texture":"Extremely soft, downy, and voluminous feathers.","appearance_details":"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.","expression":"Curious, charming, and adorable with wide, expressive eyes.","orientation":"Facing directly forward, head slightly tilted to its right."},{"description":"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.","location":"bottom-center","relationship":"Supports the owl, providing its perch.","relative_size":"medium","shape_and_color":"Irregular, horizontal shape; dark brown to black.","texture":"Rough, gnarled bark.","appearance_details":"Some moss or lichen might be subtly visible on its surface.","orientation":"Horizontal, extending from left to right across the lower part of the frame."}],"background_setting":"A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.","lighting":{"conditions":"Cool moonlight, nighttime.","direction":"Softly diffused from above and slightly to the front, highlighting the owl''s features.","shadows":"Soft, subtle shadows on the owl''s underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow."},"aesthetics":{"composition":"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.","color_scheme":"Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.","mood_atmosphere":"Whimsical, enchanting, serene, and slightly mysterious.","preference_score":"very high","aesthetic_score":"very high"},"photographic_characteristics":{"depth_of_field":"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).","focus":"Sharp focus on the owl''s eyes and face, with a gradual fall-off of focus towards its body and the branch.","camera_angle":"Eye-level, as if directly encountering the owl.","lens_focal_length":"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."},"style_medium":"photograph","context":"This is a concept for a high-quality, photorealistic image intended for nature photography, children''s book illustrations, or a whimsical art print.","artistic_style":"realistic, detailed, ethereal"}'
                  seed: 123456789
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessImageGenerate'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://engine.prod.bria-api.com/v2
  /image/generate/lite:
    post:
      summary: Generate Image - Lite
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: '**Try out this capability in Bria''s sandbox**


        **Description**


        Generates a new image based on your inputs using the **fast and efficient Fibo Lite Pipeline**.'
      operationId: image-generate-lite
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text-based instruction. Can be used alone to create a new prompt, or as a refinement command with an `images` or `structured_prompt`.

                    '
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: "Publicly available URL or Base64-encoded image. Currently supports a single image. \nSupported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                structured_prompt:
                  type: string
                  description: 'A string containing the structured prompt in JSON format. Use a `structured_prompt` from a previous generation''s response or the `/v2/structured_prompt/generate/lite` endpoint for precise refinement.

                    '
                model_version:
                  type: string
                  description: 'Generation model version. This parameter is optional.

                    * **If omitted (Default)**: Your request will automatically use Bria''s current default model. This ensures you always benefit from our latest improvements.

                    * **If specified (e.g., "FIBO")**: Your request will be pinned to this exact version.

                    '
                  enum:
                  - FIBO
                aspect_ratio:
                  type: string
                  description: Image aspect ratio. This parameter is optional.
                  default: '1:1'
                  enum:
                  - '1:1'
                  - '2:3'
                  - '3:2'
                  - '3:4'
                  - '4:3'
                  - '4:5'
                  - '5:4'
                  - '9:16'
                  - '16:9'
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200 with the final result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                  - png
                  - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on input prompt moderation failure in the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual input moderation failure. This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual output moderation failure. This parameter is optional.
            examples:
              Generate a new image using a textual prompt:
                value:
                  prompt: A photorealistic, high-resolution rendering of balloon lettering spelling out "HAPPY NEW YEAR 2026" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.
              Generate an image inspired by a reference image:
                value:
                  prompt: generate a couple in this style
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Generate an image using only a reference image:
                summary: Generate an image inspired by only a reference image
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Refine a previously generated image using its structured_prompt and seed:
                value:
                  prompt: turn the scene into a daylight scene, with sunlight
                  structured_prompt: '{"aesthetics": {"aesthetic_score": "very high", "color_scheme": "cool blues and silvers from the moonlight contrasting with warm browns and grays of the owl''s feathers, creating a balanced and enchanting palette.", "composition": "centered, portrait composition, with the owl filling a significant portion of the frame.", "mood_atmosphere": "magical, serene, whimsical, and endearing.", "preference_score": "very high"}, "artistic_style": "fantasy, cute, detailed", "background_setting": "A dark, blurred forest at night, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Moonlight subtly illuminates parts of the background, creating a soft, ethereal glow.", "context": "A whimsical character illustration, likely intended for children''s books, animated media, or as a charming decorative art piece.", "lighting": {"conditions": "moonlight", "direction": "top-left, casting subtle highlights", "shadows": "soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source."}, "objects": [{"action": "Sitting and observing.", "appearance_details": "The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.", "description": "An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle silver highlights from the moonlight.", "expression": "Curious, innocent, and charming.", "gender": "unknown", "location": "center", "number_of_objects": 1, "orientation": "upright", "pose": "Sitting upright, body facing slightly to the right, head turned to face forward.", "relationship": "The owl is the sole subject, perched comfortably within its environment.", "relative_size": "large within frame", "shape_and_color": "Round head, oval body, predominantly brown and grey with silver highlights.", "texture": "Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance."}], "photographic_characteristics": {"camera_angle": "eye-level, as if observing the owl directly.", "depth_of_field": "shallow", "focus": "sharp focus on the owl''s face and eyes, with a soft blur in the background.", "lens_focal_length": "portrait lens (e.g., 50mm-85mm)"}, "short_description": "A hyper-detailed, ultra-fluffy owl sitting in the trees at night, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the cool moonlight with subtle silver highlights. The owl''s gaze is curious and full of charm, giving it a whimsical, storybook-like personality.", "style_medium": "digital illustration"}'
                  seed: 123456789
              Recreate a previously generated image:
                value:
                  structured_prompt: '{"aesthetics": {"aesthetic_score": "very high", "color_scheme": "cool blues and silvers from the moonlight contrasting with warm browns and grays of the owl''s feathers, creating a balanced and enchanting palette.", "composition": "centered, portrait composition, with the owl filling a significant portion of the frame.", "mood_atmosphere": "magical, serene, whimsical, and endearing.", "preference_score": "very high"}, "artistic_style": "fantasy, cute, detailed", "background_setting": "A dark, blurred forest at night, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Moonlight subtly illuminates parts of the background, creating a soft, ethereal glow.", "context": "A whimsical character illustration, likely intended for children''s books, animated media, or as a charming decorative art piece.", "lighting": {"conditions": "moonlight", "direction": "top-left, casting subtle highlights", "shadows": "soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source."}, "objects": [{"action": "Sitting and observing.", "appearance_details": "The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.", "description": "An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle silver highlights from the moonlight.", "expression": "Curious, innocent, and charming.", "gender": "unknown", "location": "center", "number_of_objects": 1, "orientation": "upright", "pose": "Sitting upright, body facing slightly to the right, head turned to face forward.", "relationship": "The owl is the sole subject, perched comfortably within its environment.", "relative_size": "large within frame", "shape_and_color": "Round head, oval body, predominantly brown and grey with silver highlights.", "texture": "Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance."}], "photographic_characteristics": {"camera_angle": "eye-level, as if observing the owl directly.", "depth_of_field": "shallow", "focus": "sharp focus on the owl''s face and eyes, with a soft blur in the background.", "lens_focal_length": "portrait lens (e.g., 50mm-85mm)"}, "short_description": "A hyper-detailed, ultra-fluffy owl sitting in the trees at night, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the cool moonlight with subtle silver highlights. The owl''s gaze is curious and full of charm, giving it a whimsical, storybook-like personality.", "style_medium": "digital illustration"}'
                  seed: 123456789
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessImageGenerate'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://engine.prod.bria-api.com/v2
  /structured_prompt/generate:
    post:
      summary: Generate Structured Prompt
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: 'Creates a new detailed, machine-readable structured prompt in JSON format or refines an existing one using text or image inputs.


        This endpoint uses the state-of-the-art **Gemini 2.5 Flash** VLM bridge to generate the prompt, providing superior understanding of nuanced or complex inputs. It **only returns the JSON string** and does not generate an image.


        **Why use this endpoint?**


        This endpoint decouples the "intent translation" step from the "image generation" step, giving you maximum flexibility.


        * **It''s Optional:** The same structured prompt generation happens automatically behind the scenes when using `/v2/image/generate`.

        * **Control & Auditability:** Allows for a "human-in-the-loop" to inspect, programmatically edit, or version the JSON *before* generating an image (e.g., for a custom UI).

        * **Consistency & Automation:** Generate one `structured_prompt` and pass it to `/v2/image/generate` multiple times to create consistent, auditable variations.

        * **Hybrid Deployment:** Use Bria''s state-of-the-art VLM bridge via API while self-hosting the open-source FIBO image model on your own private cloud.


        The resulting `structured_prompt` can be used as input for the `/v2/image/generate` endpoint.


        **Input Combination Rules**


        The request body must use exactly one of the following combinations:

        * **Text Only**: `prompt`

        * **Image Only**: `images`

        * **Image and Text**: `images` and `prompt`

        * **Structured Prompt and Text**: `structured_prompt` and `prompt`


        ---

        ** API Access **


        You can register and access the API Token through Bria''s platform by clicking here.'
      operationId: structured-prompt-generate
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text-based instruction. Can be used alone to create a new prompt, or as a refinement command with an `images` or `structured_prompt`.

                    '
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: "Publicly available URL or Base64-encoded image. Currently supports a single image. \nSupported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                structured_prompt:
                  type: string
                  description: 'A string containing the structured prompt in JSON format. Use a `structured_prompt` from a previous generation''s response.

                    '
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200 with the final result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on input prompt moderation failure in the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual input moderation failure. This parameter is optional.
            examples:
              Text Only:
                value:
                  prompt: A photorealistic, high-resolution rendering of balloon lettering spelling out "HAPPY NEW YEAR 2026" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.
              Image Only:
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Image and Text:
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
                  prompt: a ring inspired by the image
              Structured Prompt and Text:
                value:
                  structured_prompt: '{"short_description":"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl''s large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl''s prominence and creating a whimsical, storybook-like atmosphere.","objects":[{"description":"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.","location":"center","relationship":"The primary subject, perched on a tree branch, looking directly at the viewer.","relative_size":"large within frame","shape_and_color":"Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.","texture":"Extremely soft, downy, and voluminous feathers.","appearance_details":"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.","expression":"Curious, charming, and adorable with wide, expressive eyes.","orientation":"Facing directly forward, head slightly tilted to its right."},{"description":"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.","location":"bottom-center","relationship":"Supports the owl, providing its perch.","relative_size":"medium","shape_and_color":"Irregular, horizontal shape; dark brown to black.","texture":"Rough, gnarled bark.","appearance_details":"Some moss or lichen might be subtly visible on its surface.","orientation":"Horizontal, extending from left to right across the lower part of the frame."}],"background_setting":"A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.","lighting":{"conditions":"Cool moonlight, nighttime.","direction":"Softly diffused from above and slightly to the front, highlighting the owl''s features.","shadows":"Soft, subtle shadows on the owl''s underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow."},"aesthetics":{"composition":"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.","color_scheme":"Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.","mood_atmosphere":"Whimsical, enchanting, serene, and slightly mysterious.","preference_score":"very high","aesthetic_score":"very high"},"photographic_characteristics":{"depth_of_field":"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).","focus":"Sharp focus on the owl''s eyes and face, with a gradual fall-off of focus towards its body and the branch.","camera_angle":"Eye-level, as if directly encountering the owl.","lens_focal_length":"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."},"style_medium":"photograph","context":"This is a concept for a high-quality, photorealistic image intended for nature photography, children''s book illustrations, or a whimsical art print.","artistic_style":"realistic, detailed, ethereal"}'
                  prompt: add sunlight
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessStructPromptGenerate'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://engine.prod.bria-api.com/v2
  /structured_prompt/generate_from_diff:
    post:
      summary: Generate Structured Prompt from Diff
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: Generates a new, optimized `structured_prompt` by analyzing the semantic difference between an original structred_prompt and a user-edited version. This endpoint is relevant for applications that allow for manual inline structured_prompt editing.
      operationId: structured-prompt-generate-from-diff
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - structured_prompt
              - user_adjusted_structured_prompt
              properties:
                structured_prompt:
                  type: string
                  description: 'A string containing the original structured prompt in JSON format.

                    '
                user_adjusted_structured_prompt:
                  type: string
                  description: 'A string containing the manually modified structured prompt in JSON format.

                    '
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode.

                    * `false` (default): Asynchronous. Returns 202.

                    * `true`: Synchronous. Returns 200 with result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                model_version:
                  type: string
                  description: 'Generation model version.

                    '
                  enum:
                  - FIBO
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessStructPromptGenerate'
        '202':
          description: Accepted (Asynchronous).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request (Incorrect format for Structured_Prompt or User_adjusted_structured_prompt).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://engine.prod.bria-api.com/v2
  /structured_prompt/generate/lite:
    post:
      summary: Generate Structured Prompt - Lite
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: 'Creates a new detailed, machine-readable structured prompt in JSON format for the **speed-optimized Fibo Lite Pipeline**.


        This endpoint uses Bria''s standard **FIBO-VLM** bridge (open-source, available on Hugging Face) to generate the prompt. It **only returns the JSON string** and does not generate an image.


        **Why use this endpoint?**


        This endpoint decouples the "intent translation" step from the "image generation" step, giving you maximum flexibility.


        * **It''s Optional:** The same structured prompt generation happens automatically behind the scenes when using `/v2/image/generate/lite`.

        * **Control & Auditability:** Allows for a "human-in-the-loop" to inspect, programmatically edit, or version the JSON *before* generating an image (e.g., for a custom UI).

        * **Consistency & Automation:** Generate one `structured_prompt` and pass it to `/v2/image/generate/lite` multiple times to create consistent, auditable variations.

        * **Local Deployment Support:** This bridge is designed to pair seamlessly with the Fibo Lite text-to-image model. This combination enables **fully local, on-prem deployment** and unlocks Fibo Lite''s **faster inference speeds**. Contact support@bria.ai for more information.


        The resulting `structured_prompt` can be used as input for the `/v2/image/generate/lite` endpoint.


        **Input Combination Rules**


        The request body must use exactly one of the following combinations:

        * **Text Only**: `prompt`

        * **Image Only**: `images`

        * **Image and Text**: `images` and `prompt`

        * **Structured Prompt and Text**: `structured_prompt` and `prompt`


        ---

        ** API Access **


        You can register and access the API Token through Bria''s platform by clicking here.'
      operationId: structured-prompt-generate-lite
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text-based instruction. Can be used alone to create a new prompt, or as a refinement command with an `images` or `structured_prompt`.

                    '
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: "Publicly available URL or Base64-encoded image. Currently supports a single image. \nSupported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                structured_prompt:
                  type: string
                  description: 'A string containing the structured prompt in JSON format. Use a `structured_prompt` from a previous generation''s response.

                    '
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200 with the final result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on input prompt moderation failure in the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual input moderation failure. This parameter is optional.
            examples:
              Text Only:
                value:
                  prompt: A photorealistic, high-resolution rendering of balloon lettering spelling out "HAPPY NEW YEAR 2026" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.
              Image Only:
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Image and Text:
                value:
                  prompt: generate a couple in this style
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Structured Prompt and Text:
                value:
                  prompt: turn the scene into a daylight scene, with sunlight
                  structured_prompt: '{"aesthetics": {"aesthetic_score": "very high", "color_scheme": "cool blues and silvers from the moonlight contrasting with warm browns and grays of the owl''s feathers, creating a balanced and enchanting palette.", "composition": "centered, portrait composition, with the owl filling a significant portion of the frame.", "mood_atmosphere": "magical, serene, whimsical, and endearing.", "preference_score": "very high"}, "artistic_style": "fantasy, cute, detailed", "background_setting": "A dark, blurred forest at night, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Moonlight subtly illuminates parts of the background, creating a soft, ethereal glow.", "context": "A whimsical character illustration, likely intended for children''s books, animated media, or as a charming decorative art piece.", "lighting": {"conditions": "moonlight", "direction": "top-left, casting subtle highlights", "shadows": "soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source."}, "objects": [{"action": "Sitting and observing.", "appearance_details": "The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.", "description": "An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle silver highlights from the moonlight.", "expression": "Curious, innocent, and charming.", "gender": "unknown", "location": "center", "number_of_objects": 1, "orientation": "upright", "pose": "Sitting upright, body facing slightly to the right, head turned to face forward.", "relationship": "The owl is the sole subject, perched comfortably within its environment.", "relative_size": "large within frame", "shape_and_color": "Round head, oval body, predominantly brown and grey with silver highlights.", "texture": "Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance."}], "photographic_characteristics": {"camera_angle": "eye-level, as if observing the owl directly.", "depth_of_field": "shallow", "focus": "sharp focus on the owl''s face and eyes, with a soft blur in the background.", "lens_focal_length": "portrait lens (e.g., 50mm-85mm)"}, "short_description": "A hyper-detailed, ultra-fluffy owl sitting in the trees at night, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the cool moonlight with subtle silver highlights. The owl''s gaze is curious and full of charm, giving it a whimsical, storybook-like personality.", "style_medium": "digital illustration"}'
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessStructPromptGenerate'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://engine.prod.bria-api.com/v2
  /register:
    post:
      summary: Register Image
      tags:
      - Endpoints
      description: '**Description**


        A new visual can be registered to Bria without being uploaded to the database using the *Register Route*.

        This route returns a visual identification to the user. This is the recommended method to onboard images to Bria, when needed.


        It''s the first step for consuming the Bria API for new visuals (instead of using the /upload route).


        **Response**


        The visual id in the response of the *Register Route* must be kept by the

        user in order to query image info, modify the image and use the search routes.


        ```{ "visual_id": "9ea9a4d2d19977a7c" }```


        The *visual_id* in the response of the /upload route will be used for all other routes. Store the visual_id in your database and map it to your image identification method for easy reference


        **Constraints**


        Files should not be larger than 12MB. The status code 413 will be returned if the file exceeds its maximum size.


        The Bria API currently supports only JPEG and PNG files in RGB, RGBA, or CMYK color modes. When the file is of a different type or color mode, the status code 415 will be returned.'
      operationId: register-image
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org_image_key:
                  type: string
                  description: The internal image id in your API, of the image you would like to register to Bria. If accessing your images requires authentication, you will be able to register them using org_image_key only after giving Bria the API authentication information. It is also possible to register images using an org_image_key, without any authentication data.
                image_url:
                  description: The URL of the image you would like to register to Bria. The URL should lead to an image publicly available online. Either an org_image_key or an image_url should be provided. If both are provided, then the route will use image_url and org_image_key will be saved but not used. Images can only be registered using an image_url if they do not require authentication.
                  type: string
                is_private:
                  description: The image can be included in the Bria public gallery (is_private=false) or only in the Bria gallery of your organization (is_private=true). This parameter is optional and the default value is true.
                  type: string
                  default: true
            examples:
              only image_url:
                value:
                  image_url: https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg
              only org_image_key:
                value:
                  org_image_key: 12345acbd
              image_url & org_image_key:
                value:
                  image_url: https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg
                  org_image_key: 12345acbd
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '208':
          description: Image already registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_id:
                    type: string
                    description: Unique visual identification
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /{visual_id}/remove_image:
    post:
      summary: Remove Image
      tags:
      - Endpoints
      description: '**Description**


        With this route, you can remove an image from the gallery of your organization. The image won''t be removed from Bria.'
      operationId: remove-image
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - in: path
        name: visual_id
        schema:
          type: string
        required: true
        example: b3cecc33cc31cc31
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Bad request.
        '405':
          description: Method not allowed.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
    servers:
    - url: https://engine.prod.bria-api.com/v1
  /status/{request_id}:
    get:
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      summary: Get Request Status
      description: 'Retrieves the current status of an asynchronous request.


        **Behavior**

        - Under normal operation, this endpoint returns **`200 OK`**, regardless of whether the request is in progress, completed, or has failed at the job level.

        - The `status` field in the response (`IN_PROGRESS`, `COMPLETED`, `ERROR`, `UNKNOWN`) indicates the state of the job.

        - When the job fails (status=`ERROR`), details of the failure are provided in the `error` object, but the HTTP status remains `200`.

        - When `status=COMPLETED`, `result` includes `image_url` for images or `video_url` for videos, or structured_prompt based on the original endpoint.


        **Other Possible Responses**

        - **`404 NOT_FOUND`** – Returned when the specified `request_id` does not exist or has expired.

        - **`5XX`** – Returned when the Status Service itself experiences an internal error.

        For real-time updates, check Bria''s Status Page. You can also contact our Support.


        - When `status=COMPLETED`, `result` may also include:

        - `seed` – Deterministic seed used for generation (if supported by the endpoint).

        - `prompt` – Original prompt provided by the user (if applicable).

        - `refined_prompt` – System-enhanced version of the input prompt (if applicable).

        - `structured_prompt` – The detailed JSON structured prompt used for V2 generation.'
      operationId: get_status
      parameters:
      - name: request_id
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the request.
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The `status` field indicates whether the request completed successfully or failed.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/StatusSuccessResponse'
                - $ref: '#/components/schemas/StatusErrorResponse'
              examples:
                completed_image_generation:
                  summary: Completed Image Generation Request
                  value:
                    status: COMPLETED
                    result:
                      image_url: https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/new_year_2026.png
                      seed: '123456'
                      structured_prompt: '{"short_description": "A photorealistic, high-resolution rendering of balloon lettering spelling out \"HAPPY NEW YEAR 2026\" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.","objects": [{"description": "A cluster of individual balloon letters forming the word \"HAPPY\". Each letter is inflated and has a smooth, highly reflective metallic surface, catching and distorting the ambient light. The letters are arranged horizontally, slightly overlapping to create a cohesive word.","location": "top-left to center","relationship": "Part of the main textual display, positioned above ''NEW YEAR''.","relative_size": "large within frame","shape_and_color": "Irregular letter shapes, primarily Pantone Bran (a rich, deep orange-brown) with hints of Crocus (a vibrant purple) and Deja vu blue (a muted, dusty blue) in the reflections.","texture": "Smooth, highly reflective metallic foil.","appearance_details": "Slightly rounded edges, showing subtle seams where the foil is joined. The surface exhibits a high degree of realism with minor imperfections and creases visible upon close inspection.","number_of_objects": 5,"orientation": "Horizontal"},{"description": "A cluster of individual balloon letters forming the phrase \"NEW YEAR\". These letters are also inflated and possess the same metallic, reflective quality as the ''HAPPY'' balloons. They are arranged horizontally, directly below ''HAPPY'', maintaining a consistent visual style.","location": "center","relationship": "Part of the main textual display, positioned below ''HAPPY'' and above ''2026''.","relative_size": "large within frame","shape_and_color": "Irregular letter shapes, primarily Crocus (a vibrant purple) with reflections of Pantone Bran and Deja vu blue.","texture": "Smooth, highly reflective metallic foil.","appearance_details": "Each letter is distinct, with a slightly inflated, three-dimensional appearance. The metallic sheen creates a dynamic interplay of light and color across their surfaces.","number_of_objects": 7,"orientation": "Horizontal"},{"description": "A cluster of individual balloon numbers forming \"2026\". These numbers are crafted from the same metallic balloon material, maintaining visual continuity with the words above. They are positioned centrally below ''NEW YEAR''.","location": "bottom-center","relationship": "Part of the main textual display, positioned below ''NEW YEAR''.","relative_size": "large within frame","shape_and_color": "Numerical shapes, primarily Deja vu blue (a muted, dusty blue) with reflections of Pantone Bran and Crocus.","texture": "Smooth, highly reflective metallic foil.","appearance_details": "The numbers appear robust and fully inflated, with crisp edges and a flawless metallic finish that reflects the surrounding light sources.","number_of_objects": 4,"orientation": "Horizontal"},{"description": "Several small, spherical balloons scattered around the main lettering, acting as decorative accents. These balloons are also metallic and share the same color palette, adding depth and a festive touch to the scene.","location": "scattered around the main lettering","relationship": "Complementary decorative elements to the main balloon lettering.","relative_size": "small","shape_and_color": "Spherical, in Pantone Bran, Crocus, and Deja vu blue.","texture": "Smooth, reflective metallic.","appearance_details": "Perfectly round and shiny, reflecting miniature versions of the light sources and the main lettering.","number_of_objects": 5,"orientation": "Various, floating"}],"background_setting": "A clean, seamless white studio backdrop, providing a stark contrast that makes the colorful balloons pop. The backdrop extends smoothly from the floor to the wall, creating an infinite white space that eliminates distractions and emphasizes the subject.","lighting": {"conditions": "Bright, natural light, simulating a well-lit studio environment.","direction": "Soft, diffused light coming from slightly above and in front of the balloons, with secondary fill light from the sides.","shadows": "Soft, subtle, and elongated shadows cast behind and beneath the balloons, indicating depth and dimension without being harsh or distracting. The shadows are light gray against the white background."},"aesthetics": {"composition": "Centered and perfectly aligned, with the balloon lettering arranged in a clear, readable hierarchy. The overall composition is balanced and symmetrical, drawing the viewer''s eye directly to the celebratory message.","color_scheme": "A vibrant, harmonious palette of Pantone Bran (orange-brown), Crocus (purple), and Deja vu blue, creating a festive yet sophisticated feel against the neutral white background.","mood_atmosphere": "Joyful, celebratory, optimistic, and clean.","preference_score": "very high","aesthetic_score": "very high"},"photographic_characteristics": {"depth_of_field": "Shallow, with the balloons in sharp focus and the background subtly blurred to emphasize the subject, though the white backdrop inherently provides minimal blur.","focus": "Sharp focus on the balloon lettering, highlighting the intricate details and reflective surfaces.","camera_angle": "Eye-level, providing a direct and engaging view of the balloon arrangement.","lens_focal_length": "Standard lens (e.g., 50mm), ensuring a natural perspective without distortion, ideal for capturing the full arrangement clearly."},"style_medium": "photograph","text_render": [{"text": "HAPPY NEW YEAR 2026","location": "center","size": "large within frame","color": "Pantone Bran, Crocus, Deja vu blue (as balloon colors)","font": "inflated balloon lettering","appearance_details": "Metallic, reflective, three-dimensional balloon letters."}],"context": "This is a concept for a high-resolution, ultra-realistic promotional image or greeting card for a New Year''s celebration, intended for digital display or print media.","artistic_style": "realistic, detailed, vibrant"}'
                    request_id: '123456'
                completed_image_edit:
                  summary: Completed Request (image editing)
                  value:
                    status: COMPLETED
                    result:
                      image_url: https://example.com/generated_image.png
                    request_id: '123456'
                completed_video:
                  summary: Completed Request (video)
                  value:
                    status: COMPLETED
                    result:
                      video_url: https://example.com/generated_video.mp4
                    request_id: '123456'
[...]
