openapi: 3.2.0
info:
  title: Tailored Generation API Reference Image Generation API
  version: ''
  description: 'Tailored Generation provides capabilities to generate visuals (photos, illustrations, vectors)

    that preserve and faithfully reproduce specific IP elements or guidelines, ensuring consistency

    across all generated outputs.'
servers:
- url: https://engine.prod.bria-api.com/v2/
tags:
- name: Image Generation
  description: Generate images using tailored models
paths:
  /image/generate/tailored:
    post:
      summary: Generate Image - Tailored Model
      tags:
      - Image Generation
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: '**Description**


        Generates a new image using a tailored model.


        This endpoint translates your input (`prompt` and/or `structured_prompt`) into a structured JSON prompt using the state-of-the-art **Gemini 2.5 Flash** VLM bridge. It internally uses the model''s visual schema (backbone) to ensure the generated image matches your trained visual identity.


        The response includes both the final `image_url` and the `structured_prompt` (JSON).


        **Input Combination Rules**

        The request body must include **one** of the following mutually exclusive combinations:

        * `prompt`: Generates a new image from text.

        * `structured_prompt`: Recreates a previous image exactly (requires seed).

        * `structured_prompt` + `prompt`: Refines a previous image using new text instructions.'
      operationId: image-generate-tailored
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tailored_model_id
              properties:
                tailored_model_id:
                  type: string
                  description: The ID of the tailored model.
                tailored_model_influence:
                  type: number
                  format: float
                  description: Controls the strength of the tailored model's influence (0.0 - 1.5).
                  default: 1
                  minimum: 0
                  maximum: 1.5
                prompt:
                  type: string
                  description: Text-based instruction for generation or refinement.
                structured_prompt:
                  type: string
                  description: A string containing the structured prompt in JSON format for precise recreation/refinement.
                negative_prompt:
                  type: string
                  description: Concepts to exclude from the generated image.
                guidance_scale:
                  type: integer
                  description: Adherence to the prompt (3-5).
                  default: 5
                  minimum: 3
                  maximum: 5
                aspect_ratio:
                  type: string
                  default: '1:1'
                  enum:
                  - '1:1'
                  - '2:3'
                  - '3:2'
                  - '3:4'
                  - '4:3'
                  - '4:5'
                  - '5:4'
                  - '9:16'
                  - '16:9'
                steps_num:
                  type: integer
                  default: 50
                  minimum: 20
                  maximum: 50
                seed:
                  type: integer
                  description: Seed for deterministic generation.
                sync:
                  type: boolean
                  default: false
                  description: If false, returns a 202 and status URL. If true, returns 200 with result.
                prompt_content_moderation:
                  type: boolean
                  default: true
                visual_output_content_moderation:
                  type: boolean
                  default: true
            examples:
              New Generation:
                value:
                  tailored_model_id: model_123
                  prompt: A product photo in the brand's visual style
      responses:
        '200':
          description: Successful operation (Synchronous).
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_url:
                    type: string
                  structured_prompt:
                    type: string
        '202':
          description: Accepted (Asynchronous).
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status_url:
                    type: string
        '400':
          description: Bad request. Invalid parameters.
        '403':
          description: Forbidden. Model does not belong to organization.
        '422':
          description: Unprocessable Entity (Moderation failure).
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal Server Error.
  /structured_prompt/generate/tailored:
    post:
      summary: Generate Structured Prompt - Tailored Model
      tags:
      - Image Generation
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: '**Description**


        Creates a new detailed, machine-readable structured prompt in JSON format or refines an existing one using text inputs and a tailored model''s visual schema (backbone).


        This endpoint uses the state-of-the-art **Gemini 2.5 Flash** VLM bridge. The tailored model''s visual schema is provided as input to Gemini along with the user prompt to generate the structured prompt.


        **It returns ONLY the JSON string and does not generate an image.**


        **Use Cases:**

        * **Control & Auditability:** Inspect or programmatically edit the JSON *before* generating an image.

        * **Consistency:** Generate one `structured_prompt` and pass it to `/image/generate/tailored` multiple times.

        * **Hybrid Deployment:** Use Bria''s VLM bridge via API while hosting the FIBO image model on a private cloud.


        **Input Combination Rules**

        The request body must use exactly one of the following combinations:

        * **Text Only**: `prompt`

        * **Structured Prompt and Text**: `structured_prompt` and `prompt` (Refinement)'
      operationId: structured-prompt-generate-tailored
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tailored_model_id
              properties:
                tailored_model_id:
                  type: string
                  description: The ID of the tailored model.
                prompt:
                  type: string
                  description: Text-based instruction.
                structured_prompt:
                  type: string
                  description: JSON string from a previous response for refinement.
                seed:
                  type: integer
                  description: Seed for deterministic generation.
                sync:
                  type: boolean
                  default: false
                  description: If false, returns 202. If true, returns 200.
                prompt_content_moderation:
                  type: boolean
                  default: true
            examples:
              Text Only:
                value:
                  tailored_model_id: model_123
                  prompt: A product photo in the brand's visual style
              Refinement:
                value:
                  tailored_model_id: model_123
                  structured_prompt: '{"main_subject": ...}'
                  prompt: add dramatic lighting
      responses:
        '200':
          description: Successful operation (Synchronous).
          content:
            application/json:
              schema:
                type: object
                properties:
                  structured_prompt:
                    type: string
                    description: The generated structured prompt JSON string.
        '202':
          description: Accepted (Asynchronous).
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  status_url:
                    type: string
        '400':
          description: Bad request. Invalid parameters.
        '403':
          description: Forbidden. Model does not belong to organization.
        '422':
          description: Unprocessable Entity (Moderation failure).
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal Server Error.
externalDocs:
  description: Register and get API Access
  url: https://platform.bria.ai/organization-management/api-keys
x-tagGroups:
- name: Training Endpoints
  tags:
  - Project
  - Dataset
  - Model
- name: Generation Endpoints
  tags:
  - Image Generation
  - Video Generation
