openapi: 3.2.0
info:
  title: Tailored Generation API Reference Dataset API
  version: ''
  description: 'Tailored Generation provides capabilities to generate visuals (photos, illustrations, vectors)

    that preserve and faithfully reproduce specific IP elements or guidelines, ensuring consistency

    across all generated outputs.'
servers:
- url: https://engine.prod.bria-api.com/v2/
tags:
- name: Dataset
  description: Manage training datasets
paths:
  /tailored-gen/datasets:
    post:
      summary: Create Dataset
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Create a new dataset.


        Datasets use JSON structured data (`visual_schema`) for training. You must generate a visual schema via `/generate_visual_schema` before completing the dataset.


        **Completion Requirements:**

        Minimum 5 images required to mark as completed.


        **Upload types**:

        * **Basic upload type**: Supports up to 200 images, uploading image files

        * **Advanced upload type**: Supports up to 5000 images, uploading a zip file'
      operationId: create-dataset
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id:
                  type: integer
                  description: Associated project ID (required)
                name:
                  type: string
                  description: Dataset name (required)
                upload_type:
                  type: string
                  description: The method used to upload images to the dataset.
                  enum:
                  - basic
                  - advanced
                  default: basic
            example:
              project_id: 123
              name: dataset v1
              upload_type: basic
      responses:
        '201':
          description: Dataset successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_id:
                    type: integer
                  name:
                    type: string
                  visual_schema:
                    type:
                    - string
                    - 'null'
                    description: A string containing the JSON structure representing the visual backbone. Must be generated via `/generate_visual_schema`.
                  status:
                    type: string
                    enum:
                    - draft
                  captions_update_status:
                    type: string
                    enum:
                    - empty
                    - in_progress
                    - completed
                  upload_type:
                    type: string
                    enum:
                    - basic
                    - advanced
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
              example:
                id: 456
                project_id: 123
                name: dataset v1
                visual_schema: null
                status: draft
                captions_update_status: empty
                upload_type: basic
                created_at: '2024-05-26T12:00:00Z'
                updated_at: '2024-05-26T12:00:00Z'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Project not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    get:
      summary: Get Datasets
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve a list of all datasets. If there are no datasets, returns an empty array.
      operationId: get-datasets
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successfully retrieved datasets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    project_id:
                      type: integer
                    name:
                      type: string
                    visual_schema:
                      type:
                      - string
                      - 'null'
                    status:
                      type: string
                      enum:
                      - draft
                      - completed
                    captions_update_status:
                      type: string
                      enum:
                      - empty
                      - in_progress
                      - completed
                    upload_type:
                      type: string
                      enum:
                      - basic
                      - advanced
                    images_count:
                      type: integer
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/projects/{project_id}/datasets:
    get:
      summary: Get Datasets by Project
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve all datasets for a specific project.
      operationId: get-datasets-by-project
      parameters:
      - in: path
        name: project_id
        schema:
          type: string
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - in: query
        name: include_models
        required: false
        schema:
          type: boolean
          default: false
        description: If true, include model objects using the dataset.
      - in: query
        name: include_models_ids
        required: false
        schema:
          type: boolean
          default: false
        description: If true, include model IDs using the dataset.
      responses:
        '200':
          description: Successfully retrieved datasets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    project_id:
                      type: integer
                    name:
                      type: string
                    visual_schema:
                      type:
                      - string
                      - 'null'
                    upload_type:
                      type: string
                      enum:
                      - basic
                      - advanced
                    images_count:
                      type: integer
                    status:
                      type: string
                      enum:
                      - draft
                      - completed
                    captions_update_status:
                      type: string
                      enum:
                      - empty
                      - in_progress
                      - completed
                    models:
                      type: array
                      description: Only included when include_models=true
                      items:
                        type: object
                    model_ids:
                      type: array
                      description: Only included when include_models_ids=true
                      items:
                        type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Project not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/datasets/{dataset_id}:
    get:
      summary: Get Dataset by ID
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve a specific dataset including its images.
      operationId: get-dataset-by-id
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - in: query
        name: max_images
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 200
        description: The maximum number of images to retrieve.
      responses:
        '200':
          description: Successfully retrieved dataset
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_id:
                    type: integer
                  name:
                    type: string
                  visual_schema:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                    - completed
                  captions_update_status:
                    type: string
                    enum:
                    - empty
                    - in_progress
                    - completed
                  upload_type:
                    type: string
                    enum:
                    - basic
                    - advanced
                  images_count:
                    type: integer
                  images:
                    type: array
                    description: Array of images in the dataset (up to 200, controlled by max_images)
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        dataset_id:
                          type: integer
                        caption:
                          type: string
                        caption_source:
                          type:
                          - string
                          - 'null'
                          enum:
                          - automatic
                          - manual
                        upload_source_url:
                          type:
                          - string
                          - 'null'
                        image_name:
                          type: string
                        image_url:
                          type: string
                        thumbnail_url:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
              example:
                id: 456
                project_id: 123
                name: dataset v1
                visual_schema: '{"style": "...", "colors": "..."}'
                status: completed
                captions_update_status: completed
                upload_type: basic
                images_count: 2
                images:
                - id: 789
                  dataset_id: 456
                  caption: '{"subject": "character standing", ...}'
                  caption_source: automatic
                  upload_source_url: null
                  image_name: lora_standing.png
                  image_url: https://api.example.com/files/lora_standing.png
                  thumbnail_url: https://api.example.com/files/lora_standing_thumb.png
                  created_at: '2024-05-26T12:30:00Z'
                  updated_at: '2024-05-26T12:30:00Z'
                created_at: '2024-05-26T12:00:00Z'
                updated_at: '2024-05-26T14:30:00Z'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    put:
      summary: Update Dataset
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Update a dataset.


        You can update `visual_schema` only when the dataset status is `draft`.


        **Completion Requirements:**

        To set `status` to `completed`, the dataset must have at least **5 images**.'
      operationId: update-dataset
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                visual_schema:
                  type: string
                  description: A string containing the JSON structure from `/generate_visual_schema`. Can only be updated when status is `draft`.
                status:
                  type: string
                  enum:
                  - draft
                  - completed
      responses:
        '200':
          description: Dataset successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_id:
                    type: integer
                  name:
                    type: string
                  visual_schema:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                    - completed
                  captions_update_status:
                    type: string
                    enum:
                    - empty
                    - in_progress
                    - completed
                  upload_type:
                    type: string
                    enum:
                    - basic
                    - advanced
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '400':
          description: Bad request - Validation error.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '409':
          description: Conflict error - Cannot update visual_schema for a completed dataset, or insufficient images to complete.
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    delete:
      summary: Delete Dataset
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Delete a specific dataset. Deletes all associated images.
      operationId: delete-dataset
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Dataset successfully deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '409':
          description: Cannot delete a dataset that is used by a model in training
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/datasets/{dataset_id}/clone:
    post:
      summary: Clone Dataset As Draft
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Create a new draft dataset based on an existing one. This is useful when you would like to use the same dataset again for another training, but with some modification (create a variation). The cloned dataset inherits the `visual_schema` from the source dataset.
      operationId: clone-dataset
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New dataset name. Defaults to "Copy of [original name]"
                description:
                  type: string
                  description: New dataset description.
            example:
              name: Copy of dataset v1 - modified version
              description: Modified version with additional poses
      responses:
        '201':
          description: Dataset successfully cloned
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_id:
                    type: integer
                  name:
                    type: string
                  visual_schema:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                  captions_update_status:
                    type: string
                    enum:
                    - empty
                    - in_progress
                    - completed
                  upload_type:
                    type: string
                    enum:
                    - basic
                    - advanced
                  images_count:
                    type: integer
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        dataset_id:
                          type: integer
                        caption:
                          type: string
                        caption_source:
                          type: string
                          enum:
                          - automatic
                        image_name:
                          type: string
                        image_url:
                          type: string
                        thumbnail_url:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/datasets/{dataset_id}/images:
    post:
      summary: Upload Image Files
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Upload a new image to a dataset.


        **Image Requirements:**

        - Recommended minimum resolution: 1024x1024 pixels for best quality

        - By default, smaller images (down to 256x256) will be automatically upscaled (`increase_resolution=true`)

        - To strictly enforce the 1024x1024 minimum, set `increase_resolution=false`

        - Supported formats: jpg, jpeg, png, webp

        - Preferably use original high-quality assets


        **Dataset Guidelines:**

        - Recommended: 5-50 images for optimal results

        - Maximum supported: 200 images

        - Ensure consistency in style, structure, and visual elements

        - Balance diversity in content while maintaining consistency in key elements


        **For optimal training (especially for characters/objects):**

        - Subject should occupy most of the image area

        - Minimize unnecessary margins around the subject

        - Transparent backgrounds will be converted to black

        - For character datasets: include diverse poses, environments, attires, and interactions


        **Constraints:**

        - Can only be used by "basic" upload type datasets. Use images/bulk for advanced datasets.

        - Dataset must have at least 5 images

        - Dataset cannot exceed 200 images

        - Cannot upload to a completed dataset


        This API endpoint supports content moderation via an optional parameter.'
      operationId: upload-image
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Image file to upload (required if image_url not provided)
                image_url:
                  type: string
                  description: URL of image to upload (required if file not provided)
                image_name:
                  type: string
                  description: Custom name for the image (optional)
                increase_resolution:
                  type: boolean
                  default: true
                  description: 'When enabled (default), input images smaller than 1024x1024 but larger than 256x256 will be automatically upscaled.

                    If false, images must be at least 1024x1024 pixels.

                    '
                content_moderation:
                  type: boolean
                  default: false
            example:
              image_url: https://example.com/images/character_pose.jpg
              image_name: character_standing_pose.jpg
      responses:
        '201':
          description: Image successfully uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  dataset_id:
                    type: integer
                  caption:
                    type:
                    - string
                    - 'null'
                    description: The generated caption. Null if uploaded without a visual schema.
                  caption_source:
                    type:
                    - string
                    - 'null'
                    enum:
                    - automatic
                    - manual
                    - pending
                  image_name:
                    type: string
                  image_url:
                    type: string
                  thumbnail_url:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '409':
          description: Conflict error (completed dataset or max images reached)
        '412':
          description: Precondition Failed (resolution too low)
        '415':
          description: Unsupported Media Type.
        '422':
          description: Unprocessable Entity (moderation failure or invalid URL)
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    get:
      summary: Get Images
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve all images in a specific dataset.
      operationId: get-images
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successfully retrieved images
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    dataset_id:
                      type: integer
                    caption:
                      type: string
                    caption_source:
                      type: string
                      enum:
                      - automatic
                      - manual
                    image_name:
                      type: string
                    image_url:
                      type: string
                    thumbnail_url:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    put:
      summary: Regenerate All Captions
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Regenerate captions for all images in a dataset. This is crucial after updating the visual schema, to ensure full compatibility with the new schema.


        This is an asynchronous operation. Once called, poll Get Dataset by ID until `captions_update_status` changes to ''completed''.'
      operationId: regenerate-all-captions
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '202':
          description: Caption regeneration process started
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_id:
                    type: integer
                  name:
                    type: string
                  visual_schema:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                    enum:
                    - draft
                    - completed
                  captions_update_status:
                    type: string
                    enum:
                    - empty
                    - in_progress
                    - completed
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
              example:
                id: 456
                project_id: 123
                name: dataset v1
                visual_schema: '{"style": "..."}'
                status: draft
                captions_update_status: in_progress
                created_at: '2024-05-26T12:00:00Z'
                updated_at: '2024-05-26T15:45:00Z'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Dataset not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/datasets/{dataset_id}/images/bulk-upload:
    post:
      summary: Advanced Image Upload
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Efficiently upload a large volume of images (up to 5000) from a ZIP file to an advanced dataset.


        **Upload without Schema:** You can initiate a bulk upload even if `visual_schema` is null. Images will be uploaded but caption generation will be skipped. You must call **Regenerate All Captions** after defining the schema.


        **General:**

        * Asynchronous operation; status can be retrieved via `{dataset_id}/bulk-upload/status`.

        * Supported for ''advanced'' upload type datasets only.

        * If the dataset is not empty, if another bulk upload is in progress, or if any previous bulk upload attempt took place, the request will fail.


        **Image Requirements:**

        * Supported formats: `jpg`, `jpeg`, `png`, `webp`.

        * Minimum dimensions: 1024 x 1024 pixels.

        * Total size limit: 5 GB zip file.'
      operationId: bulk-upload-images
      parameters:
      - in: path
        name: dataset_id
        required: true
        schema:
          type: integer
      - in: header
        name: api_token
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                zip_url:
                  type: string
                  format: uri
                  description: The publicly accessible URL of the ZIP file to upload.
                content_moderation:
                  type: boolean
                  default: false
                  description: When enabled, applies content moderation to input visuals.
      responses:
        '202':
          description: Bulk upload job started successfully.
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found.
        '413':
          description: Payload Too Large. The ZIP file exceeds the 5GB limit.
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error.
  /tailored-gen/datasets/{dataset_id}/images/{image_id}:
    get:
      summary: Get Image by ID
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve full image information.
      operationId: get-image
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: path
        name: image_id
        required: true
        schema:
          type: integer
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successfully retrieved image
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  dataset_id:
                    type: integer
                  caption:
                    type: string
                  caption_source:
                    type: string
                    enum:
                    - automatic
                    - manual
                  image_name:
                    type: string
                  image_url:
                    type: string
                  thumbnail_url:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Image or dataset not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    put:
      summary: Update Image Caption
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Update the caption of a specific image. Two mutually exclusive options:


        1. **Provide a new caption**: Use the `caption` parameter (sets `caption_source` to "manual"). The caption must be a string containing a **valid JSON structure**.

        2. **Regenerate automatically**: Set `regenerate_caption` to true (sets `caption_source` to "automatic").


        **Constraints:**

        * Cannot update captions in a completed dataset

        * Cannot provide both caption and regenerate_caption'
      operationId: update-image-caption
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: path
        name: image_id
        required: true
        schema:
          type: integer
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                caption:
                  type: string
                  description: New caption text as a string containing valid JSON structure.
                regenerate_caption:
                  type: boolean
                  default: false
                  description: When true, generates new caption automatically.
            examples:
              manual_caption:
                summary: Update with manual caption
                value:
                  caption: '{"subject": "character", "action": "standing", "details": "armor"}'
              regenerate_caption:
                summary: Request automatic caption regeneration
                value:
                  regenerate_caption: true
      responses:
        '200':
          description: Caption successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  dataset_id:
                    type: integer
                  caption:
                    type: string
                  caption_source:
                    type: string
                    enum:
                    - automatic
                    - manual
                  image_name:
                    type: string
                  image_url:
                    type: string
                  thumbnail_url:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '400':
          description: Bad request (both parameters provided, or invalid JSON)
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Image or dataset not found
        '409':
          description: Cannot update caption in a completed dataset
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    delete:
      summary: Delete Image
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Permanently remove an image from a dataset. Cannot delete images from completed datasets.
      operationId: delete-image
      parameters:
      - in: path
        name: dataset_id
        schema:
          type: integer
        required: true
      - in: path
        name: image_id
        required: true
        schema:
          type: integer
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Image successfully deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Image or dataset not found
        '409':
          description: Cannot delete an image from a completed dataset
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/datasets/{dataset_id}/images/bulk-upload/status:
    get:
      summary: Get Bulk Upload Status
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve the status and progress of a bulk image upload job.
      operationId: get-bulk-upload-status
      parameters:
      - in: path
        name: dataset_id
        required: true
        schema:
          type: integer
      - in: header
        name: api_token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved job status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - pending
                    - processing
                    - completed
                    - failed
                  progress_percentage:
                    type: integer
                  total_processed:
                    type: integer
                  done:
                    type: integer
                  failed:
                    type: integer
                  failed_images:
                    type: array
                    items:
                      type: object
                      properties:
                        filename:
                          type: string
                        error_code:
                          type: integer
                        error_message:
                          type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found.
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error.
  /tailored-gen/generate_visual_schema:
    post:
      summary: Generate Visual Schema
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Generates a structured JSON visual schema (backbone) based on the provided sample images.


        The visual schema represents mutual characteristics (style, IP, colors, etc.) across training images and is used for:

        1. Caption generation during image upload.

        2. Prompt translation (user text → structured prompt) during generation.


        **Usage:**

        - Provide 5-10 representative images of your style/IP.

        - The returned `visual_schema` string must be added to your dataset using `PUT /tailored-gen/datasets/{dataset_id}`.


        This endpoint supports content moderation via an optional parameter.'
      operationId: generate-visual-schema
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - images
              properties:
                images:
                  type: array
                  minItems: 5
                  maxItems: 10
                  items:
                    type: string
                  description: An array of 5-10 images. Supports base64-encoded strings or public URLs. Supported formats are png, jpg, jpeg, webp.
                content_moderation:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successfully generated visual schema.
          content:
            application/json:
              schema:
                type: object
                properties:
                  visual_schema:
                    type: string
                    description: A string containing the structured JSON visual schema.
              example:
                visual_schema: '{"style": "...", "colors": "..."}'
        '400':
          description: Bad request (invalid number of images).
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '415':
          description: Unsupported Media Type.
        '422':
          description: Unprocessable Entity (moderation failure).
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error.
  /tailored-gen/refine_structured_prompt:
    post:
      summary: Refine Structured Prompt
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Refines a Structured Prompt object (such as a Visual Schema or an Image Caption) based on user instructions.


        **Access Control & Validation:**

        * Requires a valid `dataset_id` to verify ownership.

        * The referenced dataset must be in `draft` mode.


        **Use Cases:**

        1. **Refine Visual Schema:** Input the initial schema and instructions like "Make the style description more detailed".

        2. **Refine Image Caption:** Input a specific image''s caption and instructions like "Fix the description of the hair color".'
      operationId: refine-json
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - dataset_id
              - structured_prompt
              - instruction
              properties:
                dataset_id:
                  type: integer
                  description: The ID of the dataset associated with this refinement.
                structured_prompt:
                  type: string
                  description: The current structured prompt string (Visual Schema or Caption) to be refined.
                instruction:
                  type: string
                  description: Natural language instruction describing how to modify the JSON.
                context_images:
                  type: array
                  items:
                    type: string
                  description: Optional. List of image URLs or Base64 strings to provide visual context.
            examples:
              Refine Schema:
                value:
                  dataset_id: 456
                  structured_prompt: '{"style": "cartoon", "colors": ["red", "blue"]}'
                  instruction: Change the style to 'realistic 3D render' and remove blue from colors.
      responses:
        '200':
          description: Successfully refined JSON.
          content:
            application/json:
              schema:
                type: object
                properties:
                  structured_prompt:
                    type: string
                    description: The refined Structured Prompt string.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Dataset not found.
        '429':
          description: Rate limit exceeded.
        '500':
          description: Internal server error.
  /datasets/{dataset_id}/download:
    get:
      summary: Download Dataset
      tags:
      - Dataset
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Download an advanced dataset. Returns a pre-signed URL for downloading the dataset.
      operationId: download-dataset
      parameters:
      - in: path
        name: dataset_id
        required: true
        schema:
          type: integer
      - in: header
        name: api_token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the dataset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                    description: A pre-signed URL for downloading the dataset.
                  captions_url:
                    type: string
                    description: A pre-signed URL for downloading the captions file, only returned for datasets where all captions are automatically generated.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '409':
          description: Download is only supported for advanced dataset types.
        '500':
          description: Internal server error.
externalDocs:
  description: Register and get API Access
  url: https://platform.bria.ai/organization-management/api-keys
x-tagGroups:
- name: Training Endpoints
  tags:
  - Project
  - Dataset
  - Model
- name: Generation Endpoints
  tags:
  - Image Generation
  - Video Generation
