openapi: 3.2.0
info:
  title: Tailored Generation API Reference Project API
  version: ''
  description: 'Tailored Generation provides capabilities to generate visuals (photos, illustrations, vectors)

    that preserve and faithfully reproduce specific IP elements or guidelines, ensuring consistency

    across all generated outputs.'
servers:
- url: https://engine.prod.bria-api.com/v2/
tags:
- name: Project
  description: Manage your projects
paths:
  /tailored-gen/projects:
    post:
      summary: Create Project
      tags:
      - Project
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: 'Create a new project within the organization.


        The following IP types are supported:


        **Defined Character**

        A specific character that maintains consistent identity and unique traits while being reproduced in different poses, situations, and actions.


        Medium: Photography


        Medium: Illustration


        **Stylized Scene**

        Complete environments or scenes created with a consistent visual style, look, and feel.


        Medium: Photography


        Medium: Illustration


        **Multi-Object Set**

        A collection of different objects sharing a common style, design language, or color scheme. Objects are typically isolated on solid backgrounds.


        **Object Variants**

        Multiple variations of the same object type, maintaining consistent style and structure while showing different interpretations. Objects are typically isolated on solid backgrounds.


        **Icons**

        A collection of cohesive, small-scale illustrations or symbols designed to represent concepts, actions, or objects in interfaces and applications.


        **Character Variants**

        Multiple characters sharing the same fundamental structure, style, and color palette, allowing creation of new characters that fit within the established design system.'
      operationId: create-project
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_name:
                  type: string
                  description: Name of the project (required)
                project_description:
                  type: string
                  description: Description of the project (optional)
                ip_name:
                  type: string
                  description: Required only for defined_character IP type. The name of the character (1-3 words, e.g., "Lora", "Captain Smith").
                ip_description:
                  type: string
                  description: Required only for defined_character and object_variants IP types. A short phrase (up to 6 words) describing the most crucial distinguishing features (e.g., "a female character with purple hair").
                ip_medium:
                  type: string
                  enum:
                  - photography
                  - illustration
                  description: Medium of the IP (required)
                ip_type:
                  type: string
                  enum:
                  - multi_object_set
                  - object_variants
                  - icons
                  - defined_character
                  - character_variants
                  - stylized_scene
                  - other
                  description: 'Type of the IP (required):

                    * defined_character: A specific predefined character or person that can be reproduced consistently.

                    * stylized_scene: A complete scene or environment with a cohesive style.

                    * other: For IP types that don''t fit into any of the types.


                    The types below are currently available only when ip_medium = illustration:

                    * object_variants: Variations of the same object type with consistent style.

                    * multi_object_set: Multiple distinct objects sharing a mutual style.

                    * icons: A collection of small, visually distinct illustrations or symbols.

                    * character_variants: Multiple characters sharing the same structure, style, and color palette.

                    '
            example:
              project_name: Branded Character
              ip_name: Adventure Series Characters
              ip_description: A set of adventure game characters with unique personalities
              ip_medium: illustration
              ip_type: defined_character
      responses:
        '201':
          description: Project successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Unique identifier for the project
                  project_name:
                    type: string
                    description: Name of the project
                  project_description:
                    type: string
                    description: Description of the project
                  ip_name:
                    type: string
                    description: Name of the IP
                  ip_description:
                    type: string
                    description: Description of the IP
                  ip_medium:
                    type: string
                    description: Medium of the IP
                  ip_type:
                    type: string
                    description: Type of the IP
                  training_version:
                    type:
                    - string
                    - 'null'
                    description: The training version family this project is locked to (e.g., 'fibo', 'max', or null if unlocked).
                  status:
                    type: string
                    enum:
                    - active
                    description: Status of the project
                  created_at:
                    type: string
                    format: date-time
                    description: Timestamp when the project was created
              example:
                id: 123
                project_name: Branded Character
                project_description: ''
                ip_name: Lora
                ip_description: A female character with purple hair
                ip_medium: illustration
                ip_type: defined_character
                status: active
                created_at: '2024-05-26T12:00:00Z'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: string
              examples:
                quota_exceeded:
                  value: 'Quota exceeded: Free users can make up to 1000 requests in total. Please upgrade your plan to continue using the service.'
                access_denied:
                  value: 'Access denied: Your subscription does not include access to this feature/product.'
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '500':
          description: Internal server error
    get:
      summary: Get Projects
      tags:
      - Project
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve all projects within the organization. If there are no projects, returns an empty array.
      operationId: get-projects
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successfully retrieved projects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    project_name:
                      type: string
                    project_description:
                      type: string
                    ip_name:
                      type: string
                    ip_description:
                      type: string
                    ip_medium:
                      type: string
                      enum:
                      - photography
                      - illustration
                    ip_type:
                      type: string
                      enum:
                      - multi_object_set
                      - object_variants
                      - icons
                      - defined_character
                      - character_variants
                      - stylized_scene
                      - other
                    status:
                      type: string
                      enum:
                      - active
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
              example:
              - id: 123
                project_name: Branded Character
                project_description: ''
                ip_name: Lora
                ip_description: A female character with purple hair
                ip_medium: illustration
                ip_type: defined_character
                status: active
                created_at: '2024-05-26T12:00:00Z'
                updated_at: '2024-05-26T14:30:00Z'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
  /tailored-gen/projects/{project_id}:
    get:
      summary: Get Project by ID
      tags:
      - Project
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Retrieve full project information.
      operationId: get-project-by-id
      parameters:
      - in: path
        name: project_id
        schema:
          type: string
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successfully retrieved project
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_name:
                    type: string
                  project_description:
                    type: string
                  ip_name:
                    type: string
                  ip_description:
                    type: string
                  ip_medium:
                    type: string
                    enum:
                    - photography
                    - illustration
                  ip_type:
                    type: string
                    enum:
                    - multi_object_set
                    - object_variants
                    - icons
                    - defined_character
                    - character_variants
                    - stylized_scene
                    - other
                  status:
                    type: string
                    enum:
                    - active
                  created_at:
                    type: string
                    format: date-time
              example:
                id: 123
                project_name: Branded Character
                project_description: ''
                ip_name: Lora
                ip_description: A female character with purple hair
                ip_medium: illustration
                ip_type: defined_character
                status: active
                created_at: '2024-05-26T12:00:00Z'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Project not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    put:
      summary: Update Project
      tags:
      - Project
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Update a specific project.
      operationId: update-project
      parameters:
      - in: path
        name: project_id
        schema:
          type: string
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_name:
                  type: string
                project_description:
                  type: string
                ip_name:
                  type: string
                ip_description:
                  type: string
            example:
              ip_description: A girl with purple hair
      responses:
        '200':
          description: Project successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  project_name:
                    type: string
                  project_description:
                    type: string
                  ip_name:
                    type: string
                  ip_description:
                    type: string
                  ip_medium:
                    type: string
                  ip_type:
                    type: string
                  status:
                    type: string
                    enum:
                    - active
                  created_at:
                    type: string
                    format: date-time
              example:
                id: 123
                project_name: Branded Character
                project_description: ''
                ip_name: Lora
                ip_description: A girl with purple hair
                ip_medium: illustration
                ip_type: defined_character
                status: active
                created_at: '2024-05-26T12:00:00Z'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Project not found
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
    delete:
      summary: Delete Project
      tags:
      - Project
      servers:
      - url: https://engine.prod.bria-api.com/v1
      description: Permanently delete a project and all its associated resources, including all datasets, images, and models. This action cannot be undone. Training models must be stopped before deletion.
      operationId: delete-project
      parameters:
      - in: path
        name: project_id
        schema:
          type: string
        required: true
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Project successfully deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Project not found
        '409':
          description: Cannot delete project while models are in training
        '429':
          description: Request limit exceeded.
        '500':
          description: Internal server error
externalDocs:
  description: Register and get API Access
  url: https://platform.bria.ai/organization-management/api-keys
x-tagGroups:
- name: Training Endpoints
  tags:
  - Project
  - Dataset
  - Model
- name: Generation Endpoints
  tags:
  - Image Generation
  - Video Generation
