openapi: 3.2.0
info:
  title: Bria Endpoints API
  version: ''
  description: 'Operations tagged Endpoints across 5 of this provider''s published API definitions: bria-ad-generation-openapi-original.yml, bria-ai-search-deperecated-openapi-original.yml, bria-image-generation-openapi-original.yml, bria-image-onboarding-openapi-original.yml, bria-status-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://engine.prod.bria-api.com/v1
- url: https://engine.prod.bria-api.com/v2
tags:
- name: Endpoints
paths:
  /ads/generate:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    post:
      summary: Generate Ads
      tags:
      - Endpoints
      description: "Bria's Ads Generation API enables builders to create multiple ads (scenes) in various sizes and resolutions, all unified by the same branding, style, and messaging. You can start exploring immediately with our public templates and brands.\nFor creating your own private templates and brands, please [Contact Us](https://bria.ai/contact-us).\n**Getting Started with Public Assets**\nYou can start exploring the API immediately using our public templates and brands, with no setup required.\n* **Public Template IDs**: \n    * **`1062`**: A template that requires a brand ID.\n    * **`1061`**: A brand-independent template (does not require a brand ID).\n* **Public Brand IDs**: **`167`**, **`166`**, **`122`**, **`121`**, **`120`**. These can be used for testing with compatible templates like **`1062`**. * **Important**: Public templates and brands can only be used with each other and cannot be mixed with private assets.\n\n    \n<img src=\"https://bria-datasets.s3.us-east-1.amazonaws.com/temp_exp_or/Campaign.jpg\" width=\"400\"/>\n\n**Template**  \nTemplates enable to repurpose and reuse well-design ads that share the same style, content and branded elements.It consists of multiple ads (“scenes”) and includes configurations for customizing the content at scale.\n\n**Smart Image Feature**  \nA standout feature of BRIA's Ads Generation API is its ability to seamlessly embed objects, products, and presenter images into another image (a \"smart image\"). This AI-powered capability allows for generating diverse backgrounds for the embedded image or extending the background to fit the ad's design perfectly.\n\n**How It Works**  \nThe Ads Generation API works by sending a template ID along with inputs such as text, images, the main object with its background definition, and a brand ID (including logos, colors, and fonts). In response, the API generates a set of ad images.\n\nIn thie endpoint, responses are asynchronous, immediately providing URLs for ads that are generated in the background. Use polling for the URLs to retrieve ads once ready.\n\nTemplates can be easily created using BRIA’s Ads Editor. Once a template is ready, it can be used to produce multiple ad versions with varying messaging, branding, and images.\n\nThis API endpoint supports content moderation via an optional parameter that can prevent generation if input images contain inappropriate content, and filters out unsafe generated images - the first blocked input image will fail the entire request.\n"
      operationId: generate-ads
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content_moderation:
                  type: boolean
                  default: false
                  description: 'When enabled, applies content moderation to both input visuals and generated outputs.


                    For input images:

                    - Processing stops at the first image that fails moderation

                    - Returns a 422 error with details about which parameter failed


                    For generated ads:

                    - Failed ads are replaced with zero-byte files at their placeholder URLs

                    - Successful ads are stored at their original placeholder URLs

                    '
                template_id:
                  type: string
                  description: The ID of the template to be used for generating the ads scenes.
                brand_id:
                  type: string
                  description: The ID of the brand to be used across all generated ads. A required field, unless the template is non brand related template and in that case even if brand if is provided, it isn't used.
                smart_image:
                  type: object
                  description: 'Smart image object for generating an image based on the embedded image, including the main object and its background definition (`expand` or `generate_by_text`).

                    '
                  properties:
                    input_image_url:
                      type: string
                      description: URL of the input image that will be embedded within the smart image.
                    scene:
                      type: object
                      properties:
                        operation:
                          type: string
                          enum:
                          - expand_image
                          - lifestyle_shot_by_text
                        input:
                          type: string
                          description: Background prompt or hex color for the image’s background. If the operation chosen is "expand" this parameter is ignored.
                  required:
                  - main_object_url
                elements:
                  type: array
                  description: List of text/images objects
                  items:
                    type: object
                    properties:
                      layer_type:
                        type: string
                        description: The element type, either "text" or "image".
                        enum:
                        - text
                        - image
                      content_type:
                        type: string
                        description: 'The heading level configuration for the text. This allows the same text to be inserted into multiple elements across scenes.

                          Value should be in the format - Heading *, Body *, Image * when * can be replaced with any value between #1-#5 (for example Heading #1, Image #1 and etc.)

                          '
                      content:
                        type: string
                        description: 'Content of the text or image, if `content_type` is set to `text` it should be a string, and if `content_type` is `image` it should be an image URL.

                          To ignore this element, set this parameter to an empty string.

                          '
                      id:
                        type: string
                        description: Unique identifier for the element.
            example:
              template_id: '123'
              smart_image:
                input_image_url: https://example.com/image.jpg
                scene:
                  operation: lifestyle_shot_by_text
                  input: A scenic background
              brand_id: '456'
              elements:
              - layer_type: text
                content_type: 'Heading #1'
                content: Sale Now!
      responses:
        '200':
          description: Successfull operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    description: A list of objects, where each object contains an image URL corresponding to a scene in the template, the scene's name, and its resolution.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique ID for the generated scene.
                        name:
                          type: string
                          description: The name of the scene from the template used to generate the image.
                          example: scene_name
                        url:
                          type: string
                          description: The URL to download the generated scene result as a .png image.
                          example: IMAGE_URL
                        resolution:
                          type: object
                          description: An object containing the width and height of the generated image. Can be an empty object if resolution is not available.
                          properties:
                            width:
                              type: integer
                            height:
                              type: integer
                          example:
                            width: 1920
                            height: 1080
                        editor_iframe:
                          type: string
                          description: "A URL to open the generated ad within the Ads Editor.  This URL is designed to be embedded in an iframe (white-labeled, no Bria branding) and opens the editor focused on this specific ad scene. It maintains the context of the template and brand used. \n"
                          example: URL
        '400':
          description: Bad request.
        '401':
          description: Unauthorized. Invalid API key or authentication token.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: string
              examples:
                quota_exceeded:
                  value: 'Quota exceeded: Free users can make up to 1000 requests in total. Please upgrade your plan to continue using the service.'
                access_denied:
                  value: 'Access denied: Your subscription does not include access to this feature/product.'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: string
              examples:
                input_violation:
                  value: The request could not be completed because the visual in the '{parameter_name}' parameter did not pass content moderation.
                invalid_url:
                  value: Unprocessable Entity. The URL does not point to a valid image or is inaccessible.
        '500':
          description: Internal server error.
  /ads/brands:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    get:
      summary: Get Brands
      tags:
      - Endpoints
      description: 'Retrieves the list of your private brands. For initial testing, you can use our public brand IDs directly in the `/ads/generate` endpoint. To create your own private brands that will appear in this list, please [Contact Us](https://bria.ai/contact-us).

        '
      operationId: get-brands
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      responses:
        '200':
          description: Successfully retrieved list of brands.
          content:
            application/json:
              schema:
                description: The list of brands, where each brand is an object containing the following properties - ID, name, description, and creation date.
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    created_at:
                      type: string
        '401':
          description: Unauthorized. Invalid API key or authentication token.
  /ads/templates:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    get:
      summary: Get Templates
      tags:
      - Endpoints
      description: 'Retrieves the list of your private templates. To start experimenting right away, use our public template IDs (**1062**, **1061**) directly in the `/ads/generate` endpoint. To create your own private templates that will appear here, please [Contact Us](https://bria.ai/contact-us).

        '
      operationId: get-templates
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      responses:
        '200':
          description: Successfully retrieved list of templates.
          content:
            application/json:
              schema:
                type: array
                description: The list of templates, where each template is an object containing the following properties - ID, name, description, creation date, number of scenes, and a preview.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    created_at:
                      type: string
                    number_of_ads:
                      type: integer
                    preview:
                      type: string
        '401':
          description: Unauthorized. Invalid API key or authentication token.
  /ads/templates/{template_id}:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    get:
      summary: Get Template info by ID
      tags:
      - Endpoints
      description: 'Retrieve details for a specific private template by its ID.

        Please note: This endpoint is for inspecting your private templates only and cannot be used to retrieve details for public template IDs.

        '
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
        description: API token associated with the organization.
      - in: path
        name: template_id
        schema:
          type: string
        required: true
        description: The ID of the template.
      responses:
        '200':
          description: Successfully retrieved template details.
          content:
            application/json:
              schema:
                type: object
                description: 'An object containing scene definitions and their resolutions.  Keys representing scenes (e.g., "scene_1") map to arrays of their elements. The specific key "scene_resolutions" maps to an object containing resolution details for each scene.

                  '
                properties:
                  scene_resolutions:
                    type: object
                    description: A dictionary mapping scene keys (e.g., "scene_1") to their resolution dimensions.
                    additionalProperties:
                      type: object
                      properties:
                        width:
                          type: integer
                        height:
                          type: integer
                additionalProperties:
                  type: array
                  description: Dynamic keys (e.g., "scene_1", "scene_2") containing the list of elements for that scene.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the element.
                      layer_type:
                        type: string
                        description: The type of element.
                        enum:
                        - text
                        - image
                        - smartImage
                        - logo
                        - shape
                      content_type:
                        type:
                        - string
                        - 'null'
                        description: 'The configurable content type. Examples: "Heading #1", "Body #1", "Image #1", "smartImage", "Logo #1", "Basic Shape #1". Can be null.

                          '
                      content:
                        type: string
                        description: The default content of the element (text or an image URL).
                      scene_number:
                        type: integer
                        description: The scene number this element belongs to.
                example:
                  scene_1:
                  - id: 6n_yngnjyHm9rbVRyE69z
                    layer_type: smartImage
                    content_type: smartImage
                    content: https://org-assets.bria.ai/...
                    scene_number: 1
                  - id: mSYZhrISh4EeYRFsvxJQG
                    layer_type: text
                    content_type: 'Heading #1'
                    content: Sale
                    scene_number: 1
                  scene_2:
                  - id: logo_ref_123
                    layer_type: logo
                    content_type: 'Logo #1'
                    content: https://org-assets.bria.ai/logo.png
                    scene_number: 2
                  - id: shape_ref_456
                    layer_type: shape
                    content_type: 'Basic Shape #1'
                    content: https://org-assets.bria.ai/shape.png
                    scene_number: 2
                  scene_resolutions:
                    scene_1:
                      width: 1920
                      height: 1080
                    scene_2:
                      width: 1080
                      height: 1080
        '401':
          description: Unauthorized. Invalid API key or authentication token.
        '404':
          description: Template not found for the provided template ID.
  /caption:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    post:
      summary: Get Caption
      tags:
      - Endpoints
      description: '


        **Description**



        The *Caption Route* is used to get a caption that describes the given image.'
      operationId: get-caption
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                image_url:
                  type: string
                  description: The URL of the input image. If both image_url and image_file are provided, image_url will be used. Accepted formats are jpeg, jpg, png, webp. Maximum file size 12MB.
                file:
                  type: string
                  description: The file of the input image, in base64 format. Used if image_url is not provided. Accepted formats are jpeg, jpg, png, webp. Maximum file size 12MB.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        caption:
                          type: string
                          example: woman walking on a bridge in the jungle
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized. Invalid API key or authentication token.
        '404':
          description: Not found. Image could not be found at the provided URL.
        '413':
          description: Payload too large. Image file size exceeds the 12MB limit.
        '415':
          description: Unsupported media type. Invalid file type. Supported file types are jpeg, jpg, png, webp.
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '460':
          description: Failed to download image.
        '500':
          description: Internal server error. An error occurred on the server.
  /search:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    get:
      summary: Search by text
      tags:
      - Endpoints
      description: '**Description**


        By using the *Search Route*, you can utilize Bria''s generative search capabilities, which don''t require labels or keywords. The user can send any text query and receive relevant images that match the query.


        The *Search Route* returns the images, sorted by the match score, from highest match to lowest match. The images are returned in batches, and you can specify how many images to receive in one batch, and which batch to receive in each call.


        Search will only work on images that have been onboarded using the `register` endpoint.

        **Note:** To use this endpoint, please [Contact Us](https://bria.ai/contact-us).'
      operationId: search
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - name: query
        in: query
        schema:
          type: string
          example: woman traveling in the world
        description: the text query for which the user is looking for matching images.
      - name: num_results_per_page
        in: query
        schema:
          type: integer
          example: 1
        description: how many images you would like to receive from the gallery search. The default value is 50. The maximum value is 500. No need to use this parameter when gallery_search=false.
      - name: page
        in: query
        schema:
          type: integer
          example: 1
        description: which batch of images you would like to receive in the current call. Synthetic results will only be included in page no. 1. The default value is 1. For each query, we support 800 results, so if you set num_results_per_page=50, you will have 16 pages of results.
      - name: gallery_id
        in: query
        schema:
          type: string
          example: '425'
        description: Bria will provide you with this parameter which represents your account's image gallery. You must include this parameter.
      - name: style
        in: query
        schema:
          type: string
          example: photo realistic
          enum:
          - stock photography
          - photo realistic
          - fashion
          - retro
          - sports
          - still life
          - hyper realistic
          - travel
          - artistic
          - 3d render
          - realistic
          - fantasy
          - comic book
          - minimalistic
        description: Which style you would like to see in your results, this parameter is optional.
      - name: atmosphere
        in: query
        schema:
          type: string
          enum:
          - dramatic
          - vivid
          - warm
          - cool
          example: dramatic
        description: Which atmosphere you would like to get in your results, this parameter is optional.
      - name: camera
        in: query
        schema:
          type: string
          enum:
          - portrait
          - close up
          - aerial
          - landscape
          example: portrait
        description: Which camera angle you would like to see in your results, this parameter is optional.
      - name: medium
        in: query
        schema:
          type: string
          enum:
          - photography
          - art
          example: photography
        description: Which medium should be included in your results, this parameter is optional.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results_per_page) and each object represents a single image. The images in the array are sorted by the similarity score, from the highest to the lowest. If the specified batch (=page) is empty, the results array will be empty.
                    items:
                      type: object
                      properties:
                        visual_id:
                          type: string
                          description: visual id of the image, documented in Bria.
                          example: a169a6862f24de75
                        org_image_key:
                          type: string
                          description: It will be returned if the image was registered using an org_image_key.
                          example: None
                        source_url:
                          type: string
                          description: It will be returned if the image was registered using a URL.
                          example: None
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /search_similar_images:
    servers:
    - url: https://engine.prod.bria-api.com/v1
    get:
      summary: Search by Image
      tags:
      - Endpoints
      description: '**Description**


        By using the *Search Route*, you can utilize Bria''s generative search capabilities, which don''t require labels or keywords. The user can send any text query and receive relevant images that match the query.


        The *Search Route* returns the images, sorted by the match score, from highest match to lowest match. The images are returned in batches, and you can specify how many images to receive in one batch, and which batch to receive in each call.


        Search will only work on images that have been onboarded using the `register` endpoint.


        **Note:** To use this endpoint, please [Contact Us](https://bria.ai/contact-us).'
      operationId: search-similar-images
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      - name: vhash
        in: query
        schema:
          type: string
          example: e01592ef1188df76
        description: the visual id of the image for which the user is looking for similar images.
      - name: num_results_per_page
        in: query
        schema:
          type: integer
          example: 1
        description: how many images you would like to receive in the current call. The default value is 50. The maximum value is 500.
      - name: page
        in: query
        schema:
          type: integer
          example: 1
        description: which batch of images you would like to receive in the current call. The default value is 1. For each query, we support 800 results, so if you set num_results_per_page=50, you will have 16 pages of results.
      - name: gallery_id
        in: query
        schema:
          type: string
          example: '425'
        description: Bria will provide you with this parameter which represents your account's image gallery. You must include this parameter.
      - name: url
        in: query
        schema:
          type: string
          example: If you are using the vhash paramater, there is no need to use this parameter
        description: URL of an image, for which you would like to find similar images. When you want to search based on modified images, or images that have not been uploaded or registered to Bria, you can use this parameter. When this parameter is provided, the visual_id parameter can be None. The supported file types are jpg, jpeg and png, up to 12 mb.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    description: there are multiple objects in this array (based on the amount specified in num_results_per_page) and each object represents a single image. The images in the array are sorted by the similarity score, from the highest to the lowest. If the specified batch (=page) is empty, the results array will be empty.
                    items:
                      type: object
                      properties:
                        visual_id:
                          type: string
                          description: visual id of the image, documented in Bria.
                          example: a169a6862f24de75
                        org_image_key:
                          type: string
                          description: It will be returned if the image was registered using an org_image_key.
                          example: None
                        source_url:
                          type: string
                          description: It will be returned if the image was registered using a URL.
                          example: None
        '400':
          description: Bad request.
        '404':
          description: Specified Image does not exist.
        '405':
          description: Method not allowed.
        '429':
          description: Request limit exceeded. Your account has reached its maximum allowed requests. Please upgrade your plan or try again later.
        '500':
          description: Internal server error.
        '506':
          description: Insufficient data. The given input is not supported by the Bria API.
  /image/generate:
    servers:
    - url: https://engine.prod.bria-api.com/v2
    post:
      summary: Generate Image
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: "[**Try out this capability in Bria's sandbox**](https://platform.bria.ai/image-generation/fibo-generate/sandbox)\n\n**Description**\n\nGenerates a new image based on your inputs.\n\nThis all-in-one endpoint first translates your input (`prompt` and/or `images`) into a structured JSON prompt using the state-of-the-art **Gemini 2.5 Flash** VLM bridge. It then *internally* uses that JSON to generate the final, deterministic image.\n\nUse this endpoint for professional workflows that demand the highest-fidelity interpretation of your creative vision. The response includes both the final `image_url` and the `structured_prompt` (JSON).\n\nFor advanced, programmatic control, you can also pass in your own `structured_prompt` (e.g., from a previous response or the `/v2/structured_prompt/generate` endpoint) to bypass the internal VLM bridge. This allows for precise, auditable refinement or recreation of an image, or to generate multiple variations from the same structured prompt.\n\n---\n\n**Input Combination Rules**\n\nThe request body must include **one** of the following mutually exclusive combinations:\n\n* `prompt` (Generates a new image from text)\n* `images` (Generates a new image inspired by a reference image)\n* `images` + `prompt` (Generates a new image inspired by an image and guided by text)\n* `structured_prompt` (Recreates a previous image exactly, combined with a seed)\n* `structured_prompt` + `prompt` (Refines a previous image using new text instructions, combined with a seed)\n\n---\n**API Access**\n\nYou can register and access the API Token through Bria's platform <a href=\"https://platform.bria.ai/console/account/api-keys\" target=\"_blank\">by clicking here</a>.\n\n---\n***Examples***\n\n**Use Case 1: Using a textual prompt**\n\n* **Input Prompt:** `photorealistic, high resolution rendering, balloon of lettering, \"HAPPY NEW YEAR 2026\", used color is Pantone Bran, Crocus, Deja vu blue, perfect composition and alignment, natural light set, white backdrop, ultra realistic, rich detail`\n* **Output Image:** ![Example of text-to-image output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/new_year_2026.png)\n* **Output `structured_prompt`:**\n    ```json\n    \n    {\n      \"short_description\": \"A photorealistic, high-resolution rendering of balloon lettering spelling out \\\"HAPPY NEW YEAR 2026\\\" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.\",\n      \"objects\": [\n        {\n          \"description\": \"A cluster of individual balloon letters forming the word \\\"HAPPY\\\". Each letter is inflated and has a smooth, highly reflective metallic surface, catching and distorting the ambient light. The letters are arranged horizontally, slightly overlapping to create a cohesive word.\",\n          \"location\": \"top-left to center\",\n          \"relationship\": \"Part of the main textual display, positioned above 'NEW YEAR'.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Irregular letter shapes, primarily Pantone Bran (a rich, deep orange-brown) with hints of Crocus (a vibrant purple) and Deja vu blue (a muted, dusty blue) in the reflections.\",\n          \"texture\": \"Smooth, highly reflective metallic foil.\",\n          \"appearance_details\": \"Slightly rounded edges, showing subtle seams where the foil is joined. The surface exhibits a high degree of realism with minor imperfections and creases visible upon close inspection.\",\n          \"number_of_objects\": 5,\n          \"orientation\": \"Horizontal\"\n        },\n        {\n          \"description\": \"A cluster of individual balloon letters forming the phrase \\\"NEW YEAR\\\". These letters are also inflated and possess the same metallic, reflective quality as the 'HAPPY' balloons. They are arranged horizontally, directly below 'HAPPY', maintaining a consistent visual style.\",\n          \"location\": \"center\",\n          \"relationship\": \"Part of the main textual display, positioned below 'HAPPY' and above '2026'.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Irregular letter shapes, primarily Crocus (a vibrant purple) with reflections of Pantone Bran and Deja vu blue.\",\n          \"texture\": \"Smooth, highly reflective metallic foil.\",\n          \"appearance_details\": \"Each letter is distinct, with a slightly inflated, three-dimensional appearance. The metallic sheen creates a dynamic interplay of light and color across their surfaces.\",\n          \"number_of_objects\": 7,\n          \"orientation\": \"Horizontal\"\n        },\n        {\n          \"description\": \"A cluster of individual balloon numbers forming \\\"2026\\\". These numbers are crafted from the same metallic balloon material, maintaining visual continuity with the words above. They are positioned centrally below 'NEW YEAR'.\",\n          \"location\": \"bottom-center\",\n          \"relationship\": \"Part of the main textual display, positioned below 'NEW YEAR'.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Numerical shapes, primarily Deja vu blue (a muted, dusty blue) with reflections of Pantone Bran and Crocus.\",\n          \"texture\": \"Smooth, highly reflective metallic foil.\",\n          \"appearance_details\": \"The numbers appear robust and fully inflated, with crisp edges and a flawless metallic finish that reflects the surrounding light sources.\",\n          \"number_of_objects\": 4,\n          \"orientation\": \"Horizontal\"\n        },\n        {\n          \"description\": \"Several small, spherical balloons scattered around the main lettering, acting as decorative accents. These balloons are also metallic and share the same color palette, adding depth and a festive touch to the scene.\",\n          \"location\": \"scattered around the main lettering\",\n          \"relationship\": \"Complementary decorative elements to the main balloon lettering.\",\n          \"relative_size\": \"small\",\n          \"shape_and_color\": \"Spherical, in Pantone Bran, Crocus, and Deja vu blue.\",\n          \"texture\": \"Smooth, reflective metallic.\",\n          \"appearance_details\": \"Perfectly round and shiny, reflecting miniature versions of the light sources and the main lettering.\",\n          \"number_of_objects\": 5,\n          \"orientation\": \"Various, floating\"\n        }\n      ],\n      \"background_setting\": \"A clean, seamless white studio backdrop, providing a stark contrast that makes the colorful balloons pop. The backdrop extends smoothly from the floor to the wall, creating an infinite white space that eliminates distractions and emphasizes the subject.\",\n      \"lighting\": {\n        \"conditions\": \"Bright, natural light, simulating a well-lit studio environment.\",\n        \"direction\": \"Soft, diffused light coming from slightly above and in front of the balloons, with secondary fill light from the sides.\",\n        \"shadows\": \"Soft, subtle, and elongated shadows cast behind and beneath the balloons, indicating depth and dimension without being harsh or distracting. The shadows are light gray against the white background.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"Centered and perfectly aligned, with the balloon lettering arranged in a clear, readable hierarchy. The overall composition is balanced and symmetrical, drawing the viewer's eye directly to the celebratory message.\",\n        \"color_scheme\": \"A vibrant, harmonious palette of Pantone Bran (orange-brown), Crocus (purple), and Deja vu blue, creating a festive yet sophisticated feel against the neutral white background.\",\n        \"mood_atmosphere\": \"Joyful, celebratory, optimistic, and clean.\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"Shallow, with the balloons in sharp focus and the background subtly blurred to emphasize the subject, though the white backdrop inherently provides minimal blur.\",\n        \"focus\": \"Sharp focus on the balloon lettering, highlighting the intricate details and reflective surfaces.\",\n        \"camera_angle\": \"Eye-level, providing a direct and engaging view of the balloon arrangement.\",\n        \"lens_focal_length\": \"Standard lens (e.g., 50mm), ensuring a natural perspective without distortion, ideal for capturing the full arrangement clearly.\"\n      },\n      \"style_medium\": \"photograph\",\n      \"text_render\": [\n        {\n          \"text\": \"HAPPY NEW YEAR 2026\",\n          \"location\": \"center\",\n          \"size\": \"large within frame\",\n          \"color\": \"Pantone Bran, Crocus, Deja vu blue (as balloon colors)\",\n          \"font\": \"inflated balloon lettering\",\n          \"appearance_details\": \"Metallic, reflective, three-dimensional balloon letters.\"\n        }\n      ],\n      \"context\": \"This is a concept for a high-resolution, ultra-realistic promotional image or greeting card for a New Year's celebration, intended for digital display or print media.\",\n      \"artistic_style\": \"realistic, detailed, vibrant\"\n    }\n    ```\n---\n\n**Use Case 2: Drawing inspiration from a reference image**\n\n* **Input Image:** ![Example of reference image input](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg)\n* **Input Prompt:** `a ring inspired by the image`\n* **Output Image:** ![Example of image-to-image output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/a_ring_inspired_by_the_image.png)\n* **Output `structured_prompt`:**\n    ```json\n    {\n      \"short_description\": \"A close-up shot of an elegant ring featuring a prominent, teardrop-shaped red gemstone set in a thick, golden chain-link band. The ring is displayed on a smooth, light-colored surface, with soft, diffused lighting highlighting its intricate details and the vibrant color of the stone. The overall impression is one of luxury and sophisticated design, emphasizing the jewelry's craftsmanship.\",\n      \"objects\": [\n        {\n          \"description\": \"A luxurious ring with a thick, golden chain-link band. The band is composed of interlocking oval links, giving it a substantial and modern feel. The gold has a polished, reflective finish.\",\n          \"location\": \"center\",\n          \"relationship\": \"The band holds the red gemstone securely.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Curved, interlocking golden links\",\n          \"texture\": \"smooth, metallic\",\n          \"appearance_details\": \"The links are uniform in size and have a high-shine finish, suggesting quality craftsmanship.\",\n          \"orientation\": \"circular, with the gemstone facing upwards\"\n        },\n        {\n          \"description\": \"A vibrant, translucent red gemstone, cut into a teardrop or pear shape. It is set securely within a golden bezel at the top of the chain-link band. The stone catches and reflects light, showcasing its deep red hue.\",\n          \"location\": \"top-center of the ring\",\n          \"relationship\": \"It is the focal point of the ring, contrasting with the golden band.\",\n          \"relative_size\": \"medium within the ring\",\n          \"shape_and_color\": \"Teardrop-shaped, deep red\",\n          \"texture\": \"smooth, glassy\",\n          \"appearance_details\": \"The gemstone has multiple facets that contribute to its sparkle and depth of color.\",\n          \"orientation\": \"vertical, with the pointed end facing downwards\"\n        }\n      ],\n      \"background_setting\": \"A clean, minimalist background consisting of a smooth, light beige or off-white surface, providing a neutral canvas that allows the jewelry to stand out without distraction. There are no other discernible objects or textures in the background.\",\n      \"lighting\": {\n        \"conditions\": \"soft, diffused studio lighting\",\n        \"direction\": \"overhead and slightly front-lit\",\n        \"shadows\": \"minimal, very soft, and subtle shadows cast directly beneath the ring, indicating a gentle light source\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"centered, close-up shot\",\n        \"color_scheme\": \"warm complementary colors (gold and red against a neutral background)\",\n        \"mood_atmosphere\": \"elegant, luxurious, sophisticated\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"shallow, with the ring in sharp focus and the background softly blurred\",\n        \"focus\": \"sharp focus on subject\",\n        \"camera_angle\": \"eye-level, slightly overhead\",\n        \"lens_focal_length\": \"macro\"\n      },\n      \"style_medium\": \"photograph\",\n      \"context\": \"This is a product photograph for a high-end jewelry brand, intended for e-commerce, catalog, or editorial use, showcasing the design and quality of the ring.\"\n    }\n    ```\n\n---\n\n**Use Case 3: Refining a previously generated image**\n\n* **Input Image (from previous response - shouldn't be part of the refine request):** ![Example of input image](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/A_hyper_detailed__ultra_fluffy_owl_sitting_in_the_trees_at_night__looking_direct.png)\n* **Input `structured_prompt` (from previous response - should be part of the refine request, toegther with the seed of the visual result):**\n    ```json\n    {\n      \"short_description\": \"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl's large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl's prominence and creating a whimsical, storybook-like atmosphere.\",\n      \"objects\": [\n        {\n          \"description\": \"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.\",\n          \"location\": \"center\",\n          \"relationship\": \"The primary subject, perched on a tree branch, looking directly at the viewer.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.\",\n          \"texture\": \"Extremely soft, downy, and voluminous feathers.\",\n          \"appearance_details\": \"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.\",\n          \"expression\": \"Curious, charming, and adorable with wide, expressive eyes.\",\n          \"orientation\": \"Facing directly forward, head slightly tilted to its right.\"\n        },\n        {\n          \"description\": \"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.\",\n          \"location\": \"bottom-center\",\n          \"relationship\": \"Supports the owl, providing its perch.\",\n          \"relative_size\": \"medium\",\n          \"shape_and_color\": \"Irregular, horizontal shape; dark brown to black.\",\n          \"texture\": \"Rough, gnarled bark.\",\n          \"appearance_details\": \"Some moss or lichen might be subtly visible on its surface.\",\n          \"orientation\": \"Horizontal, extending from left to right across the lower part of the frame.\"\n        }\n      ],\n      \"background_setting\": \"A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.\",\n      \"lighting\": {\n        \"conditions\": \"Cool moonlight, nighttime.\",\n        \"direction\": \"Softly diffused from above and slightly to the front, highlighting the owl's features.\",\n        \"shadows\": \"Soft, subtle shadows on the owl's underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.\",\n        \"color_scheme\": \"Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.\",\n        \"mood_atmosphere\": \"Whimsical, enchanting, serene, and slightly mysterious.\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).\",\n        \"focus\": \"Sharp focus on the owl's eyes and face, with a gradual fall-off of focus towards its body and the branch.\",\n        \"camera_angle\": \"Eye-level, as if directly encountering the owl.\",\n        \"lens_focal_length\": \"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field.\"\n      },\n      \"style_medium\": \"photograph\",\n      \"context\": \"This is a concept for a high-quality, photorealistic image intended for nature photography, children's book illustrations, or a whimsical art print.\",\n      \"artistic_style\": \"realistic, detailed, ethereal\"\n    }\n    ```\n* **Input Refinement Prompt:** `add sunlight`\n* **Output Image:** ![Example of refinement output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/add_sunlight.png)\n* **Output `structured_prompt` (refined):**\n    ```json\n    {\n      \"short_description\": \"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch, bathed in warm sunlight. The owl's large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are brightly illuminated by golden sunlight, revealing delicate golden highlights. The background is a soft blur of sun-dappled, leafy trees, enhancing the owl's prominence and creating a whimsical, storybook-like atmosphere.\",\n      \"objects\": [\n        {\n          \"description\": \"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching bright golden highlights from the sunlight.\",\n          \"location\": \"center\",\n          \"relationship\": \"The primary subject, perched on a tree branch, looking directly at the viewer.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Rounded, plump body with a distinct head; mottled browns, creams, and grays with golden highlights.\",\n          \"texture\": \"Extremely soft, downy, and voluminous feathers.\",\n          \"appearance_details\": \"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of sunlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.\",\n          \"expression\": \"Curious, charming, and adorable with wide, expressive eyes.\",\n          \"orientation\": \"Facing directly forward, head slightly tilted to its right.\"\n        },\n        {\n          \"description\": \"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark, with patches illuminated by sunlight.\",\n          \"location\": \"bottom-center\",\n          \"relationship\": \"Supports the owl, providing its perch.\",\n          \"relative_size\": \"medium\",\n          \"shape_and_color\": \"Irregular, horizontal shape; dark brown to black.\",\n          \"texture\": \"Rough, gnarled bark.\",\n          \"appearance_details\": \"Some moss or lichen might be subtly visible on its surface, highlighted by the sun.\",\n          \"orientation\": \"Horizontal, extending from left to right across the lower part of the frame.\"\n        }\n      ],\n      \"background_setting\": \"A dense forest during the day, with sunlight filtering through the canopy. The background consists of blurred, indistinct shapes of tree trunks and foliage, with dappled light and shadow, suggesting depth and a natural, daytime environment.\",\n      \"lighting\": {\n        \"conditions\": \"Bright, warm sunlight, daytime.\",\n        \"direction\": \"Strongly from above and slightly to the front, creating clear highlights on the owl's features.\",\n        \"shadows\": \"Defined, yet soft shadows on the owl's underside and within the tree branches, adding depth. The background features dappled light and shadow.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.\",\n        \"color_scheme\": \"Warm yellows, greens, and browns in the background, complementing the warm browns and creams of the owl, accented by golden highlights.\",\n        \"mood_atmosphere\": \"Whimsical, enchanting, serene, and joyful.\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).\",\n        \"focus\": \"Sharp focus on the owl's eyes and face, with a gradual fall-off of focus towards its body and the branch.\",\n        \"camera_angle\": \"Eye-level, as if directly encountering the owl.\",\n        \"lens_focal_length\": \"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field.\"\n      },\n      \"style_medium\": \"photograph\",\n      \"context\": \"This is a concept for a high-quality, photorealistic image intended for nature photography, children's book illustrations, or a whimsical art print.\",\n      \"artistic_style\": \"realistic, detailed, ethereal\"\n    }\n    ```"
      operationId: image-generate
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text-based instruction. Can be used alone to create a new prompt, or as a refinement command with an `images` or `structured_prompt`.

                    '
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: "Publicly available URL or Base64-encoded image. Currently supports a single image. \nSupported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                structured_prompt:
                  type: string
                  description: 'A string containing the structured prompt in JSON format. Use a `structured_prompt` from a previous generation''s response or the `/v2/structured_prompt/generate` endpoint for precise refinement.

                    '
                resolution:
                  type: string
                  default: 1MP
                  description: Output image resolution. "4MP" improves image details, especially for photorealism, but will increase latency by 30 seconds.
                  enum:
                  - 1MP
                  - 4MP
                negative_prompt:
                  type: string
                  description: A text prompt specifying concepts, styles, or objects to exclude from the generated image. This parameter is optional.
                model_version:
                  type: string
                  description: 'Generation model version. This parameter is optional.

                    * **If omitted (Default)**: Your request will automatically use Bria''s current default model. This ensures you always benefit from our latest improvements.

                    * **If specified (e.g., "FIBO")**: Your request will be pinned to this exact version.

                    '
                  enum:
                  - FIBO
                aspect_ratio:
                  type: string
                  description: Image aspect ratio. This parameter is optional.
                  default: '1:1'
                  enum:
                  - '1:1'
                  - '2:3'
                  - '3:2'
                  - '3:4'
                  - '4:3'
                  - '4:5'
                  - '5:4'
                  - '9:16'
                  - '16:9'
                steps_num:
                  type: integer
                  description: Number of diffusion steps. Uses model default if omitted. This parameter is optional.
                  default: 50
                  minimum: 35
                  maximum: 50
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200 with the final result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                  - png
                  - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on input prompt moderation failure in the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual input moderation failure. This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual output moderation failure. This parameter is optional.
            examples:
              Generate a new image using a textual prompt:
                value:
                  prompt: A photorealistic, high-resolution rendering of balloon lettering spelling out "HAPPY NEW YEAR 2026" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.
              Generate an image inspired by a reference image:
                value:
                  prompt: a ring inspired by the image
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Generate an image using only a reference image:
                summary: Generate an image inspired by only a reference image
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Refine a previously generated image using its structured_prompt and seed:
                value:
                  prompt: add sunlight
                  structured_prompt: '{"short_description":"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl''s large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl''s prominence and creating a whimsical, storybook-like atmosphere.","objects":[{"description":"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.","location":"center","relationship":"The primary subject, perched on a tree branch, looking directly at the viewer.","relative_size":"large within frame","shape_and_color":"Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.","texture":"Extremely soft, downy, and voluminous feathers.","appearance_details":"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.","expression":"Curious, charming, and adorable with wide, expressive eyes.","orientation":"Facing directly forward, head slightly tilted to its right."},{"description":"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.","location":"bottom-center","relationship":"Supports the owl, providing its perch.","relative_size":"medium","shape_and_color":"Irregular, horizontal shape; dark brown to black.","texture":"Rough, gnarled bark.","appearance_details":"Some moss or lichen might be subtly visible on its surface.","orientation":"Horizontal, extending from left to right across the lower part of the frame."}],"background_setting":"A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.","lighting":{"conditions":"Cool moonlight, nighttime.","direction":"Softly diffused from above and slightly to the front, highlighting the owl''s features.","shadows":"Soft, subtle shadows on the owl''s underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow."},"aesthetics":{"composition":"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.","color_scheme":"Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.","mood_atmosphere":"Whimsical, enchanting, serene, and slightly mysterious.","preference_score":"very high","aesthetic_score":"very high"},"photographic_characteristics":{"depth_of_field":"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).","focus":"Sharp focus on the owl''s eyes and face, with a gradual fall-off of focus towards its body and the branch.","camera_angle":"Eye-level, as if directly encountering the owl.","lens_focal_length":"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."},"style_medium":"photograph","context":"This is a concept for a high-quality, photorealistic image intended for nature photography, children''s book illustrations, or a whimsical art print.","artistic_style":"realistic, detailed, ethereal"}'
                  seed: 123456789
              Recreate a previously generated image:
                value:
                  structured_prompt: '{"short_description":"A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl''s large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl''s prominence and creating a whimsical, storybook-like atmosphere.","objects":[{"description":"A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.","location":"center","relationship":"The primary subject, perched on a tree branch, looking directly at the viewer.","relative_size":"large within frame","shape_and_color":"Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.","texture":"Extremely soft, downy, and voluminous feathers.","appearance_details":"Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.","expression":"Curious, charming, and adorable with wide, expressive eyes.","orientation":"Facing directly forward, head slightly tilted to its right."},{"description":"A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.","location":"bottom-center","relationship":"Supports the owl, providing its perch.","relative_size":"medium","shape_and_color":"Irregular, horizontal shape; dark brown to black.","texture":"Rough, gnarled bark.","appearance_details":"Some moss or lichen might be subtly visible on its surface.","orientation":"Horizontal, extending from left to right across the lower part of the frame."}],"background_setting":"A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.","lighting":{"conditions":"Cool moonlight, nighttime.","direction":"Softly diffused from above and slightly to the front, highlighting the owl''s features.","shadows":"Soft, subtle shadows on the owl''s underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow."},"aesthetics":{"composition":"Centered, close-up portrait composition, with the owl filling a significant portion of the frame.","color_scheme":"Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.","mood_atmosphere":"Whimsical, enchanting, serene, and slightly mysterious.","preference_score":"very high","aesthetic_score":"very high"},"photographic_characteristics":{"depth_of_field":"Shallow, with the owl in sharp focus and the background softly blurred (bokeh).","focus":"Sharp focus on the owl''s eyes and face, with a gradual fall-off of focus towards its body and the branch.","camera_angle":"Eye-level, as if directly encountering the owl.","lens_focal_length":"Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."},"style_medium":"photograph","context":"This is a concept for a high-quality, photorealistic image intended for nature photography, children''s book illustrations, or a whimsical art print.","artistic_style":"realistic, detailed, ethereal"}'
                  seed: 123456789
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessImageGenerate'
        '202':
          description: Accepted (Asynchronous). You can track the progress and retrieve the final result using the Status Service. For more details, refer to the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /image/generate/lite:
    servers:
    - url: https://engine.prod.bria-api.com/v2
    post:
      summary: Generate Image - Lite
      tags:
      - Endpoints
      servers:
      - url: https://engine.prod.bria-api.com/v2
      description: "[**Try out this capability in Bria's sandbox**](https://platform.bria.ai/image-generation/fibo-lite-generate/sandbox)\n\n\n**Description**\n\nGenerates a new image based on your inputs using the **fast and efficient Fibo Lite Pipeline**.\n\nThis all-in-one endpoint utilizes a two-step local-compatible process:\n1. **FIBO-VLM Bridge:** Translates your input (`prompt` and/or `images`) into a structured JSON prompt using Bria's efficient open-source VLM, optimized for rapid inference.\n2. **Fibo Lite Model:** Internally uses the distilled Fibo Lite text-to-image model to generate the final visual. This model is engineered for **low latency**, ensuring faster generation times.\n\n**Fibo Lite's Benefits**\n\nThis pipeline is designed for **speed and privacy**. It delivers significantly faster generation times suitable for high-throughput workflows. \n\nAdditionally, by pairing the distilled Fibo Lite text-to-image model with the FIBO-VLM bridge, the entire pipeline is capable of **fully local, on-prem deployment**.\n\nTo access the local deployment package, please contact us at <a href=\"mailto:support@bria.ai\">support@bria.ai</a>.\n\nFor advanced, programmatic control, you can also pass in your own `structured_prompt` (e.g., from a previous response or the `/v2/structured_prompt/generate/lite` endpoint) to bypass the internal VLM bridge. This allows for precise, auditable refinement or recreation of an image, or to generate multiple variations from the same structured prompt.\n\n---\n\n**Input Combination Rules**\n\nThe request body must include **one** of the following mutually exclusive combinations:\n\n* `prompt` (Generates a new image from text)\n* `images` (Generates a new image inspired by a reference image)\n* `images` + `prompt` (Generates a new image inspired by an image and guided by text)\n* `structured_prompt` (Recreates a previous image exactly, combined with a seed)\n* `structured_prompt` + `prompt` (Refines a previous image using new text instructions, combined with a seed)\n\n---\n** API Access **\n\nYou can register and access the API Token through Bria's platform <a href=\"https://platform.bria.ai/console/account/api-keys\" target=\"_blank\">by clicking here</a>.\n\n---\n***Examples***\n\n**Use Case 1: Using a textual prompt**\n\n* **Input Prompt:** `photorealistic, high resolution rendering, balloon of lettering, \"HAPPY NEW YEAR 2026\", used color is Pantone Bran, Crocus, Deja vu blue, perfect composition and alignment, natural light set, white backdrop, ultra realistic, rich detail`\n* **Output Image:** ![Example of text-to-image output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/new_year_2026.png)\n* **Output `structured_prompt`:**\n    ```json\n    \n    {\n      \"short_description\": \"A photorealistic, high-resolution rendering of balloon lettering spelling out \\\"HAPPY NEW YEAR 2026\\\" against a pristine white background. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.\",\n      \"objects\": [\n        {\n          \"description\": \"A cluster of inflated balloons forming the letters \\\"HAPPY NEW YEAR 2026\\\". Each balloon is individually rendered with realistic inflation, knot, and metallic sheen.\",\n          \"location\": \"center\",\n          \"relationship\": \"The balloons are arranged in two lines: the upper line spelling \\\"HAPPY NEW YEAR\\\" and the lower line spelling \\\"2026\\\".\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Spherical and teardrop shapes, in metallic shades of Pantone Bran (yellow-orange), Crocus (pink), and Deja vu blue (deep blue).\",\n          \"texture\": \"smooth, glossy, metallic, reflective\",\n          \"appearance_details\": \"Each balloon has a visible knot at the bottom, and their surfaces reflect light with a subtle, iridescent quality, mimicking real foil balloons.\",\n          \"number_of_objects\": 20,\n          \"orientation\": \"upright\"\n        }\n      ],\n      \"background_setting\": \"A clean, bright, and uniform white background, providing stark contrast to the colorful balloons and ensuring maximum readability and visual impact.\",\n      \"lighting\": {\n        \"conditions\": \"bright, even studio lighting\",\n        \"direction\": \"soft, diffused lighting from multiple sources\",\n        \"shadows\": \"subtle, soft, and elongated shadows cast by the balloons onto the white background, indicating a light source from above and slightly to the front, adding depth without distraction.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"centered, symmetrical, and balanced composition, with the text arranged in two horizontal lines\",\n        \"color_scheme\": \"A harmonious blend of warm (Pantone Bran, Crocus) and cool (Deja vu blue) metallic colors against a neutral white, creating a festive yet sophisticated palette.\",\n        \"mood_atmosphere\": \"festive, celebratory, elegant, joyful, optimistic\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"deep\",\n        \"focus\": \"sharp focus on all balloons and text\",\n        \"camera_angle\": \"eye-level\",\n        \"lens_focal_length\": \"standard lens (e.g., 50mm)\"\n      },\n      \"style_medium\": \"3D render\",\n      \"text_render\": [\n        {\n          \"text\": \"HAPPY NEW YEAR\",\n          \"location\": \"top-center\",\n          \"size\": \"large\",\n          \"color\": \"metallic (Pantone Bran, Crocus, Deja vu blue)\",\n          \"font\": \"rounded, sans-serif balloon letters\",\n          \"appearance_details\": \"Each letter is formed by multiple inflated balloons, with the colors cycling through the palette.\"\n        },\n        {\n          \"text\": \"2026\",\n          \"location\": \"bottom-center\",\n          \"size\": \"large\",\n          \"color\": \"metallic (Pantone Bran, Crocus, Deja vu blue)\",\n          \"font\": \"rounded, sans-serif balloon numbers\",\n          \"appearance_details\": \"Each number is formed by multiple inflated balloons, with the colors cycling through the palette.\"\n        }\n      ],\n      \"context\": \"This is a graphic design asset or a celebratory greeting card, likely intended for New Year's Eve promotions, digital greetings, or print media for the year 2026.\",\n      \"artistic_style\": \"photorealistic, festive, clean\"\n    }\n    ```\n---\n\n**Use Case 2: Drawing inspiration from a reference image**\n\n* **Input Image:** ![Example of reference image input](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg)\n* **Input Prompt:** `generate a couple in this style`\n* **Output Image:** ![Example of image-to-image output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/generate_a_couple_in_this_style.png)\n* **Output `structured_prompt`:**\n    ```json\n    {\n      \"short_description\": \"A vibrant and dynamic painting in the style of Vincent van Gogh, depicting a couple standing in a landscape under a swirling, star-filled night sky. The scene features rolling hills, a small village with a church steeple, and cypress trees, all rendered with thick impasto brushstrokes and a rich, saturated color palette dominated by blues and yellows.\",\n      \"objects\": [\n        {\n          \"description\": \"A man with short, dark hair and a light-colored shirt, standing with his left arm around a woman.\",\n          \"location\": \"center-left foreground\",\n          \"relationship\": \"The man is embracing the woman, standing together in the landscape.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Human figures, with earthy tones for clothing and skin.\",\n          \"texture\": \"Thick, impasto brushstrokes, giving a textured, painterly feel.\",\n          \"appearance_details\": \"Their faces are turned slightly towards each other, with soft, warm expressions.\",\n          \"pose\": \"Standing upright, with the man's left arm around the woman's waist.\",\n          \"expression\": \"Calm and affectionate.\",\n          \"clothing\": \"The man wears a light-colored, possibly blue or white, shirt. The woman wears a dark dress.\",\n          \"action\": \"Embracing.\",\n          \"gender\": \"male\",\n          \"skin_tone_and_texture\": \"Fair skin tones, rendered with visible brushstrokes.\",\n          \"orientation\": \"vertical\"\n        },\n        {\n          \"description\": \"A woman with long, dark hair and a dark dress, standing next to a man.\",\n          \"location\": \"center-left foreground\",\n          \"relationship\": \"The woman is embraced by the man, standing together in the landscape.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Human figures, with earthy tones for clothing and skin.\",\n          \"texture\": \"Thick, impasto brushstrokes, giving a textured, painterly feel.\",\n          \"appearance_details\": \"Her face is turned slightly towards the man, with soft, warm expressions.\",\n          \"pose\": \"Standing upright, with her right arm gently resting on the man's arm.\",\n          \"expression\": \"Calm and affectionate.\",\n          \"clothing\": \"The woman wears a dark, possibly blue or green, dress.\",\n          \"action\": \"Embracing.\",\n          \"gender\": \"female\",\n          \"skin_tone_and_texture\": \"Fair skin tones, rendered with visible brushstrokes.\",\n          \"orientation\": \"vertical\"\n        },\n        {\n          \"description\": \"A tall, slender cypress tree with dark green foliage.\",\n          \"location\": \"mid-left foreground\",\n          \"relationship\": \"It stands prominently in the foreground, partially obscuring the village and providing a vertical element against the swirling sky.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Conical shape, dark green with hints of brown and black.\",\n          \"texture\": \"Rough, textured surface created by thick paint application.\",\n          \"appearance_details\": \"The brushstrokes are visible, giving it a sense of movement and depth.\",\n          \"orientation\": \"vertical\"\n        },\n        {\n          \"description\": \"A small village with several houses and a prominent church steeple.\",\n          \"location\": \"mid-ground, spanning from left to right\",\n          \"relationship\": \"The village is nestled in the valley below the hills and beneath the starry sky, providing a sense of scale and human presence.\",\n          \"relative_size\": \"medium\",\n          \"shape_and_color\": \"Various rectangular and triangular shapes for houses, with a tall, slender steeple. Colors are predominantly blues, browns, and whites.\",\n          \"texture\": \"Painterly texture with visible brushstrokes, suggesting architectural forms.\",\n          \"appearance_details\": \"Some windows of the houses appear lit, adding warmth to the scene. The church steeple is light-colored and stands out against the darker hills.\",\n          \"number_of_objects\": 1,\n          \"orientation\": \"horizontal\"\n        },\n        {\n          \"description\": \"A bright yellow full moon, surrounded by a soft glow.\",\n          \"location\": \"top-right\",\n          \"relationship\": \"The moon is a central celestial body in the dramatic sky, illuminating the scene.\",\n          \"relative_size\": \"large\",\n          \"shape_and_color\": \"Circular, bright yellow with lighter highlights.\",\n          \"texture\": \"Smooth yet painterly, with visible brushstrokes creating a luminous effect.\",\n          \"appearance_details\": \"It has a distinct halo effect, radiating light.\",\n          \"orientation\": \"vertical\"\n        }\n      ],\n      \"background_setting\": \"A vast, swirling night sky filled with numerous bright yellow stars and dynamic blue and white clouds. The sky transitions from deep indigo at the top to lighter blues and greens closer to the horizon. Below the sky, there are undulating hills and fields, rendered in various shades of blue, purple, and green, suggesting a rural landscape.\",\n      \"lighting\": {\n        \"conditions\": \"moonlight and starlight\",\n        \"direction\": \"diffuse from above and right (from the moon)\",\n        \"shadows\": \"soft, implied shadows on the hills and trees, contributing to depth but not sharply defined.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"dynamic and asymmetrical, with the couple and cypress trees anchoring the left side, balanced by the moon and village on the right. The swirling sky creates a sense of movement and draws the eye across the canvas.\",\n        \"color_scheme\": \"predominantly cool blues and greens, contrasted with warm yellows of the stars and moon, creating a high-contrast and energetic palette.\",\n        \"mood_atmosphere\": \"dreamlike, romantic, serene yet dramatic, with a sense of wonder and cosmic connection.\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"deep\",\n        \"focus\": \"all elements are in focus, characteristic of a painting, with emphasis on the brushwork.\",\n        \"camera_angle\": \"eye-level, as if observing the landscape and sky from a standing position.\",\n        \"lens_focal_length\": \"standard lens (e.g., 35mm-50mm)\"\n      },\n      \"style_medium\": \"oil painting\",\n      \"context\": \"An artistic interpretation of a romantic landscape, evoking the style and emotional intensity of Van Gogh's post-impressionist works. It could be used as a fine art piece, a book cover, or a romantic illustration.\",\n      \"artistic_style\": \"Post-Impressionist, Van Gogh-esque, expressive.\"\n      }\n    ```\n\n---\n\n**Use Case 3: Refining a previously generated image**\n\n* **Input Image (from previous response - shouldn't be part of the refine request):** ![Example of input image](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/A_hyper_detailed__ultra_fluffy_owl_sitting_in_the_trees_at_night__looking_direct.png)\n* **Input `structured_prompt` (from previous response - should be part of the refine request, toegther with the seed of the visual result):**\n    ```json\n    {\n      \"short_description\": \"A hyper-detailed, ultra-fluffy owl sitting in the trees at night, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the cool moonlight with subtle silver highlights. The owl's gaze is curious and full of charm, giving it a whimsical, storybook-like personality.\",\n      \"objects\": [\n        {\n          \"description\": \"An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle silver highlights from the moonlight.\",\n          \"location\": \"center\",\n          \"relationship\": \"The owl is the sole subject, perched comfortably within its environment.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Round head, oval body, predominantly brown and grey with silver highlights.\",\n          \"texture\": \"Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance.\",\n          \"appearance_details\": \"The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.\",\n          \"number_of_objects\": 1,\n          \"pose\": \"Sitting upright, body facing slightly to the right, head turned to face forward.\",\n          \"expression\": \"Curious, innocent, and charming.\",\n          \"action\": \"Sitting and observing.\",\n          \"gender\": \"unknown\",\n          \"orientation\": \"upright\"\n        }\n      ],\n      \"background_setting\": \"A dark, blurred forest at night, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Moonlight subtly illuminates parts of the background, creating a soft, ethereal glow.\",\n      \"lighting\": {\n        \"conditions\": \"moonlight\",\n        \"direction\": \"top-left, casting subtle highlights\",\n        \"shadows\": \"soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"centered, portrait composition, with the owl filling a significant portion of the frame.\",\n        \"color_scheme\": \"cool blues and silvers from the moonlight contrasting with warm browns and grays of the owl's feathers, creating a balanced and enchanting palette.\",\n        \"mood_atmosphere\": \"magical, serene, whimsical, and endearing.\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"shallow\",\n        \"focus\": \"sharp focus on the owl's face and eyes, with a soft blur in the background.\",\n        \"camera_angle\": \"eye-level, as if observing the owl directly.\",\n        \"lens_focal_length\": \"portrait lens (e.g., 50mm-85mm)\"\n      },\n      \"style_medium\": \"digital illustration\",\n      \"context\": \"A whimsical character illustration, likely intended for children's books, animated media, or as a charming decorative art piece.\",\n      \"artistic_style\": \"fantasy, cute, detailed\"\n    }\n    ```\n* **Input Refinement Prompt:** `turn the scene into a daylight scene, with sunlight`\n* **Output Image:** ![Example of refinement output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/turn_the_scene_into_a_daylight_scene__with_sunlight.png)\n* **Output `structured_prompt` (refined):**\n    ```json\n    {\n      \"short_description\": \"A hyper-detailed, ultra-fluffy owl sitting in the trees during the day, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the warm sunlight with subtle golden highlights. The owl's gaze is curious and full of charm, giving it a whimsical, storybook-like personality.\",\n      \"objects\": [\n        {\n          \"description\": \"An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle golden highlights from the sunlight.\",\n          \"location\": \"center\",\n          \"relationship\": \"The owl is the sole subject, perched comfortably within its environment.\",\n          \"relative_size\": \"large within frame\",\n          \"shape_and_color\": \"Round head, oval body, predominantly brown and grey with golden highlights.\",\n          \"texture\": \"Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance.\",\n          \"appearance_details\": \"The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.\",\n          \"number_of_objects\": 1,\n          \"pose\": \"Sitting upright, body facing slightly to the right, head turned to face forward.\",\n          \"expression\": \"Curious, innocent, and charming.\",\n          \"action\": \"Sitting and observing.\",\n          \"gender\": \"unknown\",\n          \"orientation\": \"upright\"\n        }\n      ],\n      \"background_setting\": \"A dark, blurred forest during the day, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Sunlight subtly illuminates parts of the background, creating a soft, ethereal glow.\",\n      \"lighting\": {\n        \"conditions\": \"sunlight\",\n        \"direction\": \"top-left, casting subtle highlights\",\n        \"shadows\": \"soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source.\"\n      },\n      \"aesthetics\": {\n        \"composition\": \"centered, portrait composition, with the owl filling a significant portion of the frame.\",\n        \"color_scheme\": \"warm yellows and oranges from the sunlight contrasting with warm browns and grays of the owl's feathers, creating a balanced and enchanting palette.\",\n        \"mood_atmosphere\": \"magical, serene, whimsical, and endearing.\",\n        \"preference_score\": \"very high\",\n        \"aesthetic_score\": \"very high\"\n      },\n      \"photographic_characteristics\": {\n        \"depth_of_field\": \"shallow\",\n        \"focus\": \"sharp focus on the owl's face and eyes, with a soft blur in the background.\",\n        \"camera_angle\": \"eye-level, as if observing the owl directly.\",\n        \"lens_focal_length\": \"portrait lens (e.g., 50mm-85mm)\"\n      },\n      \"style_medium\": \"digital illustration\",\n      \"context\": \"A whimsical character illustration, likely intended for children's books, animated media, or as a charming decorative art piece.\",\n      \"artistic_style\": \"fantasy, cute, detailed\"\n    }\n    ```"
      operationId: image-generate-lite
      parameters:
      - in: header
        name: api_token
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text-based instruction. Can be used alone to create a new prompt, or as a refinement command with an `images` or `structured_prompt`.

                    '
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: "Publicly available URL or Base64-encoded image. Currently supports a single image. \nSupported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.\n"
                structured_prompt:
                  type: string
                  description: 'A string containing the structured prompt in JSON format. Use a `structured_prompt` from a previous generation''s response or the `/v2/structured_prompt/generate/lite` endpoint for precise refinement.

                    '
                model_version:
                  type: string
                  description: 'Generation model version. This parameter is optional.

                    * **If omitted (Default)**: Your request will automatically use Bria''s current default model. This ensures you always benefit from our latest improvements.

                    * **If specified (e.g., "FIBO")**: Your request will be pinned to this exact version.

                    '
                  enum:
                  - FIBO
                aspect_ratio:
                  type: string
                  description: Image aspect ratio. This parameter is optional.
                  default: '1:1'
                  enum:
                  - '1:1'
                  - '2:3'
                  - '3:2'
                  - '3:4'
                  - '4:3'
                  - '4:5'
                  - '5:4'
                  - '9:16'
                  - '16:9'
                seed:
                  type: integer
                  description: Seed for deterministic generation. Uses a random seed if omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: 'Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200 with the final result.

                    '
                webhook_url:
                  type: string
                  format: uri
                  description: Optional URL for receiving the result via webhook when the async job completes. See [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                  - png
                  - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: If true, returns a warning for potential IP content in the `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on input prompt moderation failure in the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual input moderation failure. This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: If true, returns 422 on visual output moderation failure. This parameter is optional.
            examples:
              Generate a new image using a textual prompt:
                value:
                  prompt: A photorealistic, high-resolution rendering of balloon lettering spelling out "HAPPY NEW YEAR 2026" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.
              Generate an image inspired by a reference image:
                value:
                  prompt: generate a couple in this style
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Generate an image using only a reference image:
                summary: Generate an image inspired by only a reference image
                value:
                  images:
                  - https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Refine a previously generated image using its structured_prompt and seed:
                value:
                  prompt: turn the scene into a daylight scene, with sunlight
                  structured_prompt: '{"aesthetics": {"aesthetic_score": "very high", "color_scheme": "cool blues and silvers from the moonlight contrasting with warm browns and grays of the owl''s feathers, creating a balanced and enchanting palette.", "composition": "centered, portrait composition, with the owl filling a significant portion of the frame.", "mood_atmosphere": "magical, serene, whimsical, and endearing.", "preference_score": "very high"}, "artistic_style": "fantasy, cute, detailed", "background_setting": "A dark, blurred forest at night, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Moonlight subtly illuminates parts of the background, creating a soft, ethereal glow.", "context": "A whimsical character illustration, likely intended for children''s books, animated media, or as a charming decorative art piece.", "lighting": {"conditions": "moonlight", "direction": "top-left, casting subtle highlights", "shadows": "soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source."}, "objects": [{"action": "Sitting and observing.", "appearance_details": "The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.", "description": "An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle silver highlights from the moonlight.", "expression": "Curious, innocent, and charming.", "gender": "unknown", "location": "center", "number_of_objects": 1, "orientation": "upright", "pose": "Sitting upright, body facing slightly to the right, head turned to face forward.", "relationship": "The owl is the sole subject, perched comfortably within its environment.", "relative_size": "large within frame", "shape_and_color": "Round head, oval body, predominantly brown and grey with silver highlights.", "texture": "Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance."}], "photographic_characteristics": {"camera_angle": "eye-level, as if observing the owl directly.", "depth_of_field": "shallow", "focus": "sharp focus on the owl''s face and eyes, with a soft blur in the background.", "lens_focal_length": "portrait lens (e.g., 50mm-85mm)"}, "short_description": "A hyper-detailed, ultra-fluffy owl sitting in the trees at night, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the cool moonlight with subtle silver highlights. The owl''s gaze is curious and full of charm, giving it a whimsical, storybook-like personality.", "style_medium": "digital illustration"}'
                  seed: 123456789
              Recreate a previously generated image:
                value:
[...]
