openapi: 3.0.0
info:
  title: Image Generation API Reference
  version: ''
  description: >
    Below you will find the technical specifications, request schemas, and
    response models for our endpoints. 


    Choose an endpoint from the sidebar to view code samples and run test
    requests.
tags:
  - name: Endpoints
    description: >-
      Routes for generating images and structured prompts using the FIBO
      architecture.
externalDocs:
  description: Register and get API Access
  url: https://platform.bria.ai/organization-management/api-keys
servers:
  - url: https://engine.prod.bria-api.com/v2
paths:
  /image/generate:
    post:
      summary: Generate Image
      tags:
        - Endpoints
      servers:
        - url: https://engine.prod.bria-api.com/v2
      description: >-
        [**Try out this capability in Bria's
        sandbox**](https://platform.bria.ai/image-generation/fibo-generate/sandbox)


        **Description**


        Generates a new image based on your inputs.


        This all-in-one endpoint first translates your input (`prompt` and/or
        `images`) into a structured JSON prompt using the state-of-the-art
        **Gemini 2.5 Flash** VLM bridge. It then *internally* uses that JSON to
        generate the final, deterministic image.


        Use this endpoint for professional workflows that demand the
        highest-fidelity interpretation of your creative vision. The response
        includes both the final `image_url` and the `structured_prompt` (JSON).


        For advanced, programmatic control, you can also pass in your own
        `structured_prompt` (e.g., from a previous response or the
        `/v2/structured_prompt/generate` endpoint) to bypass the internal VLM
        bridge. This allows for precise, auditable refinement or recreation of
        an image, or to generate multiple variations from the same structured
        prompt.


        ---


        **Input Combination Rules**


        The request body must include **one** of the following mutually
        exclusive combinations:


        * `prompt` (Generates a new image from text)

        * `images` (Generates a new image inspired by a reference image)

        * `images` + `prompt` (Generates a new image inspired by an image and
        guided by text)

        * `structured_prompt` (Recreates a previous image exactly, combined with
        a seed)

        * `structured_prompt` + `prompt` (Refines a previous image using new
        text instructions, combined with a seed)


        ---

        **API Access**


        You can register and access the API Token through Bria's platform <a
        href="https://platform.bria.ai/console/account/api-keys"
        target="_blank">by clicking here</a>.


        ---

        ***Examples***


        **Use Case 1: Using a textual prompt**


        * **Input Prompt:** `photorealistic, high resolution rendering, balloon
        of lettering, "HAPPY NEW YEAR 2026", used color is Pantone Bran, Crocus,
        Deja vu blue, perfect composition and alignment, natural light set,
        white backdrop, ultra realistic, rich detail`

        * **Output Image:** ![Example of text-to-image
        output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/new_year_2026.png)

        * **Output `structured_prompt`:**
            ```json
            
            {
              "short_description": "A photorealistic, high-resolution rendering of balloon lettering spelling out \"HAPPY NEW YEAR 2026\" against a pristine white backdrop. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.",
              "objects": [
                {
                  "description": "A cluster of individual balloon letters forming the word \"HAPPY\". Each letter is inflated and has a smooth, highly reflective metallic surface, catching and distorting the ambient light. The letters are arranged horizontally, slightly overlapping to create a cohesive word.",
                  "location": "top-left to center",
                  "relationship": "Part of the main textual display, positioned above 'NEW YEAR'.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Irregular letter shapes, primarily Pantone Bran (a rich, deep orange-brown) with hints of Crocus (a vibrant purple) and Deja vu blue (a muted, dusty blue) in the reflections.",
                  "texture": "Smooth, highly reflective metallic foil.",
                  "appearance_details": "Slightly rounded edges, showing subtle seams where the foil is joined. The surface exhibits a high degree of realism with minor imperfections and creases visible upon close inspection.",
                  "number_of_objects": 5,
                  "orientation": "Horizontal"
                },
                {
                  "description": "A cluster of individual balloon letters forming the phrase \"NEW YEAR\". These letters are also inflated and possess the same metallic, reflective quality as the 'HAPPY' balloons. They are arranged horizontally, directly below 'HAPPY', maintaining a consistent visual style.",
                  "location": "center",
                  "relationship": "Part of the main textual display, positioned below 'HAPPY' and above '2026'.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Irregular letter shapes, primarily Crocus (a vibrant purple) with reflections of Pantone Bran and Deja vu blue.",
                  "texture": "Smooth, highly reflective metallic foil.",
                  "appearance_details": "Each letter is distinct, with a slightly inflated, three-dimensional appearance. The metallic sheen creates a dynamic interplay of light and color across their surfaces.",
                  "number_of_objects": 7,
                  "orientation": "Horizontal"
                },
                {
                  "description": "A cluster of individual balloon numbers forming \"2026\". These numbers are crafted from the same metallic balloon material, maintaining visual continuity with the words above. They are positioned centrally below 'NEW YEAR'.",
                  "location": "bottom-center",
                  "relationship": "Part of the main textual display, positioned below 'NEW YEAR'.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Numerical shapes, primarily Deja vu blue (a muted, dusty blue) with reflections of Pantone Bran and Crocus.",
                  "texture": "Smooth, highly reflective metallic foil.",
                  "appearance_details": "The numbers appear robust and fully inflated, with crisp edges and a flawless metallic finish that reflects the surrounding light sources.",
                  "number_of_objects": 4,
                  "orientation": "Horizontal"
                },
                {
                  "description": "Several small, spherical balloons scattered around the main lettering, acting as decorative accents. These balloons are also metallic and share the same color palette, adding depth and a festive touch to the scene.",
                  "location": "scattered around the main lettering",
                  "relationship": "Complementary decorative elements to the main balloon lettering.",
                  "relative_size": "small",
                  "shape_and_color": "Spherical, in Pantone Bran, Crocus, and Deja vu blue.",
                  "texture": "Smooth, reflective metallic.",
                  "appearance_details": "Perfectly round and shiny, reflecting miniature versions of the light sources and the main lettering.",
                  "number_of_objects": 5,
                  "orientation": "Various, floating"
                }
              ],
              "background_setting": "A clean, seamless white studio backdrop, providing a stark contrast that makes the colorful balloons pop. The backdrop extends smoothly from the floor to the wall, creating an infinite white space that eliminates distractions and emphasizes the subject.",
              "lighting": {
                "conditions": "Bright, natural light, simulating a well-lit studio environment.",
                "direction": "Soft, diffused light coming from slightly above and in front of the balloons, with secondary fill light from the sides.",
                "shadows": "Soft, subtle, and elongated shadows cast behind and beneath the balloons, indicating depth and dimension without being harsh or distracting. The shadows are light gray against the white background."
              },
              "aesthetics": {
                "composition": "Centered and perfectly aligned, with the balloon lettering arranged in a clear, readable hierarchy. The overall composition is balanced and symmetrical, drawing the viewer's eye directly to the celebratory message.",
                "color_scheme": "A vibrant, harmonious palette of Pantone Bran (orange-brown), Crocus (purple), and Deja vu blue, creating a festive yet sophisticated feel against the neutral white background.",
                "mood_atmosphere": "Joyful, celebratory, optimistic, and clean.",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "Shallow, with the balloons in sharp focus and the background subtly blurred to emphasize the subject, though the white backdrop inherently provides minimal blur.",
                "focus": "Sharp focus on the balloon lettering, highlighting the intricate details and reflective surfaces.",
                "camera_angle": "Eye-level, providing a direct and engaging view of the balloon arrangement.",
                "lens_focal_length": "Standard lens (e.g., 50mm), ensuring a natural perspective without distortion, ideal for capturing the full arrangement clearly."
              },
              "style_medium": "photograph",
              "text_render": [
                {
                  "text": "HAPPY NEW YEAR 2026",
                  "location": "center",
                  "size": "large within frame",
                  "color": "Pantone Bran, Crocus, Deja vu blue (as balloon colors)",
                  "font": "inflated balloon lettering",
                  "appearance_details": "Metallic, reflective, three-dimensional balloon letters."
                }
              ],
              "context": "This is a concept for a high-resolution, ultra-realistic promotional image or greeting card for a New Year's celebration, intended for digital display or print media.",
              "artistic_style": "realistic, detailed, vibrant"
            }
            ```
        ---


        **Use Case 2: Drawing inspiration from a reference image**


        * **Input Image:** ![Example of reference image
        input](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg)

        * **Input Prompt:** `a ring inspired by the image`

        * **Output Image:** ![Example of image-to-image
        output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/a_ring_inspired_by_the_image.png)

        * **Output `structured_prompt`:**
            ```json
            {
              "short_description": "A close-up shot of an elegant ring featuring a prominent, teardrop-shaped red gemstone set in a thick, golden chain-link band. The ring is displayed on a smooth, light-colored surface, with soft, diffused lighting highlighting its intricate details and the vibrant color of the stone. The overall impression is one of luxury and sophisticated design, emphasizing the jewelry's craftsmanship.",
              "objects": [
                {
                  "description": "A luxurious ring with a thick, golden chain-link band. The band is composed of interlocking oval links, giving it a substantial and modern feel. The gold has a polished, reflective finish.",
                  "location": "center",
                  "relationship": "The band holds the red gemstone securely.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Curved, interlocking golden links",
                  "texture": "smooth, metallic",
                  "appearance_details": "The links are uniform in size and have a high-shine finish, suggesting quality craftsmanship.",
                  "orientation": "circular, with the gemstone facing upwards"
                },
                {
                  "description": "A vibrant, translucent red gemstone, cut into a teardrop or pear shape. It is set securely within a golden bezel at the top of the chain-link band. The stone catches and reflects light, showcasing its deep red hue.",
                  "location": "top-center of the ring",
                  "relationship": "It is the focal point of the ring, contrasting with the golden band.",
                  "relative_size": "medium within the ring",
                  "shape_and_color": "Teardrop-shaped, deep red",
                  "texture": "smooth, glassy",
                  "appearance_details": "The gemstone has multiple facets that contribute to its sparkle and depth of color.",
                  "orientation": "vertical, with the pointed end facing downwards"
                }
              ],
              "background_setting": "A clean, minimalist background consisting of a smooth, light beige or off-white surface, providing a neutral canvas that allows the jewelry to stand out without distraction. There are no other discernible objects or textures in the background.",
              "lighting": {
                "conditions": "soft, diffused studio lighting",
                "direction": "overhead and slightly front-lit",
                "shadows": "minimal, very soft, and subtle shadows cast directly beneath the ring, indicating a gentle light source"
              },
              "aesthetics": {
                "composition": "centered, close-up shot",
                "color_scheme": "warm complementary colors (gold and red against a neutral background)",
                "mood_atmosphere": "elegant, luxurious, sophisticated",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "shallow, with the ring in sharp focus and the background softly blurred",
                "focus": "sharp focus on subject",
                "camera_angle": "eye-level, slightly overhead",
                "lens_focal_length": "macro"
              },
              "style_medium": "photograph",
              "context": "This is a product photograph for a high-end jewelry brand, intended for e-commerce, catalog, or editorial use, showcasing the design and quality of the ring."
            }
            ```

        ---


        **Use Case 3: Refining a previously generated image**


        * **Input Image (from previous response - shouldn't be part of the
        refine request):** ![Example of input
        image](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/A_hyper_detailed__ultra_fluffy_owl_sitting_in_the_trees_at_night__looking_direct.png)

        * **Input `structured_prompt` (from previous response - should be part
        of the refine request, toegther with the seed of the visual result):**
            ```json
            {
              "short_description": "A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch at night. The owl's large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are subtly illuminated by cool moonlight, revealing delicate silver highlights. The background is a soft blur of dark, leafy trees, enhancing the owl's prominence and creating a whimsical, storybook-like atmosphere.",
              "objects": [
                {
                  "description": "A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching subtle silver highlights from the moonlight.",
                  "location": "center",
                  "relationship": "The primary subject, perched on a tree branch, looking directly at the viewer.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Rounded, plump body with a distinct head; mottled browns, creams, and grays with silver highlights.",
                  "texture": "Extremely soft, downy, and voluminous feathers.",
                  "appearance_details": "Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of moonlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.",
                  "expression": "Curious, charming, and adorable with wide, expressive eyes.",
                  "orientation": "Facing directly forward, head slightly tilted to its right."
                },
                {
                  "description": "A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark.",
                  "location": "bottom-center",
                  "relationship": "Supports the owl, providing its perch.",
                  "relative_size": "medium",
                  "shape_and_color": "Irregular, horizontal shape; dark brown to black.",
                  "texture": "Rough, gnarled bark.",
                  "appearance_details": "Some moss or lichen might be subtly visible on its surface.",
                  "orientation": "Horizontal, extending from left to right across the lower part of the frame."
                }
              ],
              "background_setting": "A dense, dark forest at night. The background consists of blurred, indistinct shapes of tree trunks and foliage, suggesting depth and a natural, nocturnal environment. A faint, ethereal glow from the moon filters through the canopy.",
              "lighting": {
                "conditions": "Cool moonlight, nighttime.",
                "direction": "Softly diffused from above and slightly to the front, highlighting the owl's features.",
                "shadows": "Soft, subtle shadows on the owl's underside and within the tree branches, adding depth without obscuring details. The background is largely in deep shadow."
              },
              "aesthetics": {
                "composition": "Centered, close-up portrait composition, with the owl filling a significant portion of the frame.",
                "color_scheme": "Cool blues, grays, and dark greens in the background, contrasting with the warm browns and creams of the owl, accented by silver highlights.",
                "mood_atmosphere": "Whimsical, enchanting, serene, and slightly mysterious.",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "Shallow, with the owl in sharp focus and the background softly blurred (bokeh).",
                "focus": "Sharp focus on the owl's eyes and face, with a gradual fall-off of focus towards its body and the branch.",
                "camera_angle": "Eye-level, as if directly encountering the owl.",
                "lens_focal_length": "Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."
              },
              "style_medium": "photograph",
              "context": "This is a concept for a high-quality, photorealistic image intended for nature photography, children's book illustrations, or a whimsical art print.",
              "artistic_style": "realistic, detailed, ethereal"
            }
            ```
        * **Input Refinement Prompt:** `add sunlight`

        * **Output Image:** ![Example of refinement
        output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/add_sunlight.png)

        * **Output `structured_prompt` (refined):**
            ```json
            {
              "short_description": "A close-up, photorealistic image of an ultra-fluffy owl perched on a tree branch, bathed in warm sunlight. The owl's large, expressive eyes gaze directly at the viewer, conveying curiosity and charm. Its voluminous feathers, a mix of soft browns and creams, are brightly illuminated by golden sunlight, revealing delicate golden highlights. The background is a soft blur of sun-dappled, leafy trees, enhancing the owl's prominence and creating a whimsical, storybook-like atmosphere.",
              "objects": [
                {
                  "description": "A hyper-detailed, ultra-fluffy owl with soft, voluminous feathers. Its head is slightly tilted, and its body is plump and rounded, emphasizing its fluffiness. The feathers are a blend of warm browns, creams, and grays, with individual strands visible and catching bright golden highlights from the sunlight.",
                  "location": "center",
                  "relationship": "The primary subject, perched on a tree branch, looking directly at the viewer.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Rounded, plump body with a distinct head; mottled browns, creams, and grays with golden highlights.",
                  "texture": "Extremely soft, downy, and voluminous feathers.",
                  "appearance_details": "Large, round, dark eyes with a bright, curious, and charming expression. The eyes reflect a tiny pinpoint of sunlight, adding to their expressiveness. Small, dark beak partially hidden by feathers.",
                  "expression": "Curious, charming, and adorable with wide, expressive eyes.",
                  "orientation": "Facing directly forward, head slightly tilted to its right."
                },
                {
                  "description": "A sturdy, dark tree branch, partially visible, providing a perch for the owl. Its surface is rough and textured, suggesting aged bark, with patches illuminated by sunlight.",
                  "location": "bottom-center",
                  "relationship": "Supports the owl, providing its perch.",
                  "relative_size": "medium",
                  "shape_and_color": "Irregular, horizontal shape; dark brown to black.",
                  "texture": "Rough, gnarled bark.",
                  "appearance_details": "Some moss or lichen might be subtly visible on its surface, highlighted by the sun.",
                  "orientation": "Horizontal, extending from left to right across the lower part of the frame."
                }
              ],
              "background_setting": "A dense forest during the day, with sunlight filtering through the canopy. The background consists of blurred, indistinct shapes of tree trunks and foliage, with dappled light and shadow, suggesting depth and a natural, daytime environment.",
              "lighting": {
                "conditions": "Bright, warm sunlight, daytime.",
                "direction": "Strongly from above and slightly to the front, creating clear highlights on the owl's features.",
                "shadows": "Defined, yet soft shadows on the owl's underside and within the tree branches, adding depth. The background features dappled light and shadow."
              },
              "aesthetics": {
                "composition": "Centered, close-up portrait composition, with the owl filling a significant portion of the frame.",
                "color_scheme": "Warm yellows, greens, and browns in the background, complementing the warm browns and creams of the owl, accented by golden highlights.",
                "mood_atmosphere": "Whimsical, enchanting, serene, and joyful.",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "Shallow, with the owl in sharp focus and the background softly blurred (bokeh).",
                "focus": "Sharp focus on the owl's eyes and face, with a gradual fall-off of focus towards its body and the branch.",
                "camera_angle": "Eye-level, as if directly encountering the owl.",
                "lens_focal_length": "Portrait lens (e.g., 85mm-100mm) to achieve a tight crop and shallow depth of field."
              },
              "style_medium": "photograph",
              "context": "This is a concept for a high-quality, photorealistic image intended for nature photography, children's book illustrations, or a whimsical art print.",
              "artistic_style": "realistic, detailed, ethereal"
            }
            ```
      operationId: image-generate
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: >
                    Text-based instruction. Can be used alone to create a new
                    prompt, or as a refinement command with an `images` or
                    `structured_prompt`.
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: >
                    Publicly available URL or Base64-encoded image. Currently
                    supports a single image. 

                    Supported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.
                structured_prompt:
                  type: string
                  description: >
                    A string containing the structured prompt in JSON format.
                    Use a `structured_prompt` from a previous generation's
                    response or the `/v2/structured_prompt/generate` endpoint
                    for precise refinement.
                resolution:
                  type: string
                  default: 1MP
                  description: >-
                    Output image resolution. "4MP" improves image details,
                    especially for photorealism, but will increase latency by 30
                    seconds.
                  enum:
                    - 1MP
                    - 4MP
                negative_prompt:
                  type: string
                  description: >-
                    A text prompt specifying concepts, styles, or objects to
                    exclude from the generated image. This parameter is
                    optional.
                model_version:
                  type: string
                  description: >
                    Generation model version. This parameter is optional.

                    * **If omitted (Default)**: Your request will automatically
                    use Bria's current default model. This ensures you always
                    benefit from our latest improvements.

                    * **If specified (e.g., "FIBO")**: Your request will be
                    pinned to this exact version.
                  enum:
                    - FIBO
                aspect_ratio:
                  type: string
                  description: Image aspect ratio. This parameter is optional.
                  default: '1:1'
                  enum:
                    - '1:1'
                    - '2:3'
                    - '3:2'
                    - '3:4'
                    - '4:3'
                    - '4:5'
                    - '5:4'
                    - '9:16'
                    - '16:9'
                steps_num:
                  type: integer
                  description: >-
                    Number of diffusion steps. Uses model default if omitted.
                    This parameter is optional.
                  default: 50
                  minimum: 35
                  maximum: 50
                seed:
                  type: integer
                  description: >-
                    Seed for deterministic generation. Uses a random seed if
                    omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: >
                    Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a
                    `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200
                    with the final result.
                webhook_url:
                  type: string
                  format: uri
                  description: >-
                    Optional URL for receiving the result via webhook when the
                    async job completes. See
                    [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                    - png
                    - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: >-
                    If true, returns a warning for potential IP content in the
                    `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on input prompt moderation failure in
                    the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on visual input moderation failure.
                    This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on visual output moderation failure.
                    This parameter is optional.
            examples:
              Generate a new image using a textual prompt:
                value:
                  prompt: >-
                    A photorealistic, high-resolution rendering of balloon
                    lettering spelling out "HAPPY NEW YEAR 2026" against a
                    pristine white backdrop. The balloons are meticulously
                    crafted with a metallic, reflective surface, showcasing a
                    vibrant color palette of Pantone Bran, Crocus, and Deja vu
                    blue. The composition is perfectly aligned and balanced,
                    emphasizing the celebratory message with natural, soft
                    lighting that creates subtle, elegant reflections and
                    shadows.
              Generate an image inspired by a reference image:
                value:
                  prompt: a ring inspired by the image
                  images:
                    - >-
                      https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Generate an image using only a reference image:
                summary: Generate an image inspired by only a reference image
                value:
                  images:
                    - >-
                      https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Refine a previously generated image using its structured_prompt and seed:
                value:
                  prompt: add sunlight
                  structured_prompt: >-
                    {"short_description":"A close-up, photorealistic image of an
                    ultra-fluffy owl perched on a tree branch at night. The
                    owl's large, expressive eyes gaze directly at the viewer,
                    conveying curiosity and charm. Its voluminous feathers, a
                    mix of soft browns and creams, are subtly illuminated by
                    cool moonlight, revealing delicate silver highlights. The
                    background is a soft blur of dark, leafy trees, enhancing
                    the owl's prominence and creating a whimsical,
                    storybook-like atmosphere.","objects":[{"description":"A
                    hyper-detailed, ultra-fluffy owl with soft, voluminous
                    feathers. Its head is slightly tilted, and its body is plump
                    and rounded, emphasizing its fluffiness. The feathers are a
                    blend of warm browns, creams, and grays, with individual
                    strands visible and catching subtle silver highlights from
                    the moonlight.","location":"center","relationship":"The
                    primary subject, perched on a tree branch, looking directly
                    at the viewer.","relative_size":"large within
                    frame","shape_and_color":"Rounded, plump body with a
                    distinct head; mottled browns, creams, and grays with silver
                    highlights.","texture":"Extremely soft, downy, and
                    voluminous feathers.","appearance_details":"Large, round,
                    dark eyes with a bright, curious, and charming expression.
                    The eyes reflect a tiny pinpoint of moonlight, adding to
                    their expressiveness. Small, dark beak partially hidden by
                    feathers.","expression":"Curious, charming, and adorable
                    with wide, expressive eyes.","orientation":"Facing directly
                    forward, head slightly tilted to its
                    right."},{"description":"A sturdy, dark tree branch,
                    partially visible, providing a perch for the owl. Its
                    surface is rough and textured, suggesting aged
                    bark.","location":"bottom-center","relationship":"Supports
                    the owl, providing its
                    perch.","relative_size":"medium","shape_and_color":"Irregular,
                    horizontal shape; dark brown to black.","texture":"Rough,
                    gnarled bark.","appearance_details":"Some moss or lichen
                    might be subtly visible on its
                    surface.","orientation":"Horizontal, extending from left to
                    right across the lower part of the
                    frame."}],"background_setting":"A dense, dark forest at
                    night. The background consists of blurred, indistinct shapes
                    of tree trunks and foliage, suggesting depth and a natural,
                    nocturnal environment. A faint, ethereal glow from the moon
                    filters through the canopy.","lighting":{"conditions":"Cool
                    moonlight, nighttime.","direction":"Softly diffused from
                    above and slightly to the front, highlighting the owl's
                    features.","shadows":"Soft, subtle shadows on the owl's
                    underside and within the tree branches, adding depth without
                    obscuring details. The background is largely in deep
                    shadow."},"aesthetics":{"composition":"Centered, close-up
                    portrait composition, with the owl filling a significant
                    portion of the frame.","color_scheme":"Cool blues, grays,
                    and dark greens in the background, contrasting with the warm
                    browns and creams of the owl, accented by silver
                    highlights.","mood_atmosphere":"Whimsical, enchanting,
                    serene, and slightly mysterious.","preference_score":"very
                    high","aesthetic_score":"very
                    high"},"photographic_characteristics":{"depth_of_field":"Shallow,
                    with the owl in sharp focus and the background softly
                    blurred (bokeh).","focus":"Sharp focus on the owl's eyes and
                    face, with a gradual fall-off of focus towards its body and
                    the branch.","camera_angle":"Eye-level, as if directly
                    encountering the owl.","lens_focal_length":"Portrait lens
                    (e.g., 85mm-100mm) to achieve a tight crop and shallow depth
                    of field."},"style_medium":"photograph","context":"This is a
                    concept for a high-quality, photorealistic image intended
                    for nature photography, children's book illustrations, or a
                    whimsical art print.","artistic_style":"realistic, detailed,
                    ethereal"}
                  seed: 123456789
              Recreate a previously generated image:
                value:
                  structured_prompt: >-
                    {"short_description":"A close-up, photorealistic image of an
                    ultra-fluffy owl perched on a tree branch at night. The
                    owl's large, expressive eyes gaze directly at the viewer,
                    conveying curiosity and charm. Its voluminous feathers, a
                    mix of soft browns and creams, are subtly illuminated by
                    cool moonlight, revealing delicate silver highlights. The
                    background is a soft blur of dark, leafy trees, enhancing
                    the owl's prominence and creating a whimsical,
                    storybook-like atmosphere.","objects":[{"description":"A
                    hyper-detailed, ultra-fluffy owl with soft, voluminous
                    feathers. Its head is slightly tilted, and its body is plump
                    and rounded, emphasizing its fluffiness. The feathers are a
                    blend of warm browns, creams, and grays, with individual
                    strands visible and catching subtle silver highlights from
                    the moonlight.","location":"center","relationship":"The
                    primary subject, perched on a tree branch, looking directly
                    at the viewer.","relative_size":"large within
                    frame","shape_and_color":"Rounded, plump body with a
                    distinct head; mottled browns, creams, and grays with silver
                    highlights.","texture":"Extremely soft, downy, and
                    voluminous feathers.","appearance_details":"Large, round,
                    dark eyes with a bright, curious, and charming expression.
                    The eyes reflect a tiny pinpoint of moonlight, adding to
                    their expressiveness. Small, dark beak partially hidden by
                    feathers.","expression":"Curious, charming, and adorable
                    with wide, expressive eyes.","orientation":"Facing directly
                    forward, head slightly tilted to its
                    right."},{"description":"A sturdy, dark tree branch,
                    partially visible, providing a perch for the owl. Its
                    surface is rough and textured, suggesting aged
                    bark.","location":"bottom-center","relationship":"Supports
                    the owl, providing its
                    perch.","relative_size":"medium","shape_and_color":"Irregular,
                    horizontal shape; dark brown to black.","texture":"Rough,
                    gnarled bark.","appearance_details":"Some moss or lichen
                    might be subtly visible on its
                    surface.","orientation":"Horizontal, extending from left to
                    right across the lower part of the
                    frame."}],"background_setting":"A dense, dark forest at
                    night. The background consists of blurred, indistinct shapes
                    of tree trunks and foliage, suggesting depth and a natural,
                    nocturnal environment. A faint, ethereal glow from the moon
                    filters through the canopy.","lighting":{"conditions":"Cool
                    moonlight, nighttime.","direction":"Softly diffused from
                    above and slightly to the front, highlighting the owl's
                    features.","shadows":"Soft, subtle shadows on the owl's
                    underside and within the tree branches, adding depth without
                    obscuring details. The background is largely in deep
                    shadow."},"aesthetics":{"composition":"Centered, close-up
                    portrait composition, with the owl filling a significant
                    portion of the frame.","color_scheme":"Cool blues, grays,
                    and dark greens in the background, contrasting with the warm
                    browns and creams of the owl, accented by silver
                    highlights.","mood_atmosphere":"Whimsical, enchanting,
                    serene, and slightly mysterious.","preference_score":"very
                    high","aesthetic_score":"very
                    high"},"photographic_characteristics":{"depth_of_field":"Shallow,
                    with the owl in sharp focus and the background softly
                    blurred (bokeh).","focus":"Sharp focus on the owl's eyes and
                    face, with a gradual fall-off of focus towards its body and
                    the branch.","camera_angle":"Eye-level, as if directly
                    encountering the owl.","lens_focal_length":"Portrait lens
                    (e.g., 85mm-100mm) to achieve a tight crop and shallow depth
                    of field."},"style_medium":"photograph","context":"This is a
                    concept for a high-quality, photorealistic image intended
                    for nature photography, children's book illustrations, or a
                    whimsical art print.","artistic_style":"realistic, detailed,
                    ethereal"}
                  seed: 123456789
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessImageGenerate'
        '202':
          description: >-
            Accepted (Asynchronous). You can track the progress and retrieve the
            final result using the Status Service. For more details, refer to
            the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /image/generate/lite:
    post:
      summary: Generate Image - Lite
      tags:
        - Endpoints
      servers:
        - url: https://engine.prod.bria-api.com/v2
      description: >-
        [**Try out this capability in Bria's
        sandbox**](https://platform.bria.ai/image-generation/fibo-lite-generate/sandbox)



        **Description**


        Generates a new image based on your inputs using the **fast and
        efficient Fibo Lite Pipeline**.


        This all-in-one endpoint utilizes a two-step local-compatible process:

        1. **FIBO-VLM Bridge:** Translates your input (`prompt` and/or `images`)
        into a structured JSON prompt using Bria's efficient open-source VLM,
        optimized for rapid inference.

        2. **Fibo Lite Model:** Internally uses the distilled Fibo Lite
        text-to-image model to generate the final visual. This model is
        engineered for **low latency**, ensuring faster generation times.


        **Fibo Lite's Benefits**


        This pipeline is designed for **speed and privacy**. It delivers
        significantly faster generation times suitable for high-throughput
        workflows. 


        Additionally, by pairing the distilled Fibo Lite text-to-image model
        with the FIBO-VLM bridge, the entire pipeline is capable of **fully
        local, on-prem deployment**.


        To access the local deployment package, please contact us at <a
        href="mailto:support@bria.ai">support@bria.ai</a>.


        For advanced, programmatic control, you can also pass in your own
        `structured_prompt` (e.g., from a previous response or the
        `/v2/structured_prompt/generate/lite` endpoint) to bypass the internal
        VLM bridge. This allows for precise, auditable refinement or recreation
        of an image, or to generate multiple variations from the same structured
        prompt.


        ---


        **Input Combination Rules**


        The request body must include **one** of the following mutually
        exclusive combinations:


        * `prompt` (Generates a new image from text)

        * `images` (Generates a new image inspired by a reference image)

        * `images` + `prompt` (Generates a new image inspired by an image and
        guided by text)

        * `structured_prompt` (Recreates a previous image exactly, combined with
        a seed)

        * `structured_prompt` + `prompt` (Refines a previous image using new
        text instructions, combined with a seed)


        ---

        ** API Access **


        You can register and access the API Token through Bria's platform <a
        href="https://platform.bria.ai/console/account/api-keys"
        target="_blank">by clicking here</a>.


        ---

        ***Examples***


        **Use Case 1: Using a textual prompt**


        * **Input Prompt:** `photorealistic, high resolution rendering, balloon
        of lettering, "HAPPY NEW YEAR 2026", used color is Pantone Bran, Crocus,
        Deja vu blue, perfect composition and alignment, natural light set,
        white backdrop, ultra realistic, rich detail`

        * **Output Image:** ![Example of text-to-image
        output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/new_year_2026.png)

        * **Output `structured_prompt`:**
            ```json
            
            {
              "short_description": "A photorealistic, high-resolution rendering of balloon lettering spelling out \"HAPPY NEW YEAR 2026\" against a pristine white background. The balloons are meticulously crafted with a metallic, reflective surface, showcasing a vibrant color palette of Pantone Bran, Crocus, and Deja vu blue. The composition is perfectly aligned and balanced, emphasizing the celebratory message with natural, soft lighting that creates subtle, elegant reflections and shadows.",
              "objects": [
                {
                  "description": "A cluster of inflated balloons forming the letters \"HAPPY NEW YEAR 2026\". Each balloon is individually rendered with realistic inflation, knot, and metallic sheen.",
                  "location": "center",
                  "relationship": "The balloons are arranged in two lines: the upper line spelling \"HAPPY NEW YEAR\" and the lower line spelling \"2026\".",
                  "relative_size": "large within frame",
                  "shape_and_color": "Spherical and teardrop shapes, in metallic shades of Pantone Bran (yellow-orange), Crocus (pink), and Deja vu blue (deep blue).",
                  "texture": "smooth, glossy, metallic, reflective",
                  "appearance_details": "Each balloon has a visible knot at the bottom, and their surfaces reflect light with a subtle, iridescent quality, mimicking real foil balloons.",
                  "number_of_objects": 20,
                  "orientation": "upright"
                }
              ],
              "background_setting": "A clean, bright, and uniform white background, providing stark contrast to the colorful balloons and ensuring maximum readability and visual impact.",
              "lighting": {
                "conditions": "bright, even studio lighting",
                "direction": "soft, diffused lighting from multiple sources",
                "shadows": "subtle, soft, and elongated shadows cast by the balloons onto the white background, indicating a light source from above and slightly to the front, adding depth without distraction."
              },
              "aesthetics": {
                "composition": "centered, symmetrical, and balanced composition, with the text arranged in two horizontal lines",
                "color_scheme": "A harmonious blend of warm (Pantone Bran, Crocus) and cool (Deja vu blue) metallic colors against a neutral white, creating a festive yet sophisticated palette.",
                "mood_atmosphere": "festive, celebratory, elegant, joyful, optimistic",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "deep",
                "focus": "sharp focus on all balloons and text",
                "camera_angle": "eye-level",
                "lens_focal_length": "standard lens (e.g., 50mm)"
              },
              "style_medium": "3D render",
              "text_render": [
                {
                  "text": "HAPPY NEW YEAR",
                  "location": "top-center",
                  "size": "large",
                  "color": "metallic (Pantone Bran, Crocus, Deja vu blue)",
                  "font": "rounded, sans-serif balloon letters",
                  "appearance_details": "Each letter is formed by multiple inflated balloons, with the colors cycling through the palette."
                },
                {
                  "text": "2026",
                  "location": "bottom-center",
                  "size": "large",
                  "color": "metallic (Pantone Bran, Crocus, Deja vu blue)",
                  "font": "rounded, sans-serif balloon numbers",
                  "appearance_details": "Each number is formed by multiple inflated balloons, with the colors cycling through the palette."
                }
              ],
              "context": "This is a graphic design asset or a celebratory greeting card, likely intended for New Year's Eve promotions, digital greetings, or print media for the year 2026.",
              "artistic_style": "photorealistic, festive, clean"
            }
            ```
        ---


        **Use Case 2: Drawing inspiration from a reference image**


        * **Input Image:** ![Example of reference image
        input](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg)

        * **Input Prompt:** `generate a couple in this style`

        * **Output Image:** ![Example of image-to-image
        output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/generate_a_couple_in_this_style.png)

        * **Output `structured_prompt`:**
            ```json
            {
              "short_description": "A vibrant and dynamic painting in the style of Vincent van Gogh, depicting a couple standing in a landscape under a swirling, star-filled night sky. The scene features rolling hills, a small village with a church steeple, and cypress trees, all rendered with thick impasto brushstrokes and a rich, saturated color palette dominated by blues and yellows.",
              "objects": [
                {
                  "description": "A man with short, dark hair and a light-colored shirt, standing with his left arm around a woman.",
                  "location": "center-left foreground",
                  "relationship": "The man is embracing the woman, standing together in the landscape.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Human figures, with earthy tones for clothing and skin.",
                  "texture": "Thick, impasto brushstrokes, giving a textured, painterly feel.",
                  "appearance_details": "Their faces are turned slightly towards each other, with soft, warm expressions.",
                  "pose": "Standing upright, with the man's left arm around the woman's waist.",
                  "expression": "Calm and affectionate.",
                  "clothing": "The man wears a light-colored, possibly blue or white, shirt. The woman wears a dark dress.",
                  "action": "Embracing.",
                  "gender": "male",
                  "skin_tone_and_texture": "Fair skin tones, rendered with visible brushstrokes.",
                  "orientation": "vertical"
                },
                {
                  "description": "A woman with long, dark hair and a dark dress, standing next to a man.",
                  "location": "center-left foreground",
                  "relationship": "The woman is embraced by the man, standing together in the landscape.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Human figures, with earthy tones for clothing and skin.",
                  "texture": "Thick, impasto brushstrokes, giving a textured, painterly feel.",
                  "appearance_details": "Her face is turned slightly towards the man, with soft, warm expressions.",
                  "pose": "Standing upright, with her right arm gently resting on the man's arm.",
                  "expression": "Calm and affectionate.",
                  "clothing": "The woman wears a dark, possibly blue or green, dress.",
                  "action": "Embracing.",
                  "gender": "female",
                  "skin_tone_and_texture": "Fair skin tones, rendered with visible brushstrokes.",
                  "orientation": "vertical"
                },
                {
                  "description": "A tall, slender cypress tree with dark green foliage.",
                  "location": "mid-left foreground",
                  "relationship": "It stands prominently in the foreground, partially obscuring the village and providing a vertical element against the swirling sky.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Conical shape, dark green with hints of brown and black.",
                  "texture": "Rough, textured surface created by thick paint application.",
                  "appearance_details": "The brushstrokes are visible, giving it a sense of movement and depth.",
                  "orientation": "vertical"
                },
                {
                  "description": "A small village with several houses and a prominent church steeple.",
                  "location": "mid-ground, spanning from left to right",
                  "relationship": "The village is nestled in the valley below the hills and beneath the starry sky, providing a sense of scale and human presence.",
                  "relative_size": "medium",
                  "shape_and_color": "Various rectangular and triangular shapes for houses, with a tall, slender steeple. Colors are predominantly blues, browns, and whites.",
                  "texture": "Painterly texture with visible brushstrokes, suggesting architectural forms.",
                  "appearance_details": "Some windows of the houses appear lit, adding warmth to the scene. The church steeple is light-colored and stands out against the darker hills.",
                  "number_of_objects": 1,
                  "orientation": "horizontal"
                },
                {
                  "description": "A bright yellow full moon, surrounded by a soft glow.",
                  "location": "top-right",
                  "relationship": "The moon is a central celestial body in the dramatic sky, illuminating the scene.",
                  "relative_size": "large",
                  "shape_and_color": "Circular, bright yellow with lighter highlights.",
                  "texture": "Smooth yet painterly, with visible brushstrokes creating a luminous effect.",
                  "appearance_details": "It has a distinct halo effect, radiating light.",
                  "orientation": "vertical"
                }
              ],
              "background_setting": "A vast, swirling night sky filled with numerous bright yellow stars and dynamic blue and white clouds. The sky transitions from deep indigo at the top to lighter blues and greens closer to the horizon. Below the sky, there are undulating hills and fields, rendered in various shades of blue, purple, and green, suggesting a rural landscape.",
              "lighting": {
                "conditions": "moonlight and starlight",
                "direction": "diffuse from above and right (from the moon)",
                "shadows": "soft, implied shadows on the hills and trees, contributing to depth but not sharply defined."
              },
              "aesthetics": {
                "composition": "dynamic and asymmetrical, with the couple and cypress trees anchoring the left side, balanced by the moon and village on the right. The swirling sky creates a sense of movement and draws the eye across the canvas.",
                "color_scheme": "predominantly cool blues and greens, contrasted with warm yellows of the stars and moon, creating a high-contrast and energetic palette.",
                "mood_atmosphere": "dreamlike, romantic, serene yet dramatic, with a sense of wonder and cosmic connection.",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "deep",
                "focus": "all elements are in focus, characteristic of a painting, with emphasis on the brushwork.",
                "camera_angle": "eye-level, as if observing the landscape and sky from a standing position.",
                "lens_focal_length": "standard lens (e.g., 35mm-50mm)"
              },
              "style_medium": "oil painting",
              "context": "An artistic interpretation of a romantic landscape, evoking the style and emotional intensity of Van Gogh's post-impressionist works. It could be used as a fine art piece, a book cover, or a romantic illustration.",
              "artistic_style": "Post-Impressionist, Van Gogh-esque, expressive."
              }
            ```

        ---


        **Use Case 3: Refining a previously generated image**


        * **Input Image (from previous response - shouldn't be part of the
        refine request):** ![Example of input
        image](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/A_hyper_detailed__ultra_fluffy_owl_sitting_in_the_trees_at_night__looking_direct.png)

        * **Input `structured_prompt` (from previous response - should be part
        of the refine request, toegther with the seed of the visual result):**
            ```json
            {
              "short_description": "A hyper-detailed, ultra-fluffy owl sitting in the trees at night, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the cool moonlight with subtle silver highlights. The owl's gaze is curious and full of charm, giving it a whimsical, storybook-like personality.",
              "objects": [
                {
                  "description": "An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle silver highlights from the moonlight.",
                  "location": "center",
                  "relationship": "The owl is the sole subject, perched comfortably within its environment.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Round head, oval body, predominantly brown and grey with silver highlights.",
                  "texture": "Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance.",
                  "appearance_details": "The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.",
                  "number_of_objects": 1,
                  "pose": "Sitting upright, body facing slightly to the right, head turned to face forward.",
                  "expression": "Curious, innocent, and charming.",
                  "action": "Sitting and observing.",
                  "gender": "unknown",
                  "orientation": "upright"
                }
              ],
              "background_setting": "A dark, blurred forest at night, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Moonlight subtly illuminates parts of the background, creating a soft, ethereal glow.",
              "lighting": {
                "conditions": "moonlight",
                "direction": "top-left, casting subtle highlights",
                "shadows": "soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source."
              },
              "aesthetics": {
                "composition": "centered, portrait composition, with the owl filling a significant portion of the frame.",
                "color_scheme": "cool blues and silvers from the moonlight contrasting with warm browns and grays of the owl's feathers, creating a balanced and enchanting palette.",
                "mood_atmosphere": "magical, serene, whimsical, and endearing.",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "shallow",
                "focus": "sharp focus on the owl's face and eyes, with a soft blur in the background.",
                "camera_angle": "eye-level, as if observing the owl directly.",
                "lens_focal_length": "portrait lens (e.g., 50mm-85mm)"
              },
              "style_medium": "digital illustration",
              "context": "A whimsical character illustration, likely intended for children's books, animated media, or as a charming decorative art piece.",
              "artistic_style": "fantasy, cute, detailed"
            }
            ```
        * **Input Refinement Prompt:** `turn the scene into a daylight scene,
        with sunlight`

        * **Output Image:** ![Example of refinement
        output](https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/turn_the_scene_into_a_daylight_scene__with_sunlight.png)

        * **Output `structured_prompt` (refined):**
            ```json
            {
              "short_description": "A hyper-detailed, ultra-fluffy owl sitting in the trees during the day, looking directly at the camera with wide, adorable, expressive eyes. Its feathers are soft and voluminous, catching the warm sunlight with subtle golden highlights. The owl's gaze is curious and full of charm, giving it a whimsical, storybook-like personality.",
              "objects": [
                {
                  "description": "An adorable, fluffy owl with large, expressive eyes and soft, voluminous feathers. It has a round head, small ear tufts, and a slightly downturned beak. Its plumage is a mix of warm browns, grays, and subtle golden highlights from the sunlight.",
                  "location": "center",
                  "relationship": "The owl is the sole subject, perched comfortably within its environment.",
                  "relative_size": "large within frame",
                  "shape_and_color": "Round head, oval body, predominantly brown and grey with golden highlights.",
                  "texture": "Extremely soft, fluffy, and detailed feathers, giving a plush toy-like appearance.",
                  "appearance_details": "The eyes are wide, dark, and reflective, conveying a sense of wonder and innocence. The beak is small and light-colored, almost blending with the feathers.",
                  "number_of_objects": 1,
                  "pose": "Sitting upright, body facing slightly to the right, head turned to face forward.",
                  "expression": "Curious, innocent, and charming.",
                  "action": "Sitting and observing.",
                  "gender": "unknown",
                  "orientation": "upright"
                }
              ],
              "background_setting": "A dark, blurred forest during the day, with hints of tree trunks and foliage visible. The background is uniformly dark, emphasizing the owl as the central focus. Sunlight subtly illuminates parts of the background, creating a soft, ethereal glow.",
              "lighting": {
                "conditions": "sunlight",
                "direction": "top-left, casting subtle highlights",
                "shadows": "soft, diffused shadows on the right side of the owl and within the background foliage, indicating a gentle light source."
              },
              "aesthetics": {
                "composition": "centered, portrait composition, with the owl filling a significant portion of the frame.",
                "color_scheme": "warm yellows and oranges from the sunlight contrasting with warm browns and grays of the owl's feathers, creating a balanced and enchanting palette.",
                "mood_atmosphere": "magical, serene, whimsical, and endearing.",
                "preference_score": "very high",
                "aesthetic_score": "very high"
              },
              "photographic_characteristics": {
                "depth_of_field": "shallow",
                "focus": "sharp focus on the owl's face and eyes, with a soft blur in the background.",
                "camera_angle": "eye-level, as if observing the owl directly.",
                "lens_focal_length": "portrait lens (e.g., 50mm-85mm)"
              },
              "style_medium": "digital illustration",
              "context": "A whimsical character illustration, likely intended for children's books, animated media, or as a charming decorative art piece.",
              "artistic_style": "fantasy, cute, detailed"
            }
            ```
      operationId: image-generate-lite
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: >
                    Text-based instruction. Can be used alone to create a new
                    prompt, or as a refinement command with an `images` or
                    `structured_prompt`.
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: >
                    Publicly available URL or Base64-encoded image. Currently
                    supports a single image. 

                    Supported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.
                structured_prompt:
                  type: string
                  description: >
                    A string containing the structured prompt in JSON format.
                    Use a `structured_prompt` from a previous generation's
                    response or the `/v2/structured_prompt/generate/lite`
                    endpoint for precise refinement.
                model_version:
                  type: string
                  description: >
                    Generation model version. This parameter is optional.

                    * **If omitted (Default)**: Your request will automatically
                    use Bria's current default model. This ensures you always
                    benefit from our latest improvements.

                    * **If specified (e.g., "FIBO")**: Your request will be
                    pinned to this exact version.
                  enum:
                    - FIBO
                aspect_ratio:
                  type: string
                  description: Image aspect ratio. This parameter is optional.
                  default: '1:1'
                  enum:
                    - '1:1'
                    - '2:3'
                    - '3:2'
                    - '3:4'
                    - '4:3'
                    - '4:5'
                    - '5:4'
                    - '9:16'
                    - '16:9'
                seed:
                  type: integer
                  description: >-
                    Seed for deterministic generation. Uses a random seed if
                    omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: >
                    Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a
                    `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200
                    with the final result.
                webhook_url:
                  type: string
                  format: uri
                  description: >-
                    Optional URL for receiving the result via webhook when the
                    async job completes. See
                    [Webhooks](https://docs.bria.ai/webhooks).
                output_type:
                  type: string
                  default: png
                  enum:
                    - png
                    - jpeg
                  description: The desired output format
                ip_signal:
                  type: boolean
                  default: false
                  description: >-
                    If true, returns a warning for potential IP content in the
                    `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on input prompt moderation failure in
                    the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on visual input moderation failure.
                    This parameter is optional.
                visual_output_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on visual output moderation failure.
                    This parameter is optional.
            examples:
              Generate a new image using a textual prompt:
                value:
                  prompt: >-
                    A photorealistic, high-resolution rendering of balloon
                    lettering spelling out "HAPPY NEW YEAR 2026" against a
                    pristine white backdrop. The balloons are meticulously
                    crafted with a metallic, reflective surface, showcasing a
                    vibrant color palette of Pantone Bran, Crocus, and Deja vu
                    blue. The composition is perfectly aligned and balanced,
                    emphasizing the celebratory message with natural, soft
                    lighting that creates subtle, elegant reflections and
                    shadows.
              Generate an image inspired by a reference image:
                value:
                  prompt: generate a couple in this style
                  images:
                    - >-
                      https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Generate an image using only a reference image:
                summary: Generate an image inspired by only a reference image
                value:
                  images:
                    - >-
                      https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo-lite/ref_1.jpg
              Refine a previously generated image using its structured_prompt and seed:
                value:
                  prompt: turn the scene into a daylight scene, with sunlight
                  structured_prompt: >-
                    {"aesthetics": {"aesthetic_score": "very high",
                    "color_scheme": "cool blues and silvers from the moonlight
                    contrasting with warm browns and grays of the owl's
                    feathers, creating a balanced and enchanting palette.",
                    "composition": "centered, portrait composition, with the owl
                    filling a significant portion of the frame.",
                    "mood_atmosphere": "magical, serene, whimsical, and
                    endearing.", "preference_score": "very high"},
                    "artistic_style": "fantasy, cute, detailed",
                    "background_setting": "A dark, blurred forest at night, with
                    hints of tree trunks and foliage visible. The background is
                    uniformly dark, emphasizing the owl as the central focus.
                    Moonlight subtly illuminates parts of the background,
                    creating a soft, ethereal glow.", "context": "A whimsical
                    character illustration, likely intended for children's
                    books, animated media, or as a charming decorative art
                    piece.", "lighting": {"conditions": "moonlight",
                    "direction": "top-left, casting subtle highlights",
                    "shadows": "soft, diffused shadows on the right side of the
                    owl and within the background foliage, indicating a gentle
                    light source."}, "objects": [{"action": "Sitting and
                    observing.", "appearance_details": "The eyes are wide, dark,
                    and reflective, conveying a sense of wonder and innocence.
                    The beak is small and light-colored, almost blending with
                    the feathers.", "description": "An adorable, fluffy owl with
                    large, expressive eyes and soft, voluminous feathers. It has
                    a round head, small ear tufts, and a slightly downturned
                    beak. Its plumage is a mix of warm browns, grays, and subtle
                    silver highlights from the moonlight.", "expression":
                    "Curious, innocent, and charming.", "gender": "unknown",
                    "location": "center", "number_of_objects": 1, "orientation":
                    "upright", "pose": "Sitting upright, body facing slightly to
                    the right, head turned to face forward.", "relationship":
                    "The owl is the sole subject, perched comfortably within its
                    environment.", "relative_size": "large within frame",
                    "shape_and_color": "Round head, oval body, predominantly
                    brown and grey with silver highlights.", "texture":
                    "Extremely soft, fluffy, and detailed feathers, giving a
                    plush toy-like appearance."}],
                    "photographic_characteristics": {"camera_angle": "eye-level,
                    as if observing the owl directly.", "depth_of_field":
                    "shallow", "focus": "sharp focus on the owl's face and eyes,
                    with a soft blur in the background.", "lens_focal_length":
                    "portrait lens (e.g., 50mm-85mm)"}, "short_description": "A
                    hyper-detailed, ultra-fluffy owl sitting in the trees at
                    night, looking directly at the camera with wide, adorable,
                    expressive eyes. Its feathers are soft and voluminous,
                    catching the cool moonlight with subtle silver highlights.
                    The owl's gaze is curious and full of charm, giving it a
                    whimsical, storybook-like personality.", "style_medium":
                    "digital illustration"}
                  seed: 123456789
              Recreate a previously generated image:
                value:
                  structured_prompt: >-
                    {"aesthetics": {"aesthetic_score": "very high",
                    "color_scheme": "cool blues and silvers from the moonlight
                    contrasting with warm browns and grays of the owl's
                    feathers, creating a balanced and enchanting palette.",
                    "composition": "centered, portrait composition, with the owl
                    filling a significant portion of the frame.",
                    "mood_atmosphere": "magical, serene, whimsical, and
                    endearing.", "preference_score": "very high"},
                    "artistic_style": "fantasy, cute, detailed",
                    "background_setting": "A dark, blurred forest at night, with
                    hints of tree trunks and foliage visible. The background is
                    uniformly dark, emphasizing the owl as the central focus.
                    Moonlight subtly illuminates parts of the background,
                    creating a soft, ethereal glow.", "context": "A whimsical
                    character illustration, likely intended for children's
                    books, animated media, or as a charming decorative art
                    piece.", "lighting": {"conditions": "moonlight",
                    "direction": "top-left, casting subtle highlights",
                    "shadows": "soft, diffused shadows on the right side of the
                    owl and within the background foliage, indicating a gentle
                    light source."}, "objects": [{"action": "Sitting and
                    observing.", "appearance_details": "The eyes are wide, dark,
                    and reflective, conveying a sense of wonder and innocence.
                    The beak is small and light-colored, almost blending with
                    the feathers.", "description": "An adorable, fluffy owl with
                    large, expressive eyes and soft, voluminous feathers. It has
                    a round head, small ear tufts, and a slightly downturned
                    beak. Its plumage is a mix of warm browns, grays, and subtle
                    silver highlights from the moonlight.", "expression":
                    "Curious, innocent, and charming.", "gender": "unknown",
                    "location": "center", "number_of_objects": 1, "orientation":
                    "upright", "pose": "Sitting upright, body facing slightly to
                    the right, head turned to face forward.", "relationship":
                    "The owl is the sole subject, perched comfortably within its
                    environment.", "relative_size": "large within frame",
                    "shape_and_color": "Round head, oval body, predominantly
                    brown and grey with silver highlights.", "texture":
                    "Extremely soft, fluffy, and detailed feathers, giving a
                    plush toy-like appearance."}],
                    "photographic_characteristics": {"camera_angle": "eye-level,
                    as if observing the owl directly.", "depth_of_field":
                    "shallow", "focus": "sharp focus on the owl's face and eyes,
                    with a soft blur in the background.", "lens_focal_length":
                    "portrait lens (e.g., 50mm-85mm)"}, "short_description": "A
                    hyper-detailed, ultra-fluffy owl sitting in the trees at
                    night, looking directly at the camera with wide, adorable,
                    expressive eyes. Its feathers are soft and voluminous,
                    catching the cool moonlight with subtle silver highlights.
                    The owl's gaze is curious and full of charm, giving it a
                    whimsical, storybook-like personality.", "style_medium":
                    "digital illustration"}
                  seed: 123456789
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessImageGenerate'
        '202':
          description: >-
            Accepted (Asynchronous). You can track the progress and retrieve the
            final result using the Status Service. For more details, refer to
            the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /structured_prompt/generate:
    post:
      summary: Generate Structured Prompt
      tags:
        - Endpoints
      servers:
        - url: https://engine.prod.bria-api.com/v2
      description: >
        Creates a new detailed, machine-readable structured prompt in JSON
        format or refines an existing one using text or image inputs.


        This endpoint uses the state-of-the-art **Gemini 2.5 Flash** VLM bridge
        to generate the prompt, providing superior understanding of nuanced or
        complex inputs. It **only returns the JSON string** and does not
        generate an image.


        **Why use this endpoint?**


        This endpoint decouples the "intent translation" step from the "image
        generation" step, giving you maximum flexibility.


        * **It's Optional:** The same structured prompt generation happens
        automatically behind the scenes when using `/v2/image/generate`.

        * **Control & Auditability:** Allows for a "human-in-the-loop" to
        inspect, programmatically edit, or version the JSON *before* generating
        an image (e.g., for a custom UI).

        * **Consistency & Automation:** Generate one `structured_prompt` and
        pass it to `/v2/image/generate` multiple times to create consistent,
        auditable variations.

        * **Hybrid Deployment:** Use Bria's state-of-the-art VLM bridge via API
        while self-hosting the open-source FIBO image model on your own private
        cloud.


        The resulting `structured_prompt` can be used as input for the
        `/v2/image/generate` endpoint.


        **Input Combination Rules**


        The request body must use exactly one of the following combinations:

        * **Text Only**: `prompt`

        * **Image Only**: `images`

        * **Image and Text**: `images` and `prompt`

        * **Structured Prompt and Text**: `structured_prompt` and `prompt`


        ---

        ** API Access **


        You can register and access the API Token through Bria's platform <a
        href="https://platform.bria.ai/console/account/api-keys"
        target="_blank">by clicking here</a>.
      operationId: structured-prompt-generate
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: >
                    Text-based instruction. Can be used alone to create a new
                    prompt, or as a refinement command with an `images` or
                    `structured_prompt`.
                images:
                  type: array
                  items:
                    type: string
                  maxItems: 1
                  description: >
                    Publicly available URL or Base64-encoded image. Currently
                    supports a single image. 

                    Supported formats: **JPEG**, **JPG**, **PNG**, **WEBP**.
                structured_prompt:
                  type: string
                  description: >
                    A string containing the structured prompt in JSON format.
                    Use a `structured_prompt` from a previous generation's
                    response.
                seed:
                  type: integer
                  description: >-
                    Seed for deterministic generation. Uses a random seed if
                    omitted. This parameter is optional.
                sync:
                  type: boolean
                  default: false
                  description: >
                    Response mode. This parameter is optional.

                    * `false` (default): Asynchronous. Returns 202 with a
                    `status_url` to poll.

                    * `true`: Synchronous. Holds the connection and returns 200
                    with the final result.
                webhook_url:
                  type: string
                  format: uri
                  description: >-
                    Optional URL for receiving the result via webhook when the
                    async job completes. See
                    [Webhooks](https://docs.bria.ai/webhooks).
                ip_signal:
                  type: boolean
                  default: false
                  description: >-
                    If true, returns a warning for potential IP content in the
                    `prompt` parameter. This parameter is optional.
                prompt_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on input prompt moderation failure in
                    the `prompt` parameter. This parameter is optional.
                visual_input_content_moderation:
                  type: boolean
                  default: true
                  description: >-
                    If true, returns 422 on visual input moderation failure.
                    This parameter is optional.
            examples:
              Text Only:
                value:
                  prompt: >-
                    A photorealistic, high-resolution rendering of balloon
                    lettering spelling out "HAPPY NEW YEAR 2026" against a
                    pristine white backdrop. The balloons are meticulously
                    crafted with a metallic, reflective surface, showcasing a
                    vibrant color palette of Pantone Bran, Crocus, and Deja vu
                    blue. The composition is perfectly aligned and balanced,
                    emphasizing the celebratory message with natural, soft
                    lighting that creates subtle, elegant reflections and
                    shadows.
              Image Only:
                value:
                  images:
                    - >-
                      https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
              Image and Text:
                value:
                  images:
                    - >-
                      https://bria-datasets.s3.us-east-1.amazonaws.com/api_doc/fibo/ref_1.jpg
                  prompt: a ring inspired by the image
              Structured Prompt and Text:
                value:
                  structured_prompt: >-
                    {"short_description":"A close-up, photorealistic image of an
                    ultra-fluffy owl perched on a tree branch at night. The
                    owl's large, expressive eyes gaze directly at the viewer,
                    conveying curiosity and charm. Its voluminous feathers, a
                    mix of soft browns and creams, are subtly illuminated by
                    cool moonlight, revealing delicate silver highlights. The
                    background is a soft blur of dark, leafy trees, enhancing
                    the owl's prominence and creating a whimsical,
                    storybook-like atmosphere.","objects":[{"description":"A
                    hyper-detailed, ultra-fluffy owl with soft, voluminous
                    feathers. Its head is slightly tilted, and its body is plump
                    and rounded, emphasizing its fluffiness. The feathers are a
                    blend of warm browns, creams, and grays, with individual
                    strands visible and catching subtle silver highlights from
                    the moonlight.","location":"center","relationship":"The
                    primary subject, perched on a tree branch, looking directly
                    at the viewer.","relative_size":"large within
                    frame","shape_and_color":"Rounded, plump body with a
                    distinct head; mottled browns, creams, and grays with silver
                    highlights.","texture":"Extremely soft, downy, and
                    voluminous feathers.","appearance_details":"Large, round,
                    dark eyes with a bright, curious, and charming expression.
                    The eyes reflect a tiny pinpoint of moonlight, adding to
                    their expressiveness. Small, dark beak partially hidden by
                    feathers.","expression":"Curious, charming, and adorable
                    with wide, expressive eyes.","orientation":"Facing directly
                    forward, head slightly tilted to its
                    right."},{"description":"A sturdy, dark tree branch,
                    partially visible, providing a perch for the owl. Its
                    surface is rough and textured, suggesting aged
                    bark.","location":"bottom-center","relationship":"Supports
                    the owl, providing its
                    perch.","relative_size":"medium","shape_and_color":"Irregular,
                    horizontal shape; dark brown to black.","texture":"Rough,
                    gnarled bark.","appearance_details":"Some moss or lichen
                    might be subtly visible on its
                    surface.","orientation":"Horizontal, extending from left to
                    right across the lower part of the
                    frame."}],"background_setting":"A dense, dark forest at
                    night. The background consists of blurred, indistinct shapes
                    of tree trunks and foliage, suggesting depth and a natural,
                    nocturnal environment. A faint, ethereal glow from the moon
                    filters through the canopy.","lighting":{"conditions":"Cool
                    moonlight, nighttime.","direction":"Softly diffused from
                    above and slightly to the front, highlighting the owl's
                    features.","shadows":"Soft, subtle shadows on the owl's
                    underside and within the tree branches, adding depth without
                    obscuring details. The background is largely in deep
                    shadow."},"aesthetics":{"composition":"Centered, close-up
                    portrait composition, with the owl filling a significant
                    portion of the frame.","color_scheme":"Cool blues, grays,
                    and dark greens in the background, contrasting with the warm
                    browns and creams of the owl, accented by silver
                    highlights.","mood_atmosphere":"Whimsical, enchanting,
                    serene, and slightly mysterious.","preference_score":"very
                    high","aesthetic_score":"very
                    high"},"photographic_characteristics":{"depth_of_field":"Shallow,
                    with the owl in sharp focus and the background softly
                    blurred (bokeh).","focus":"Sharp focus on the owl's eyes and
                    face, with a gradual fall-off of focus towards its body and
                    the branch.","camera_angle":"Eye-level, as if directly
                    encountering the owl.","lens_focal_length":"Portrait lens
                    (e.g., 85mm-100mm) to achieve a tight crop and shallow depth
                    of field."},"style_medium":"photograph","context":"This is a
                    concept for a high-quality, photorealistic image intended
                    for nature photography, children's book illustrations, or a
                    whimsical art print.","artistic_style":"realistic, detailed,
                    ethereal"}
                  prompt: add sunlight
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncSuccessStructPromptGenerate'
        '202':
          description: >-
            Accepted (Asynchronous). You can track the progress and retrieve the
            final result using the Status Service. For more details, refer to
            the [Status Service](https://docs.bria.ai/status) section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInitialResponseWithWarning'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity (e.g., moderation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Request limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        5XX:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /structured_prompt/generate_from_diff:
    post:
      summary: Generate Structured Prompt from Diff
      tags:
        - Endpoints
      servers:
        - url: https://engine.prod.bria-api.com/v2
      description: >
        Generates a new, optimized `structured_prompt` by analyzing the semantic
        difference between an original structred_prompt and a user-edited
        version. This endpoint is relevant for applications that allow for
        manual inline structured_prompt editing.
      operationId: structured-prompt-generate-from-diff
      parameters:
        - in: header
          name: api_token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - structured_prompt
                - user_adjusted_structured_prompt
              properties:
                structured_prompt:
                  type: string
                  description: >
                    A string containing the original structured prompt in JSON
                    format.
                user_adjusted_structured_prompt:
                  type: string
                  description: >
                    A string containing the manually modified structured prompt
                    in JSON format.
                seed:
                  type: integer
                  description: >-
                    Seed for deterministic generation. Uses a random seed if
                    omitted.
                sync:
                  type: boolean
                  default: false
                  description: |
                    Response mode.
                    * `false` (default): Asynchronous. Returns 202.
                    * `true`: Synchronous. Returns 200 with result.
                webhook_url:
                  type: string
                  format: uri
                  description: >-
                    Optional URL for receiving the result via webhook when the
                    async job completes. See
                    [Webhooks](https://docs.bria.ai/webhooks).
                model_version:
                  type: string
                  description: |
                    Generation model version.
                  enum:
                    - FIBO
      responses:
        '200':
          description: Successful operation (Synchronous Success)
          content:
            application/json:
              schema:
[...]
